USE [Herreras]
GO
/****** Objeto: Table [dbo].[occobpro] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occobpro](
	[Empresa] [int] NOT NULL,
	[TipoDoc] [varchar](2) NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[NroEfecto] [int] NOT NULL,
	[NroPago] [int] NOT NULL,
	[Almacen] [int] NULL,
	[Importe] [money] NULL,
	[Proveedor] [int] NULL,
	[EmpresaCaja] [int] NULL,
	[AlmacenCaja] [int] NULL,
	[Caja] [int] NULL,
	[Operacion] [int] NULL,
	[TipoEfecto] [int] NULL,
	[EmpresaOpe] [int] NULL,
	[TipoDocOpe] [varchar](2) NULL,
	[EjercicioOpe] [int] NULL,
	[SerieOpe] [varchar](2) NULL,
	[NroDocOpe] [int] NULL,
	[FechaOpe] [smalldatetime] NULL,
	[Documento] [varchar](60) NULL,
	[EmpresaConta] [int] NULL,
	[EjercicioConta] [int] NULL,
	[Asiento] [int] NULL,
	[Apunte] [int] NULL,
	[Situacion] [int] NULL,
	[Canal] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occobpro] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[TipoDoc] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC,
	[NroEfecto] ASC,
	[NroPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
