USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocmail] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocmail](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[TipoDoc] [varchar](2) NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroMail] [int] NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[Asunto] [varchar](128) NULL,
	[Texto] [text] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [smalldatetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocmail] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Ejercicio] ASC,
	[TipoDoc] ASC,
	[Serie] ASC,
	[NroMail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocmail] ADD  CONSTRAINT [DF_ocmail_Fecha]  DEFAULT ('01/01/1900 00:00:00') FOR [Fecha]
GO
ALTER TABLE [dbo].[ocmail] ADD  CONSTRAINT [DF_ocmail_Asunto]  DEFAULT ('') FOR [Asunto]
GO
ALTER TABLE [dbo].[ocmail] ADD  CONSTRAINT [DF_ocmail_Texto]  DEFAULT ('') FOR [Texto]
GO
ALTER TABLE [dbo].[ocmail] ADD  CONSTRAINT [DF_ocmail_EmpresaModif]  DEFAULT ((0)) FOR [EmpresaModif]
GO
ALTER TABLE [dbo].[ocmail] ADD  CONSTRAINT [DF_ocmail_AlmacenModif]  DEFAULT ((0)) FOR [AlmacenModif]
GO
ALTER TABLE [dbo].[ocmail] ADD  CONSTRAINT [DF_ocmail_InstanteModif]  DEFAULT ('01/01/1900 00:00:00') FOR [InstanteModif]
GO
ALTER TABLE [dbo].[ocmail] ADD  CONSTRAINT [DF_ocmail_NoTrigger]  DEFAULT ('S') FOR [NoTrigger]
GO
