USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocequinodo] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocequinodo](
	[NodoAmazon] [varchar](80) NOT NULL,
	[DescripcionLarga] [varchar](120) NULL,
	[Familia] [varchar](15) NOT NULL,
	[Descripcion] [varchar](100) NULL,
 CONSTRAINT [PK_ocequinodo] PRIMARY KEY CLUSTERED 
(
	[NodoAmazon] ASC,
	[Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocequinodo] ADD  CONSTRAINT [DF_ocequinodo_DescripcionLarga]  DEFAULT ('') FOR [DescripcionLarga]
GO
ALTER TABLE [dbo].[ocequinodo] ADD  CONSTRAINT [DF_ocequinodo_Familia]  DEFAULT ('') FOR [Familia]
GO
ALTER TABLE [dbo].[ocequinodo] ADD  CONSTRAINT [DF_ocequinodo_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
