USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartreb] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartreb](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Temporada] [varchar](5) NOT NULL,
	[Serie] [varchar](1) NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Tarifa] [int] NULL,
	[PrecioSIva] [money] NULL,
	[PVP] [money] NULL,
	[Ajuste] [money] NULL,
	[AjusteMenos] [money] NULL,
	[Up] [varchar](1) NULL,
	[ImpComision] [money] NULL,
	[Margen1] [float] NULL,
	[Precio1] [money] NULL,
	[PorDto1] [float] NULL,
	[FechaIni1] [smalldatetime] NULL,
	[FechaFin1] [smalldatetime] NULL,
	[Estado1] [varchar](1) NULL,
	[ImpComision1] [money] NULL,
	[Margen2] [float] NULL,
	[Precio2] [money] NULL,
	[PorDto2] [float] NULL,
	[FechaIni2] [smalldatetime] NULL,
	[FechaFin2] [smalldatetime] NULL,
	[Estado2] [varchar](1) NULL,
	[ImpComision2] [money] NULL,
	[Margen3] [float] NULL,
	[Precio3] [money] NULL,
	[PorDto3] [float] NULL,
	[FechaIni3] [smalldatetime] NULL,
	[FechaFin3] [smalldatetime] NULL,
	[Estado3] [varchar](1) NULL,
	[ImpComision3] [money] NULL,
	[Margen4] [float] NULL,
	[Precio4] [money] NULL,
	[PorDto4] [float] NULL,
	[FechaIni4] [smalldatetime] NULL,
	[FechaFin4] [smalldatetime] NULL,
	[Estado4] [varchar](1) NULL,
	[ImpComision4] [money] NULL,
	[Margen5] [float] NULL,
	[Precio5] [money] NULL,
	[PorDto5] [float] NULL,
	[FechaIni5] [smalldatetime] NULL,
	[FechaFin5] [smalldatetime] NULL,
	[Estado5] [varchar](1) NULL,
	[ImpComision5] [money] NULL,
	[Selected] [varchar](1) NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteImprEtiqueta] [datetime] NULL,
	[InstanteImprRebaja] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[DesdePVP] [money] NULL,
	[HastaPVP] [money] NULL,
	[ColorPro] [varchar](25) NULL,
	[GrupoPrecios] [int] NULL,
 CONSTRAINT [PK_ocartreb] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC,
	[Temporada] ASC,
	[Serie] ASC,
	[Empresa] ASC,
	[Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
