USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocapunte] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocapunte](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Asiento] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[Cuenta] [varchar](15) NULL,
	[CuentaDebe] [varchar](15) NULL,
	[CuentaHaber] [varchar](15) NULL,
	[ImpDebe] [money] NULL,
	[ImpHaber] [money] NULL,
	[CuentaCpda] [varchar](15) NULL,
	[PorIva] [float] NULL,
	[PorRE] [float] NULL,
	[ImpBaseImp] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocapunte] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Asiento] ASC,
	[Orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
