USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajparm] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajparm](
	[Perfil] [varchar](20) NOT NULL,
	[TipoDoc] [varchar](2) NOT NULL,
	[TipoOpe] [varchar](1) NOT NULL,
	[Descripcion] [varchar](40) NULL,
	[NroCopias] [int] NULL,
	[TipoImp] [varchar](1) NULL,
	[FormatoUser] [varchar](25) NULL,
	[VariosFormatos] [varchar](1) NULL,
	[VerPantalla] [varchar](1) NULL,
	[TextoCab] [text] NULL,
	[TextoPie] [text] NULL,
	[UsarDriver] [varchar](1) NULL,
	[Caja] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occajparm] PRIMARY KEY CLUSTERED 
(
	[Perfil] ASC,
	[TipoDoc] ASC,
	[TipoOpe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
