USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocnewpedart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocnewpedart](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[EmpresaPed] [int] NOT NULL,
	[AlmacenPed] [int] NOT NULL,
	[Proveedor] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Cantidad] [float] NULL,
	[Col] [int] NULL,
	[Row] [int] NULL,
	[Fecha] [smalldatetime] NULL,
	[Entradas] [float] NULL,
	[Salidas] [float] NULL,
	[Stock] [float] NULL,
	[PteRecibir] [float] NULL,
	[PrecioSIva] [money] NULL,
	[NetoSIva] [money] NULL,
	[ColorBas] [int] NULL,
	[Origen] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[UniVtaPer] [float] NULL,
	[PteServir] [float] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocnewpedart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC,
	[EmpresaPed] ASC,
	[AlmacenPed] ASC,
	[Proveedor] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
