USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgendoc] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgendoc](
	[Sesion] [int] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[TipoDoc] [varchar](2) NULL,
	[Ejercicio] [int] NULL,
	[Serie] [varchar](2) NULL,
	[Fecha] [smalldatetime] NULL,
	[DocExterno] [varchar](15) NULL,
	[Tarifa] [int] NULL,
	[Valoracion] [int] NULL,
	[Vendedor] [int] NULL,
	[Valorado] [varchar](1) NULL,
	[AsociadoPed] [varchar](1) NULL,
	[Tipo] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgendoc] PRIMARY KEY CLUSTERED 
(
	[Sesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
