USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocmsgimp] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocmsgimp](
	[EmpresaDoc] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroMsg] [int] NOT NULL,
	[Perfil] [varchar](25) NOT NULL,
	[Bandeja] [varchar](1) NOT NULL,
	[TipoDoc] [varchar](2) NULL,
	[Empresa] [int] NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Fecha] [smalldatetime] NULL,
	[EmpresaDes] [int] NULL,
	[AlmacenDes] [int] NULL,
	[VendedorRemOri] [int] NULL,
	[VendedorDes] [int] NULL,
	[Texto] [text] NULL,
	[Estado] [varchar](1) NULL,
	[EmpresaRemOri] [int] NULL,
	[AlmacenRemOri] [int] NULL,
	[EjercicioRemOri] [int] NULL,
	[SerieRemOri] [varchar](2) NULL,
	[NroMsgRemOri] [int] NULL,
	[InstanteCreacion] [datetime] NULL,
	[InstanteEnvio] [datetime] NULL,
	[InstanteLeido] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Almacen] [int] NULL,
	[Vendedor] [int] NULL,
	[Operacion] [int] NULL,
	[EmpresaDocRemOri] [int] NULL,
	[OperacionRemOri] [int] NULL,
	[InstanteCreacionRemOri] [datetime] NULL,
	[InstanteEnvioRemOri] [datetime] NULL,
	[PerfilDes] [varchar](25) NULL,
	[Cantidad] [float] NULL,
	[PerfilRemOri] [varchar](25) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocmsgimp] PRIMARY KEY CLUSTERED 
(
	[EmpresaDoc] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroMsg] ASC,
	[Perfil] ASC,
	[Bandeja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocmsgimp] ADD  CONSTRAINT [DF__ocmsgimp__Empres__53E25DCE]  DEFAULT ((0)) FOR [EmpresaDoc]
GO
ALTER TABLE [dbo].[ocmsgimp] ADD  CONSTRAINT [DF__ocmsgimp__Perfil__55CAA640]  DEFAULT ('') FOR [Perfil]
GO
ALTER TABLE [dbo].[ocmsgimp] ADD  CONSTRAINT [DF__ocmsgimp__Bandej__54D68207]  DEFAULT ('') FOR [Bandeja]
GO
