USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgmovarr] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgmovarr](
	[Numero] [int] NOT NULL,
	[Orden] [int] NULL,
	[Arreglo] [int] NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Fecha] [smalldatetime] NULL,
	[Hora] [smalldatetime] NULL,
	[Empresa] [int] NULL,
	[Almacen] [int] NULL,
	[Unidades] [float] NULL,
	[PVP] [money] NULL,
	[PrecioCoste] [money] NULL,
	[EmpresaDoc] [int] NULL,
	[Ejercicio] [int] NULL,
	[Serie] [varchar](2) NULL,
	[NroDoc] [int] NULL,
	[Cliente] [varchar](15) NULL,
	[Vendedor] [int] NULL,
	[Descripcion] [varchar](60) NULL,
	[StatusPVPManual] [varchar](1) NULL,
	[StatusCosteManual] [varchar](1) NULL,
	[FechaLiq] [smalldatetime] NULL,
	[FechaCancel] [smalldatetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgmovarr] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
