USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocinvarp] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocinvarp](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroInventario] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Almacen] [int] NULL,
	[Unidades] [float] NULL,
	[Precio] [money] NULL,
	[PrecioSIva] [money] NULL,
	[UnidadesNuevas] [float] NULL,
	[PrecioNuevo] [money] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
	[NroLecturas] [int] NULL,
	[UnidadesImportadas] [float] NULL,
	[PorIva] [float] NULL,
	[PorRe] [float] NULL,
	[NumeroMovArtOld] [int] NULL,
	[NumeroMovArtNew] [int] NULL,
 CONSTRAINT [PK_ocinvarp] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroInventario] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
