USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocprolockart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocprolockart](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[EmpresaDes] [int] NOT NULL,
	[AlmacenDes] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[FechaSerDes] [smalldatetime] NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Numero] [int] NULL,
	[TypeLock] [int] NULL,
	[Cantidad] [float] NULL,
	[CantidadLock] [float] NULL,
	[CantidadALock] [float] NULL,
	[ImpNetoSIva] [money] NULL,
	[ImpNetoSIvaLock] [money] NULL,
	[Fecha] [smalldatetime] NULL,
	[ClienteOri] [varchar](15) NULL,
	[ClienteDes] [varchar](15) NULL,
	[EmpresaPedOri] [int] NULL,
	[EjercicioPedOri] [int] NULL,
	[SeriePedOri] [varchar](2) NULL,
	[NroPedidoOri] [int] NULL,
	[IdPedOri] [int] NULL,
	[FechaPedOri] [smalldatetime] NULL,
	[EmpresaPedDes] [int] NULL,
	[EjercicioPedDes] [int] NULL,
	[SeriePedDes] [varchar](2) NULL,
	[NroPedidoDes] [int] NULL,
	[IdPedDes] [int] NULL,
	[FechaPedDes] [smalldatetime] NULL,
	[EmpresaOri] [int] NULL,
	[AlmacenOri] [int] NULL,
	[GridOri] [varchar](1) NULL,
	[GridDes] [varchar](1) NULL,
	[ColOri] [int] NULL,
	[ColDes] [int] NULL,
	[RowOri] [int] NULL,
	[RowDes] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocprolockart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC,
	[EmpresaDes] ASC,
	[AlmacenDes] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[FechaSerDes] ASC,
	[Talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
