USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocenvcw] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocenvcw](
	[InstanteEnvio] [datetime] NOT NULL,
	[InstanteModif] [datetime] NOT NULL,
	[NumeroMov] [int] NOT NULL,
	[Contador] [int] NOT NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Empresa] [int] NULL,
	[Almacen] [int] NULL,
	[Usuario] [varchar](50) NULL,
	[Perfil] [varchar](50) NULL,
	[TipoTrans] [varchar](1) NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Unidades] [float] NULL,
	[Respuesta] [varchar](50) NULL,
	[UniStock] [float] NULL,
	[MsgError] [varchar](100) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocenvcw] PRIMARY KEY CLUSTERED 
(
	[InstanteEnvio] ASC,
	[InstanteModif] ASC,
	[NumeroMov] ASC,
	[Contador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
