USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocmsg] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocmsg](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroMsg] [int] NOT NULL,
	[TipoDoc] [varchar](2) NULL,
	[De] [int] NULL,
	[Almacen] [int] NULL,
	[Para] [varchar](100) NULL,
	[Asunto] [varchar](60) NULL,
	[Texto] [text] NULL,
	[Estado] [varchar](1) NULL,
	[EmpresaDes] [int] NULL,
	[AlmacenDes] [int] NULL,
	[InstanteCreacion] [datetime] NULL,
	[InstanteEnvio] [datetime] NULL,
	[InstanteLeido] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NroMsgOri] [int] NULL,
	[Bandeja] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocmsg] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroMsg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
