USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajartt] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajartt](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[NroLinea] [int] NOT NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Cantidad] [float] NULL,
	[Descripcion] [varchar](60) NULL,
	[Neto] [money] NULL,
	[NetoCIva] [money] NULL,
	[NewNetoCIva] [money] NULL,
	[NetoSIva] [money] NULL,
	[NewNetoSIva] [money] NULL,
	[PorIva] [float] NULL,
	[PorRecargo] [float] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[FechaArt] [smalldatetime] NULL,
	[BrutoCIva] [money] NULL,
 CONSTRAINT [PK_occajartt] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC,
	[NroLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
