USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpro] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpro](
	[Proveedor] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[RazonSocial] [varchar](60) NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[TelefonoMovil] [varchar](15) NULL,
	[Pais] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Web] [varchar](60) NULL,
	[PersonaContacto] [varchar](60) NULL,
	[PersonaContacto2] [varchar](60) NULL,
	[NIF] [varchar](15) NULL,
	[NombreEnvio] [varchar](60) NULL,
	[Direccion1Envio] [varchar](60) NULL,
	[Direccion2Envio] [varchar](60) NULL,
	[CodPostalEnvio] [varchar](10) NULL,
	[CodProvEnvio] [varchar](5) NULL,
	[CodMuniEnvio] [varchar](7) NULL,
	[PoblacionEnvio] [varchar](25) NULL,
	[ProvinciaEnvio] [varchar](15) NULL,
	[Telefono1Envio] [varchar](15) NULL,
	[Telefono2Envio] [varchar](15) NULL,
	[PaisEnvio] [varchar](15) NULL,
	[FaxEnvio] [varchar](15) NULL,
	[Divisa] [varchar](3) NULL,
	[NroDomicilioRecibo] [int] NULL,
	[Plazo] [int] NULL,
	[FormaPago] [varchar](60) NULL,
	[MarcaHabitual] [varchar](40) NULL,
	[CuentaConta] [varchar](15) NULL,
	[CuentaContaAsiDsc] [int] NULL,
	[CodRepre] [int] NULL,
	[Representante] [varchar](60) NULL,
	[TelefonoRep] [varchar](15) NULL,
	[CodigoCliente] [varchar](15) NULL,
	[PorDtoComercial] [float] NULL,
	[PorDtoComercial2] [float] NULL,
	[PorProntoPago] [float] NULL,
	[PorRappel] [float] NULL,
	[PorFinanciacion] [float] NULL,
	[PorRetencion] [float] NULL,
	[PorFranquicia] [float] NULL,
	[PorPagoContado] [float] NULL,
	[PorPagoAplazado] [float] NULL,
	[Tarifa] [int] NULL,
	[Entidad] [varchar](4) NULL,
	[Oficina] [varchar](4) NULL,
	[DigitosControl] [varchar](2) NULL,
	[NroCuenta] [varchar](10) NULL,
	[IBAN] [varchar](35) NULL,
	[TipoPortes] [varchar](1) NULL,
	[Transaccion] [int] NULL,
	[NroPlazos] [int] NULL,
	[DiasPrimerPlazo] [int] NULL,
	[DiasEntrePlazos] [int] NULL,
	[DiaFijoPago1] [int] NULL,
	[DiaFijoPago2] [int] NULL,
	[DiaFijoPago3] [int] NULL,
	[DiaNoPago1] [int] NULL,
	[MesNoPago1] [int] NULL,
	[DiaNoPago2] [int] NULL,
	[MesNoPago2] [int] NULL,
	[ControlFestivos] [varchar](1) NULL,
	[DiasRetroceso] [int] NULL,
	[MesComercial] [varchar](1) NULL,
	[TipoEfecto] [int] NULL,
	[Observacion] [text] NULL,
	[ObsPedido] [text] NULL,
	[AgruparAlbaranes] [varchar](1) NULL,
	[Deposito] [varchar](1) NULL,
	[NroTallaje] [int] NULL,
	[HayColores] [varchar](1) NULL,
	[HayTemporadas] [varchar](1) NULL,
	[CuentaBanco] [varchar](15) NULL,
	[Agencia] [int] NULL,
	[GrupoCuentaConta] [int] NULL,
	[GrupoIva] [int] NULL,
	[EstadoListado] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
	[Abreviatura] [varchar](15) NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NroLinea] [int] NULL,
	[NroMarca] [int] NULL,
	[HayTallas] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[TipoTarifaCompra] [int] NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[ProveedorVarios] [varchar](1) NULL,
	[SurtidoOpt] [int] NULL,
	[FechaAlta] [smalldatetime] NULL,
	[FechaBaja] [smalldatetime] NULL,
	[TarifaDto] [int] NULL,
	[Tipo] [varchar](1) NULL,
	[SoporteEnvases] [varchar](1) NULL,
 CONSTRAINT [PK_ocpro] PRIMARY KEY CLUSTERED 
(
	[Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
