USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocTempMov] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocTempMov](
	[Nro] [int] NULL,
	[Articulo] [varchar](60) NULL,
	[Serie] [varchar](2) NULL,
	[Color] [varchar](60) NULL,
	[Talla] [varchar](50) NULL
) ON [PRIMARY]
GO
