USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajarts] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajarts](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[NroLinea] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Cantidad] [float] NULL,
	[PrecioCIva] [money] NULL,
	[PrecioSIva] [money] NULL,
	[BrutoCIva] [money] NULL,
	[BrutoSIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpDtoCIva] [money] NULL,
	[ImpDtoSIva] [money] NULL,
	[NetoParcialCIva] [money] NULL,
	[NetoParcialSIva] [money] NULL,
	[ProrrateoDtoOpeCIva] [money] NULL,
	[ProrrateoDtoOpeSIva] [money] NULL,
	[NetoCIva] [money] NULL,
	[NetoSIva] [money] NULL,
	[PorIva] [float] NULL,
	[PorRecargo] [float] NULL,
	[Descripcion] [varchar](40) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occajarts] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC,
	[NroLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
