USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocasiento] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocasiento](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Asiento] [int] NOT NULL,
	[Canal] [int] NULL,
	[Comentario] [varchar](60) NULL,
	[Fecha] [smalldatetime] NULL,
	[Transaccion] [int] NULL,
	[Almacen] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Serie] [varchar](2) NULL,
	[NroDoc] [int] NULL,
	[Caja] [int] NULL,
	[CuentaIva] [varchar](15) NULL,
	[ImpDebe] [money] NULL,
	[ImpHaber] [money] NULL,
	[Descuadre] [money] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteConta] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocasiento] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Asiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
