USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgrpcli] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgrpcli](
	[Grupo] [int] NOT NULL,
	[Nombre] [varchar](60) NOT NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[ClienteInicial] [varchar](15) NULL,
	[InstanteAlta] [datetime] NULL,
	[EmpresaAlta] [int] NULL,
	[AlmacenAlta] [int] NULL,
 CONSTRAINT [PK_ocgrpcli] PRIMARY KEY CLUSTERED 
(
	[Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
