USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocfacemppro] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocfacemppro](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroFactura] [int] NOT NULL,
	[Proveedor] [int] NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[Temporada] [varchar](5) NULL,
	[CantidadEnt] [float] NULL,
	[CantidadEntA] [float] NULL,
	[CantidadEntB] [float] NULL,
	[PorCtdEntA] [float] NULL,
	[PorCtdEntB] [float] NULL,
	[NetoEntSIva] [money] NULL,
	[NetoEntSIvaA] [money] NULL,
	[NetoEntSIvaB] [money] NULL,
	[PorNetoEntA] [float] NULL,
	[PorNetoEntB] [float] NULL,
	[CantidadVta] [float] NULL,
	[CantidadVtaA] [float] NULL,
	[CantidadVtaB] [float] NULL,
	[PorCtdVtaA] [float] NULL,
	[PorCtdVtaB] [float] NULL,
	[NetoVtaCIva] [money] NULL,
	[NetoVtaCIvaA] [money] NULL,
	[NetoVtaCIvaB] [money] NULL,
	[PorNetoVtaA] [float] NULL,
	[PorNetoVtaB] [float] NULL,
	[PorCtdFra] [float] NULL,
	[NetoFraSIva] [money] NULL,
	[PorNetoFra] [float] NULL,
	[EmpresaCli] [int] NULL,
	[Cliente] [varchar](15) NULL,
	[DesdeFecha] [smalldatetime] NULL,
	[HastaFecha] [smalldatetime] NULL,
	[NroMarca] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocfacemppro] PRIMARY KEY CLUSTERED 
(
	[Ejercicio] ASC,
	[Empresa] ASC,
	[Serie] ASC,
	[NroFactura] ASC,
	[Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
