USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocequivalenciaodaps] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocequivalenciaodaps](
	[Nivel] [varchar](50) NULL,
	[Descr] [varchar](50) NULL,
	[id_menu] [int] NULL,
	[Menu] [varchar](50) NULL
) ON [PRIMARY]
GO
