USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocefepro] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocefepro](
	[Empresa] [int] NOT NULL,
	[TipoDoc] [varchar](2) NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[NroEfecto] [int] NOT NULL,
	[Almacen] [int] NULL,
	[Proveedor] [int] NULL,
	[TipoEfecto] [int] NULL,
	[FechaEmision] [smalldatetime] NULL,
	[FechaDoc] [smalldatetime] NULL,
	[FechaValor] [smalldatetime] NULL,
	[FechaVto] [smalldatetime] NULL,
	[FechaPago] [smalldatetime] NULL,
	[ImpEfecto] [money] NULL,
	[ImpPendiente] [money] NULL,
	[DiasHastaVto] [int] NULL,
	[TipoRemesa] [int] NULL,
	[EmpresaRem] [int] NULL,
	[AlmacenRem] [int] NULL,
	[EjercicioRem] [int] NULL,
	[SerieRem] [varchar](2) NULL,
	[NroRemesa] [int] NULL,
	[FechaRem] [smalldatetime] NULL,
	[EmpresaCon] [int] NULL,
	[EjercicioCon] [int] NULL,
	[SerieCon] [varchar](2) NULL,
	[NroCon] [int] NULL,
	[EmpresaImp] [int] NULL,
	[EjercicioImp] [int] NULL,
	[SerieImp] [varchar](2) NULL,
	[NroImp] [int] NULL,
	[EmpresaCob] [int] NULL,
	[EjercicioCob] [int] NULL,
	[SerieCob] [varchar](2) NULL,
	[NroCob] [int] NULL,
	[Entidad] [varchar](4) NULL,
	[Oficina] [varchar](4) NULL,
	[DigitosControl] [varchar](2) NULL,
	[NroCuenta] [varchar](10) NULL,
	[CuentaBanco] [varchar](15) NULL,
	[CuentaBancoAnt] [varchar](15) NULL,
	[CuentaConta] [varchar](15) NULL,
	[GrupoCuentaConta] [int] NULL,
	[Transaccion] [int] NULL,
	[Canal] [int] NULL,
	[Observacion] [ntext] NULL,
	[DocExterno] [varchar](15) NULL,
	[Imprimir] [varchar](1) NULL,
	[Selected] [varchar](1) NULL,
	[Situacion] [int] NULL,
	[EmpresaCaja] [int] NULL,
	[AlmacenCaja] [int] NULL,
	[Caja] [int] NULL,
	[Operacion] [int] NULL,
	[EsAnticipo] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[ImpGastos] [money] NULL,
 CONSTRAINT [PK_ocefepro] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[TipoDoc] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC,
	[NroEfecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
