USE [Herreras]
GO
/****** Objeto: Table [dbo].[octramoclidto] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octramoclidto](
	[Tramo] [int] NOT NULL,
	[NetoMinimo] [money] NOT NULL,
	[Dto] [float] NOT NULL,
	[FechaTope] [smalldatetime] NOT NULL,
	[EmpresaModif] [int] NOT NULL,
	[AlmacenModif] [int] NOT NULL,
	[InstanteModif] [smalldatetime] NOT NULL,
	[NoTrigger] [varchar](1) NOT NULL,
 CONSTRAINT [PK_octramoclidto] PRIMARY KEY CLUSTERED 
(
	[Tramo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[octramoclidto] ADD  CONSTRAINT [DF_octramoclidto_NetoMinimo]  DEFAULT ((0)) FOR [NetoMinimo]
GO
ALTER TABLE [dbo].[octramoclidto] ADD  CONSTRAINT [DF_octramoclidto_Dto]  DEFAULT ((0)) FOR [Dto]
GO
ALTER TABLE [dbo].[octramoclidto] ADD  CONSTRAINT [DF_octramoclidto_FechaTope]  DEFAULT ('01/01/1900 00:00:00') FOR [FechaTope]
GO
ALTER TABLE [dbo].[octramoclidto] ADD  CONSTRAINT [DF_octramoclidto_EmpresaModif]  DEFAULT ((0)) FOR [EmpresaModif]
GO
ALTER TABLE [dbo].[octramoclidto] ADD  CONSTRAINT [DF_octramoclidto_AlmacenModif]  DEFAULT ((0)) FOR [AlmacenModif]
GO
ALTER TABLE [dbo].[octramoclidto] ADD  CONSTRAINT [DF_octramoclidto_InstanteModif]  DEFAULT ('01/01/1900 00:00:00') FOR [InstanteModif]
GO
ALTER TABLE [dbo].[octramoclidto] ADD  CONSTRAINT [DF_octramoclidto_NoTrigger]  DEFAULT ('S') FOR [NoTrigger]
GO
