USE [Herreras]
GO
/****** Objeto: Table [dbo].[oc_u_web] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oc_u_web](
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[PVPTarifa] [varchar](8) NULL,
	[PVPRebaja] [varchar](8) NULL,
	[FechaIniRebaja] [datetime] NULL,
	[FechaFinRebaja] [datetime] NULL,
	[FechaIniWeb] [datetime] NULL,
	[FechaFinWeb] [datetime] NULL,
	[ArchivoFoto] [varchar](100) NULL,
	[FechaEnvio] [datetime] NULL,
	[Observacion] [text] NULL,
	[Stock] [varchar](6) NULL,
	[DescripcionCorta] [varchar](40) NULL,
	[DescripcionLarga] [varchar](60) NULL,
	[TipoIVA] [varchar](3) NULL,
	[Desactivado] [varchar](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[oc_u_web] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
