USE [Herreras]
GO
/****** Objeto: Table [dbo].[occampro] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occampro](
	[InstanteModif] [datetime] NOT NULL,
	[ProveedorAntiguo] [int] NOT NULL,
	[ProveedorNuevo] [int] NOT NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occampro] PRIMARY KEY CLUSTERED 
(
	[InstanteModif] ASC,
	[ProveedorAntiguo] ASC,
	[ProveedorNuevo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
