USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocenvca] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocenvca](
	[Contador] [int] NOT NULL,
	[InstanteTraspaso] [datetime] NOT NULL,
	[DesdeInstante] [datetime] NULL,
	[Articulos] [int] NULL,
	[TarifasArticulos] [int] NULL,
	[ArtReb] [int] NULL,
	[OfertasArticulos] [int] NULL,
	[OfertasNiveles] [int] NULL,
	[CambiosCodigo] [int] NULL,
	[CamCli] [int] NULL,
	[Almacenes] [int] NULL,
	[DefNiveles] [int] NULL,
	[Niveles] [int] NULL,
	[Tarifas] [int] NULL,
	[Surtidos] [int] NULL,
	[Aso] [int] NULL,
	[AsoArt] [int] NULL,
	[Proveedores] [int] NULL,
	[Vendedores] [int] NULL,
	[TiposIva] [int] NULL,
	[Divisas] [int] NULL,
	[Temporadas] [int] NULL,
	[Materiales] [int] NULL,
	[Pisos] [int] NULL,
	[Tacones] [int] NULL,
	[Empresas] [int] NULL,
	[TipoDoc] [int] NULL,
	[Tarjetas] [int] NULL,
	[Bancos] [int] NULL,
	[Facturas] [int] NULL,
	[Acumulados] [int] NULL,
	[GrpCol] [int] NULL,
	[GrpMat] [int] NULL,
	[ColoresBas] [int] NULL,
	[Tallajes] [int] NULL,
	[Series] [int] NULL,
	[SerAct] [int] NULL,
	[Pedidos] [int] NULL,
	[PedidosArt] [int] NULL,
	[PedAlm] [int] NULL,
	[RepPro] [int] NULL,
	[RepProArt] [int] NULL,
	[Clientes] [int] NULL,
	[SaldosClientes] [int] NULL,
	[Borrados] [int] NULL,
	[CajArrNew] [int] NULL,
	[CajMas] [int] NULL,
	[DocDat] [int] NULL,
	[OpeCaja] [int] NULL,
	[OpeCajaArt] [int] NULL,
	[MovAlmacen] [int] NULL,
	[MovDoc] [int] NULL,
	[AlbaranesEntrada] [int] NULL,
	[AlbaranesEntradaArt] [int] NULL,
	[Fotos] [int] NULL,
	[Vales] [int] NULL,
	[Arreglos] [int] NULL,
	[Modistas] [int] NULL,
	[AlmDia] [int] NULL,
	[VenMes] [int] NULL,
	[CliMes] [int] NULL,
	[ProMes] [int] NULL,
	[ArtMes] [int] NULL,
	[Traspasos] [int] NULL,
	[Arqueos] [int] NULL,
	[CliOfe] [int] NULL,
	[ProOfe] [int] NULL,
	[CliDom] [int] NULL,
	[PerFac] [int] NULL,
	[TipEfe] [int] NULL,
	[Zonas] [int] NULL,
	[ArtPro] [int] NULL,
	[PedCli] [int] NULL,
	[PedCliArt] [int] NULL,
	[AlbCli] [int] NULL,
	[AlbCliArt] [int] NULL,
	[FacCli] [int] NULL,
	[FacCliArt] [int] NULL,
	[FacPro] [int] NULL,
	[FacProArt] [int] NULL,
	[Grupos] [int] NULL,
	[Usuarios] [int] NULL,
	[GrpGto] [int] NULL,
	[GrpCli] [int] NULL,
	[Cajas] [int] NULL,
	[PedCen] [int] NULL,
	[PedCenArt] [int] NULL,
	[BanRem] [int] NULL,
	[EfeCli] [int] NULL,
	[EfePro] [int] NULL,
	[CobCli] [int] NULL,
	[CobPro] [int] NULL,
	[RemCli] [int] NULL,
	[RemPro] [int] NULL,
	[ImpCli] [int] NULL,
	[ImpPro] [int] NULL,
	[ConCli] [int] NULL,
	[ConPro] [int] NULL,
	[Msg] [int] NULL,
	[ProTra] [int] NULL,
	[ProTraArt] [int] NULL,
	[ProTraAlm] [int] NULL,
	[ProTraArtCol] [int] NULL,
	[ArtDel] [int] NULL,
	[NivNro] [int] NULL,
	[NivPto] [int] NULL,
	[Gen] [int] NULL,
	[GenArt] [int] NULL,
	[GenAlm] [int] NULL,
	[GenCodBar] [int] NULL,
	[GenArtTar] [int] NULL,
	[CliMed] [int] NULL,
	[CliMedDocPC] [int] NULL,
	[CliMedDocPT] [int] NULL,
	[Parm] [int] NULL,
	[ParmRep] [int] NULL,
	[Marcas] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocenvca] PRIMARY KEY CLUSTERED 
(
	[Contador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
