USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgrptal] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgrptal](
	[NroTallaje] [int] NOT NULL,
	[Descripcion] [varchar](40) NOT NULL,
	[Abreviatura] [varchar](5) NOT NULL,
	[ColTalla01] [varchar](7) NULL,
	[ColTalla02] [varchar](7) NULL,
	[ColTalla03] [varchar](7) NULL,
	[ColTalla04] [varchar](7) NULL,
	[ColTalla05] [varchar](7) NULL,
	[ColTalla06] [varchar](7) NULL,
	[ColTalla07] [varchar](7) NULL,
	[ColTalla08] [varchar](7) NULL,
	[ColTalla09] [varchar](7) NULL,
	[ColTalla10] [varchar](7) NULL,
	[ColTalla11] [varchar](7) NULL,
	[ColTalla12] [varchar](7) NULL,
	[ColTalla13] [varchar](7) NULL,
	[ColTalla14] [varchar](7) NULL,
	[ColTalla15] [varchar](7) NULL,
	[ColTalla16] [varchar](7) NULL,
	[ColTalla17] [varchar](7) NULL,
	[ColTalla18] [varchar](7) NULL,
	[ColTalla19] [varchar](7) NULL,
	[ColTalla20] [varchar](7) NULL,
	[ColTalla21] [varchar](7) NULL,
	[ColTalla22] [varchar](7) NULL,
	[ColTalla23] [varchar](7) NULL,
	[ColTalla24] [varchar](7) NULL,
	[ColTalla25] [varchar](7) NULL,
	[ColTalla26] [varchar](7) NULL,
	[ColTalla27] [varchar](7) NULL,
	[ColTalla28] [varchar](7) NULL,
	[ColTalla29] [varchar](7) NULL,
	[ColTalla30] [varchar](7) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgrptal] PRIMARY KEY CLUSTERED 
(
	[NroTallaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
