USE [Herreras]
GO
/****** Objeto: Table [dbo].[octiptra] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octiptra](
	[Transaccion] [int] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[TransConta] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_octiptra] PRIMARY KEY CLUSTERED 
(
	[Transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
