USE [Herreras]
GO
/****** Objeto: Table [dbo].[octra] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octra](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[EmpresaCpda] [int] NOT NULL,
	[AlmacenCpda] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Contador] [int] NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[Cantidad] [float] NULL,
	[Col] [int] NULL,
	[RowOri] [int] NULL,
	[RowDes] [int] NULL,
	[Row] [int] NULL,
	[ColOri] [int] NULL,
	[ColDes] [int] NULL,
	[ColorBas] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_octra] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[EmpresaCpda] ASC,
	[AlmacenCpda] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC,
	[Contador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
