USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocprolin] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocprolin](
	[Proveedor] [int] NOT NULL,
	[NroMarca] [int] NOT NULL,
	[NroLinea] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocprolin] PRIMARY KEY CLUSTERED 
(
	[Proveedor] ASC,
	[NroMarca] ASC,
	[NroLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocprolin] ADD  CONSTRAINT [DF__ocprolin__NroMar__511AFFBC]  DEFAULT ((0)) FOR [NroMarca]
GO
ALTER TABLE [dbo].[ocprolin] ADD  CONSTRAINT [DF__ocprolin__NroLin__520F23F5]  DEFAULT ((0)) FOR [NroLinea]
GO
