USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajarrdet] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajarrdet](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[NroArreglo] [int] NOT NULL,
	[NroLinea] [int] NOT NULL,
	[Arreglo] [int] NULL,
	[Descripcion] [varchar](30) NULL,
	[Cantidad] [float] NULL,
	[PrecioCoste] [money] NULL,
	[PrecioSalida] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occajarrdet] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[NroArreglo] ASC,
	[NroLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
