USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocserie] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocserie](
	[TipoDoc] [varchar](2) NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[Descripcion] [varchar](60) NULL,
	[Tipo] [varchar](1) NULL,
	[Empresa] [int] NULL,
	[Almacen] [int] NULL,
	[Canal] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocserie] PRIMARY KEY CLUSTERED 
(
	[TipoDoc] ASC,
	[Serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
