USE [Herreras]
GO
/****** Objeto: Table [dbo].[octarmodart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octarmodart](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroSesion] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Tarifa] [int] NOT NULL,
	[SerieTalla] [varchar](1) NOT NULL,
	[PrecioSIva] [money] NULL,
	[PVPAnt] [money] NULL,
	[PrecioRebAnt] [money] NULL,
	[PVP] [money] NULL,
	[PrecioReb] [money] NULL,
	[ImpComAnt] [money] NULL,
	[ImpCom] [money] NULL,
	[GrupoPrecios] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_octarmodart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroSesion] ASC,
	[Orden] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Tarifa] ASC,
	[SerieTalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
