USE [Herreras]
GO
/****** Objeto: Table [dbo].[octarptocpa] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octarptocpa](
	[TarifaPto] [int] NOT NULL,
	[FechaInicio] [smalldatetime] NOT NULL,
	[FechaFin] [smalldatetime] NOT NULL,
	[Importe] [money] NOT NULL,
	[ImporteMin] [money] NULL,
	[PorImpPto] [float] NULL,
	[ImporteMax] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
 CONSTRAINT [PK_octarptocpa] PRIMARY KEY CLUSTERED 
(
	[TarifaPto] ASC,
	[FechaInicio] ASC,
	[FechaFin] ASC,
	[Importe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
