USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpedcliweb] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpedcliweb](
	[Pedido] [int] NULL,
	[esFila] [int] NULL,
	[Dtos] [money] NULL,
	[ImpSIVA] [money] NULL,
	[ImpCIVA] [money] NULL,
	[Portes] [money] NULL,
	[Fecha] [datetime] NULL,
	[Orden] [int] NULL,
	[Articulo] [varchar](50) NULL,
	[Talla] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[PrecioSIVA] [money] NULL,
	[IdCliente] [int] NULL,
	[Nombre] [varchar](32) NULL,
	[Apellido] [varchar](32) NULL,
	[Direccion1] [varchar](128) NULL,
	[Direccion2] [varchar](128) NULL,
	[CodigoPostal] [varchar](12) NULL,
	[Ciudad] [varchar](64) NULL,
	[Telefono1] [varchar](16) NULL,
	[Telefono2] [varchar](16) NULL,
	[Dni] [varchar](16) NULL,
	[Observacion] [varchar](128) NULL
) ON [PRIMARY]
GO
