USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocrecmon] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocrecmon](
	[Caja] [int] NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[TipoRec] [int] NOT NULL,
	[Codigo] [int] NOT NULL,
	[Unidades] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocrecmon] PRIMARY KEY CLUSTERED 
(
	[Caja] ASC,
	[Fecha] ASC,
	[TipoRec] ASC,
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
