USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartcli] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartcli](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[TipoDoc] [varchar](2) NOT NULL,
	[Cliente] [varchar](15) NOT NULL,
	[Serie] [varchar](1) NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[Modelo] [varchar](25) NULL,
	[PrecioSIva] [money] NULL,
	[PorDto1] [float] NULL,
	[PorDto2] [float] NULL,
	[PorDto3] [float] NULL,
	[EmpresaPedido] [int] NULL,
	[AlmacenPedido] [int] NULL,
	[EjercicioPedido] [int] NULL,
	[SeriePedido] [varchar](2) NULL,
	[NroPedido] [int] NULL,
	[FechaPedido] [smalldatetime] NULL,
	[CantidadPedido] [float] NULL,
	[PrecioPedidoSIva] [money] NULL,
	[EmpresaAlbaran] [int] NULL,
	[AlmacenAlbaran] [int] NULL,
	[EjercicioAlbaran] [int] NULL,
	[SerieAlbaran] [varchar](2) NULL,
	[NroAlbaran] [int] NULL,
	[FechaAlbaran] [smalldatetime] NULL,
	[CantidadAlbaran] [float] NULL,
	[PrecioAlbaranSIva] [money] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocartcli] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC,
	[TipoDoc] ASC,
	[Cliente] ASC,
	[Serie] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
