USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocprotraart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocprotraart](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[EmpresaOri] [int] NOT NULL,
	[AlmacenOri] [int] NOT NULL,
	[EmpresaDes] [int] NOT NULL,
	[AlmacenDes] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Numero] [int] NULL,
	[Cantidad] [float] NULL,
	[CantidadTraOri] [float] NULL,
	[CantidadATraOri] [float] NULL,
	[CantidadTraDes] [float] NULL,
	[CantidadATraDes] [float] NULL,
	[ColOri] [int] NULL,
	[ColDes] [int] NULL,
	[RowOri] [int] NULL,
	[RowDes] [int] NULL,
	[Fecha] [smalldatetime] NULL,
	[CantidadAAnular] [float] NULL,
	[CantidadAnulada] [float] NULL,
	[PrecioSIvaOri] [money] NULL,
	[PrecioCIvaOri] [money] NULL,
	[PrecioSIvaDes] [money] NULL,
	[PrecioCIvaDes] [money] NULL,
	[Hora] [smalldatetime] NULL,
	[NoTrigger] [varchar](1) NULL,
	[AlmacenTrans] [int] NULL,
	[Estado] [varchar](1) NULL,
 CONSTRAINT [PK_ocprotraart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC,
	[EmpresaOri] ASC,
	[AlmacenOri] ASC,
	[EmpresaDes] ASC,
	[AlmacenDes] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
