USE [Herreras]
GO
/****** Objeto: Table [dbo].[oclotecad] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oclotecad](
	[Articulo] [varchar](20) NOT NULL,
	[Color] [varchar](30) NOT NULL,
	[Lote] [varchar](50) NOT NULL,
	[FechaCaducidad] [smalldatetime] NULL,
	[PrecioSalida] [money] NULL,
	[InstanteAlta] [smalldatetime] NULL,
	[InstanteBaja] [smalldatetime] NULL,
	[InstaneModif] [smalldatetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Ubicacion] [varchar](40) NULL,
	[PrecioSIva] [money] NULL,
 CONSTRAINT [PK_oclotecad] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC,
	[Lote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
