USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpedcenart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpedcenart](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroPedido] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Fila] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Id] [int] NULL,
	[Almacen] [int] NULL,
	[Descripcion] [varchar](60) NULL,
	[StockCen] [float] NULL,
	[Stock] [float] NULL,
	[StockVdo] [float] NULL,
	[Cantidad] [float] NULL,
	[CantidadServida] [float] NULL,
	[UltCtdServida] [float] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[InstanteCreacion] [datetime] NULL,
 CONSTRAINT [PK_ocpedcenart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroPedido] ASC,
	[Orden] ASC,
	[Fila] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
