USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpedrec] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpedrec](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[NroRegistro] [int] NOT NULL,
	[Proveedor] [int] NOT NULL,
	[Serie] [varchar](1) NOT NULL,
	[NroFactura] [int] NULL,
	[NroPedido] [int] NULL,
	[NroPedidoIncidencia] [int] NULL,
	[Estado] [varchar](1) NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[Total] [money] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[Observaciones] [ntext] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocpedrec] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[NroRegistro] ASC,
	[Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
