USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocrealtimeobs] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocrealtimeobs](
	[TipoObs] [varchar](3) NOT NULL,
	[Descripcion] [varchar](40) NULL,
 CONSTRAINT [PK_ocrealtimeobs] PRIMARY KEY CLUSTERED 
(
	[TipoObs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
