USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocarttal] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocarttal](
	[Articulo] [varchar](15) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Orden] [int] NULL,
	[Serie] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[OrdenCusto] [int] NULL,
 CONSTRAINT [PK_ocarttal] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
