USE [Herreras]
GO
/****** Objeto: Table [dbo].[octarmod] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octarmod](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroSesion] [int] NOT NULL,
	[TipoDoc] [varchar](2) NULL,
	[Descripcion] [varchar](60) NULL,
	[Tipo] [varchar](1) NULL,
	[Tarifa] [int] NULL,
	[Fecha] [smalldatetime] NULL,
	[Estado] [varchar](1) NULL,
	[EmpresaTar] [int] NULL,
	[AlmacenTar] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_octarmod] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroSesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
