USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartsermat] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartsermat](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[SerieTalla] [varchar](1) NOT NULL,
	[ArticuloMat] [varchar](15) NOT NULL,
	[ColorMat] [varchar](25) NOT NULL,
	[SerieTallaMat] [varchar](1) NOT NULL,
	[Cantidad] [float] NULL,
	[PrecioSIva] [money] NULL,
	[Descripcion] [varchar](60) NULL,
	[PrecioCDtosSiva] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocartsermat] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC,
	[SerieTalla] ASC,
	[ArticuloMat] ASC,
	[ColorMat] ASC,
	[SerieTallaMat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
