USE [Herreras]
GO
/****** Objeto: Table [dbo].[occtador] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occtador](
	[TipoDoc] [varchar](2) NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[Contador] [int] NULL,
	[ContadorCalculado] [int] NULL,
	[Tipo] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occtador] PRIMARY KEY CLUSTERED 
(
	[TipoDoc] ASC,
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Ejercicio] ASC,
	[Serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
