USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocrecac4] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocrecac4](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Contador] [int] NOT NULL,
	[OpeCaja] [int] NULL,
	[OpeCajaArt] [int] NULL,
	[Vales] [int] NULL,
	[CajMas] [int] NULL,
	[DesdeInstante] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocrecac4] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Contador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
