USE [Herreras]
GO
/****** Objeto: Table [dbo].[occliart] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occliart](
	[Id] [int] NOT NULL,
	[EmpresaCaja] [int] NULL,
	[AlmacenCaja] [int] NULL,
	[Caja] [int] NULL,
	[Operacion] [int] NULL,
	[CajaDevCob] [int] NULL,
	[OperacionDevCob] [int] NULL,
	[Empresa] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Ejercicio] [int] NULL,
	[Serie] [varchar](2) NULL,
	[NroDoc] [int] NULL,
	[EmpresaFra] [int] NULL,
	[EjercicioFra] [int] NULL,
	[SerieFra] [varchar](2) NULL,
	[NroFactura] [int] NULL,
	[Almacen] [int] NULL,
	[Tipo] [varchar](1) NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Hora] [varchar](8) NULL,
	[Cliente] [varchar](15) NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[Cantidad] [float] NULL,
	[PrecioCIva] [money] NULL,
	[PrecioSIva] [money] NULL,
	[PorDto] [float] NULL,
	[NetoCIva] [money] NULL,
	[NetoSIva] [money] NULL,
	[Tarifa] [int] NULL,
	[PrecioCoste] [money] NULL,
	[PorIva] [float] NULL,
	[PorRecargo] [float] NULL,
	[NumeroMovArt] [int] NULL,
	[NumeroMovArtCpda] [int] NULL,
	[Vendedor] [int] NULL,
	[FechaCobro] [smalldatetime] NULL,
	[FechaDev] [smalldatetime] NULL,
	[EmpresaDevCob] [int] NULL,
	[AlmacenDevCob] [int] NULL,
	[NumeroMovArtDevCob] [int] NULL,
	[NumeroMovArtCpdaDevCob] [int] NULL,
	[FechaBorrado] [smalldatetime] NULL,
	[Descripcion] [varchar](60) NULL,
	[EmpresaVale] [int] NULL,
	[AlmacenVale] [int] NULL,
	[CajaVale] [int] NULL,
	[OperacionVale] [int] NULL,
	[TipoTarjeta] [int] NULL,
	[Observacion] [ntext] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occliart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
