USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartdel] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartdel](
	[Articulo] [varchar](15) NOT NULL,
	[DescripcionCorta] [varchar](40) NOT NULL,
	[DescripcionLarga] [varchar](60) NOT NULL,
	[Temporada] [varchar](3) NULL,
	[NombreTem] [varchar](25) NULL,
	[Proveedor] [int] NULL,
	[NombrePro] [varchar](60) NULL,
	[Modelo] [varchar](25) NULL,
	[Estado] [varchar](1) NOT NULL,
	[Familia] [varchar](15) NULL,
	[NroTallaje] [int] NULL,
	[Marca] [varchar](40) NULL,
	[Material] [int] NULL,
	[Piso] [int] NULL,
	[Tacon] [int] NULL,
	[Horma] [varchar](25) NULL,
	[DscTacon] [varchar](25) NULL,
	[ArchivoFoto] [varchar](100) NULL,
	[Borrar] [varchar](1) NOT NULL,
	[InstanteAlta] [datetime] NOT NULL,
	[InstanteBaja] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NroMarca] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocartdel] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
