USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocprolock] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocprolock](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[TipoDoc] [varchar](2) NULL,
	[Vendedor] [int] NULL,
	[Fecha] [smalldatetime] NULL,
	[CantidadTotal] [float] NULL,
	[ImpNetoSIva] [money] NULL,
	[CantidadLock] [float] NULL,
	[ImpNetoSIvaLock] [money] NULL,
	[CantidadALock] [float] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocprolock] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
