USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajartp] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajartp](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[NroLinea] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Vendedor] [int] NULL,
	[Cantidad] [float] NULL,
	[CantidadOferta] [float] NULL,
	[PrecioCIva] [money] NULL,
	[PrecioSIva] [money] NULL,
	[PrecioOferta] [money] NOT NULL,
	[BrutoCIva] [money] NULL,
	[BrutoSIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpDtoCIva] [money] NULL,
	[ImpDtoSIva] [money] NULL,
	[ImpDtoLinealCIva] [money] NULL,
	[ImpDtoLinealSIva] [money] NULL,
	[NetoParcialCIva] [money] NULL,
	[NetoParcialSIva] [money] NULL,
	[ProrrateoDtoOpeCIva] [money] NULL,
	[ProrrateoDtoOpeSIva] [money] NULL,
	[ProrrateoDtoPtosSIva] [money] NULL,
	[ProrrateoDtoPtosCIva] [money] NULL,
	[NetoCIva] [money] NULL,
	[NetoSIva] [money] NULL,
	[PorIva] [float] NULL,
	[PorRe] [float] NULL,
	[BaseImponible] [money] NULL,
	[PrecioCosteSIva] [money] NULL,
	[PrecioCosteCIva] [money] NULL,
	[PrecioMedio] [money] NULL,
	[PrecioMedioSIva] [money] NULL,
	[Descripcion] [varchar](60) NULL,
	[PuntosObtenidos] [float] NULL,
	[FactorPtos] [float] NULL,
	[StatusPrecioManual] [varchar](1) NULL,
	[StatusOferta] [varchar](1) NULL,
	[StatusRebaja] [varchar](1) NULL,
	[StatusPteCobro] [varchar](1) NULL,
	[EmpresaPed] [int] NULL,
	[EjercicioPed] [int] NULL,
	[SeriePed] [varchar](2) NULL,
	[NroPedido] [int] NULL,
	[IdPed] [int] NULL,
	[UniALock] [float] NULL,
	[UniASer] [float] NULL,
	[EmpresaDocOriP] [int] NULL,
	[TipoDocOriP] [varchar](2) NULL,
	[EjercicioOriP] [int] NULL,
	[SerieOriP] [varchar](2) NULL,
	[NroDocOriP] [int] NULL,
	[CajaOriP] [int] NULL,
	[IdOriP] [int] NULL,
	[EmpresaOriP] [int] NULL,
	[AlmacenOriP] [int] NULL,
	[OperacionOriP] [int] NULL,
	[NroLineaOriP] [int] NULL,
	[FechaOriP] [smalldatetime] NULL,
	[EmpresaCpdaOriP] [int] NULL,
	[AlmacenCpdaOriP] [int] NULL,
	[EmpresaLock] [int] NULL,
	[AlmacenLock] [int] NULL,
	[CajaLock] [int] NULL,
	[OperacionLock] [int] NULL,
	[NroLineaLock] [int] NULL,
	[EmpresaCobP] [int] NULL,
	[AlmacenCobP] [int] NULL,
	[CajaCobP] [int] NULL,
	[OperacionCobP] [int] NULL,
	[NroLineaCobP] [int] NULL,
	[FechaCobP] [smalldatetime] NULL,
	[NoTrigger] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[PorComVen] [float] NULL,
	[PorComArt] [float] NULL,
	[ImpComArt] [money] NULL,
	[FechaArt] [smalldatetime] NULL,
 CONSTRAINT [PK_occajartp] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC,
	[NroLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
