USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpedcli] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpedcli](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroPedido] [int] NOT NULL,
	[Cliente] [varchar](15) NULL,
	[TipoDoc] [varchar](2) NULL,
	[Almacen] [int] NULL,
	[Nombre] [varchar](60) NULL,
	[RazonSocial] [varchar](60) NULL,
	[Direccion1] [varchar](128) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](60) NULL,
	[Pais] [varchar](15) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[NIF] [varchar](15) NULL,
	[FormaEnvio] [varchar](60) NULL,
	[NroDomicilioEnvio] [int] NULL,
	[Temporada] [varchar](5) NULL,
	[Estado] [varchar](1) NULL,
	[EstadoListado] [varchar](1) NULL,
	[FechaPedido] [smalldatetime] NULL,
	[FechaNecesaria] [smalldatetime] NULL,
	[FechaServicio] [smalldatetime] NULL,
	[FechaTope] [smalldatetime] NULL,
	[Vendedor] [int] NULL,
	[PorComision] [float] NULL,
	[Zona] [int] NULL,
	[Tarifa] [int] NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[TipoPortes] [varchar](1) NULL,
	[Transaccion] [int] NULL,
	[AgruparAlbaranes] [varchar](1) NULL,
	[PeriodicidadFacturas] [int] NULL,
	[PorPagoContado] [float] NULL,
	[PorDtoComercial] [float] NULL,
	[PorDtoComercial2] [float] NULL,
	[PorProntoPago] [float] NULL,
	[PorRappel] [float] NULL,
	[PorFinanciacion] [float] NULL,
	[PorRetencion] [float] NULL,
	[PorFranquicia] [float] NULL,
	[Divisa] [varchar](3) NULL,
	[FactorDivisa] [float] NULL,
	[DecimalesDivisa] [int] NULL,
	[TipoEfecto] [int] NULL,
	[Plazo] [int] NULL,
	[FormaPago] [varchar](60) NULL,
	[CuentaConta] [varchar](15) NULL,
	[GrupoCuentaConta] [int] NULL,
	[NroPlazos] [int] NULL,
	[DiasPrimerPlazo] [int] NULL,
	[DiasEntrePlazos] [int] NULL,
	[DiaFijoPago1] [int] NULL,
	[DiaFijoPago2] [int] NULL,
	[DiaFijoPago3] [int] NULL,
	[DiaNoPago1] [int] NULL,
	[MesNoPago1] [int] NULL,
	[DiaNoPago2] [int] NULL,
	[MesNoPago2] [int] NULL,
	[ControlFestivos] [varchar](1) NULL,
	[DiasRetroceso] [int] NULL,
	[MesComercial] [varchar](1) NULL,
	[NroDomicilioRecibo] [int] NULL,
	[Entidad] [varchar](4) NULL,
	[Oficina] [varchar](4) NULL,
	[DigitosControl] [varchar](2) NULL,
	[NroCuenta] [varchar](10) NULL,
	[IBAN] [varchar](35) NULL,
	[ImpBrutoLineas] [money] NULL,
	[ImpDtoLineas] [money] NULL,
	[ImpNetoLineas] [money] NULL,
	[ImpDtoComercial] [money] NULL,
	[ImpRappel] [money] NULL,
	[ImpProntoPago] [money] NULL,
	[ImpBaseImp1] [money] NULL,
	[PorIVA1] [float] NULL,
	[PorRE1] [float] NULL,
	[CuotaIVA1] [money] NULL,
	[CuotaRE1] [money] NULL,
	[ImpBaseImp2] [money] NULL,
	[PorIVA2] [float] NULL,
	[PorRE2] [float] NULL,
	[CuotaIVA2] [money] NULL,
	[CuotaRE2] [money] NULL,
	[ImpBaseImp3] [money] NULL,
	[PorIVA3] [float] NULL,
	[PorRE3] [float] NULL,
	[CuotaIVA3] [money] NULL,
	[CuotaRE3] [money] NULL,
	[ImpBaseImp4] [money] NULL,
	[PorIVA4] [float] NULL,
	[PorRE4] [float] NULL,
	[CuotaIVA4] [money] NULL,
	[CuotaRE4] [money] NULL,
	[PorIVAPortes] [float] NULL,
	[PorREPortes] [float] NULL,
	[CuotaIVAPortes] [money] NULL,
	[CuotaREPortes] [money] NULL,
	[ImpBaseImp] [money] NULL,
	[CuotaIVA] [money] NULL,
	[CuotaRE] [money] NULL,
	[TotalIVA] [money] NULL,
	[ImpOtrosDtos] [money] NULL,
	[ImpBaseComision] [money] NULL,
	[ImpComision] [money] NULL,
	[ImpPortes] [money] NULL,
	[ImpFranquicia] [money] NULL,
	[ImpFinanciacion] [money] NULL,
	[ImpRetencion] [money] NULL,
	[ImpPedido] [money] NULL,
	[ImpLiquido] [money] NULL,
	[ImpDivAlter] [money] NULL,
	[ImpCoste] [money] NULL,
	[ImpACuenta] [money] NULL,
	[FechaACuenta] [smalldatetime] NULL,
	[PorMargen] [float] NULL,
	[CantidadPed] [float] NULL,
	[CantidadServida] [float] NULL,
	[ImpNetoServido] [money] NULL,
	[ObsPedido] [text] NULL,
	[Deposito] [varchar](1) NULL,
	[HayColores] [varchar](1) NULL,
	[NroTallaje] [int] NULL,
	[CodigoComVta] [int] NULL,
	[CodigoComDto] [int] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[CantidadLock] [float] NULL,
	[ImoNetoLock] [float] NULL,
	[HayTallas] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[ImpNetoLock] [float] NULL,
	[HayFechaSerArt] [varchar](1) NULL,
	[CantidadPedPro] [float] NULL,
	[ImpNetoPedProSIva] [money] NULL,
	[CantidadMod] [float] NULL,
	[ImpNetoMod] [float] NULL,
	[EmpresaPedPro] [int] NULL,
	[EjercicioPedPro] [int] NULL,
	[SeriePedPro] [varchar](2) NULL,
	[NroPedidoPro] [int] NULL,
	[DocExterno] [varchar](20) NULL,
	[FechaValor] [smalldatetime] NULL,
	[TarifaDto] [int] NULL,
	[ImpValePromocion] [money] NULL,
	[ImpACuentaAnt] [money] NULL,
	[PorBfcio] [float] NULL,
	[SoporteEnvases] [varchar](1) NULL,
	[AgruparCodBar] [varchar](1) NULL,
	[NroBultos] [int] NULL,
 CONSTRAINT [PK_ocpedcli] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
