USE [Herreras]
GO
/****** Objeto: Table [dbo].[octarpto] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octarpto](
	[TarifaPto] [int] NOT NULL,
	[Descripcion] [varchar](60) NULL,
	[IvaInc] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[InstanteModif] [smalldatetime] NULL,
	[InstanteTraspaso] [smalldatetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
 CONSTRAINT [PK_octarpto] PRIMARY KEY CLUSTERED 
(
	[TarifaPto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
