USE [Herreras]
GO
/****** Objeto: Table [dbo].[oclisart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oclisart](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[NroSesion] [int] NOT NULL,
	[NroLinea] [int] NOT NULL,
	[CodigoBarras] [varchar](25) NOT NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Cantidad] [float] NULL,
	[Fecha] [smalldatetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_oclisart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[NroSesion] ASC,
	[NroLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
