USE [Herreras]
GO
/****** Objeto: Table [dbo].[octarcre] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octarcre](
	[Tarjeta] [int] NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Abreviatura] [varchar](5) NOT NULL,
	[PorComision] [float] NULL,
	[PorDtoVenta] [float] NULL,
	[CuentaBanco] [varchar](15) NULL,
	[CuentaBancoAsiDsc] [int] NULL,
	[CuentaComision] [varchar](15) NULL,
	[CuentaComisionAsiDsc] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_octarcre] PRIMARY KEY CLUSTERED 
(
	[Tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
