USE [Herreras]
GO
/****** Objeto: Table [dbo].[OcResArq] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OcResArq](
	[Numero] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Tarjeta1] [int] NULL,
	[Tarjeta2] [int] NULL,
	[Tarjeta3] [int] NULL,
	[TipoIva1] [int] NULL,
	[TipoIva2] [int] NULL,
	[TipoIva3] [int] NULL,
 CONSTRAINT [PK_OcResArq] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
