USE [Herreras]
GO
/****** Objeto: Table [dbo].[ochisprp] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ochisprp](
	[Proceso] [varchar](25) NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[InstanteProceso] [datetime] NOT NULL,
	[Tarifa] [int] NULL,
	[Registros] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ochisprp] PRIMARY KEY CLUSTERED 
(
	[Proceso] ASC,
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[InstanteProceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
