USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgtar] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgtar](
	[Tarifa] [int] NOT NULL,
	[Descripcion] [varchar](40) NOT NULL,
	[Margen] [float] NULL,
	[Ajuste] [money] NULL,
	[AjusteMenos] [money] NULL,
	[RedondearUp] [varchar](1) NULL,
	[Tipo] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgtar] PRIMARY KEY CLUSTERED 
(
	[Tarifa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
