USE [Herreras]
GO
/****** Objeto: Table [dbo].[occamart] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occamart](
	[InstanteModif] [datetime] NOT NULL,
	[ArticuloAntiguo] [varchar](15) NOT NULL,
	[ArticuloNuevo] [varchar](15) NOT NULL,
	[ColorAntiguo] [varchar](25) NULL,
	[TallaAntigua] [varchar](7) NULL,
	[ColorNuevo] [varchar](25) NULL,
	[TallaNueva] [varchar](7) NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occamart] PRIMARY KEY CLUSTERED 
(
	[InstanteModif] ASC,
	[ArticuloAntiguo] ASC,
	[ArticuloNuevo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
