USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartofp] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartofp](
	[Numero] [int] NOT NULL,
	[Serie] [varchar](1) NOT NULL,
	[Tarifa] [int] NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[FechaFinal] [smalldatetime] NULL,
	[Descripcion] [varchar](60) NULL,
	[Cantidad] [float] NULL,
	[Precio] [money] NULL,
	[PorDto] [float] NULL,
	[Nivel] [int] NULL,
	[Estado] [varchar](1) NULL,
	[InstanteImprEtiqueta] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[FechaInicialVenta] [smalldatetime] NULL,
	[FechaInicialPedidos] [smalldatetime] NULL,
	[HoraInicial] [smalldatetime] NULL,
	[HoraFinal] [smalldatetime] NULL,
	[PrecioCosteSIva] [money] NULL,
	[AplicarPrecioRebaja] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocartofp] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
