USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocauto] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocauto](
	[Autonomia] [int] NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocauto] PRIMARY KEY CLUSTERED 
(
	[Autonomia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
