USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocrepproart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocrepproart](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroRep] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Almacen] [int] NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Descripcion] [ntext] NULL,
	[Cantidad] [float] NULL,
	[Fecha] [smalldatetime] NULL,
	[PrecioSIva] [money] NULL,
	[PrecioCIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpNetoCIva] [money] NULL,
	[ImpNetoSIva] [money] NULL,
	[PrecioRebaje] [money] NULL,
	[PrecioRebajeSIva] [money] NULL,
	[PorIVA] [float] NULL,
	[PorRE] [float] NULL,
	[StatusPrecioManual] [varchar](1) NULL,
	[StatusOferta] [varchar](1) NULL,
	[TipoArt] [varchar](1) NULL,
	[Estado] [varchar](15) NULL,
	[NumeroMovArt] [int] NULL,
	[NumeroMovArtDep] [int] NULL,
	[EmpresaPedido] [int] NULL,
	[AlmacenPedido] [int] NULL,
	[EjercicioPedido] [int] NULL,
	[SeriePedido] [varchar](2) NULL,
	[NroPedido] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[TipoDocPedido] [varchar](2) NULL,
	[IdPed] [int] NULL,
	[EmpresaOri] [int] NULL,
	[AlmacenOri] [int] NULL,
 CONSTRAINT [PK_ocrepproart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroRep] ASC,
	[Orden] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
