USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocprolockalm] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocprolockalm](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[EmpresaDes] [int] NOT NULL,
	[AlmacenDes] [int] NOT NULL,
	[CantidadTotal] [float] NULL,
	[ImpNetoSIva] [money] NULL,
	[CantidadLock] [float] NULL,
	[ImpNetoSIvaLock] [money] NULL,
	[CantidadALock] [float] NULL,
	[EmpresaLock] [int] NULL,
	[TipoDocLock] [varchar](2) NULL,
	[EjercicioLock] [int] NULL,
	[SerieLock] [varchar](2) NULL,
	[NroDocLock] [int] NULL,
	[FechaLock] [smalldatetime] NULL,
	[VendedorLock] [int] NULL,
	[CajaLock] [int] NULL,
	[OperacionLock] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocprolockalm] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC,
	[EmpresaDes] ASC,
	[AlmacenDes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
