USE [Herreras]
GO
/****** Objeto: Table [dbo].[occlidom] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occlidom](
	[Cliente] [varchar](15) NOT NULL,
	[NroDomicilio] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[RazonSocial] [varchar](60) NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Pais] [varchar](15) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[TelefonoMovil] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Email] [varchar](60) NULL,
	[NIF] [varchar](15) NULL,
	[PersonaContacto] [varchar](60) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Observacion] [text] NULL,
 CONSTRAINT [PK_occlidom] PRIMARY KEY CLUSTERED 
(
	[Cliente] ASC,
	[NroDomicilio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
