USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpropedart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpropedart](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroProPed] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Fila] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Id] [int] NULL,
	[Almacen] [int] NULL,
	[Descripcion] [varchar](60) NULL,
	[TipoArt] [varchar](1) NULL,
	[Fecha] [smalldatetime] NULL,
	[CantidadPedida] [float] NULL,
	[CantidadRecibida] [float] NULL,
	[UltCtdRecibida] [float] NULL,
	[PrecioSIva] [money] NULL,
	[PrecioCIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpNetoSIva] [money] NULL,
	[ImpNetoCIva] [money] NULL,
	[PVP] [money] NULL,
	[PrecioRebaje] [money] NULL,
	[PrecioRebajeSIva] [money] NULL,
	[PorIva] [float] NULL,
	[PorRE] [float] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocpropedart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroProPed] ASC,
	[Orden] ASC,
	[Fila] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
