USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocsur] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocsur](
	[Surtido] [int] NOT NULL,
	[NroTallaje] [int] NULL,
	[Proveedor] [int] NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Descripcion] [varchar](60) NULL,
	[CodigoBarras] [varchar](20) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NroMarca] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
 CONSTRAINT [PK_ocsur] PRIMARY KEY CLUSTERED 
(
	[Surtido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
