USE [Herreras]
GO
/****** Objeto: Table [dbo].[occlipresu] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occlipresu](
	[Cliente] [varchar](15) NOT NULL,
	[Nombre] [varchar](60) NOT NULL,
	[RazonSocial] [varchar](60) NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Pais] [varchar](15) NULL,
	[NIF] [varchar](15) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[TelefonoMovil] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Email] [varchar](60) NULL,
	[Web] [varchar](60) NULL,
	[PersonaContacto] [varchar](60) NULL,
	[Vendedor] [int] NULL,
	[PorComision] [float] NULL,
	[Zona] [int] NULL,
	[FormaEnvio] [varchar](60) NULL,
	[TipoPortes] [varchar](1) NULL,
	[AgruparAlbaranes] [varchar](1) NULL,
	[PorPagoContado] [float] NULL,
	[Transaccion] [int] NULL,
	[Tarifa] [int] NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[PorDtoComercial] [float] NULL,
	[PorDtoComercial2] [float] NULL,
	[PorProntoPago] [float] NULL,
	[PorRappel] [float] NULL,
	[PorFinanciacion] [float] NULL,
	[PorRetencion] [float] NULL,
	[PorFranquicia] [float] NULL,
	[Divisa] [varchar](3) NULL,
	[Plazo] [int] NULL,
	[FormaPago] [varchar](60) NULL,
	[NroPlazos] [int] NULL,
	[DiasPrimerPlazo] [int] NULL,
	[DiasEntrePlazos] [int] NULL,
	[DiaFijoPago1] [int] NULL,
	[DiaFijoPago2] [int] NULL,
	[DiaFijoPago3] [int] NULL,
	[DiaNoPago1] [int] NULL,
	[MesNoPago1] [int] NULL,
	[DiaNoPago2] [int] NULL,
	[MesNoPago2] [int] NULL,
	[ControlFestivos] [varchar](1) NULL,
	[DiasRetroceso] [int] NULL,
	[MesComercial] [varchar](1) NULL,
	[TipoEfecto] [int] NULL,
	[Entidad] [varchar](4) NULL,
	[Oficina] [varchar](4) NULL,
	[DigitosControl] [varchar](2) NULL,
	[NroCuenta] [varchar](10) NULL,
	[IBAN] [varchar](35) NULL,
	[Observacion] [ntext] NULL,
	[AplicarOfertas] [varchar](1) NULL,
	[FechaAlta] [smalldatetime] NULL,
	[FechaBaja] [smalldatetime] NULL,
	[Estado] [varchar](1) NULL,
	[EstadoListado] [varchar](1) NULL,
	[Actividad] [int] NULL,
	[EmpresaAlta] [int] NULL,
	[AlmacenAlta] [int] NULL,
	[ClienteNuevo] [varchar](15) NULL,
	[HayColores] [varchar](1) NULL,
	[NroTallaje] [int] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[HayTallas] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[Tipo] [varchar](1) NULL,
	[Grupo] [int] NULL,
	[TipoTarifaVenta] [int] NULL,
	[HayFechaSerArt] [varchar](1) NULL,
	[ArchivoFoto] [varchar](100) NULL,
	[InstanteModifFoto] [datetime] NULL,
	[TarifaDto] [int] NULL,
	[SoporteEnvases] [varchar](1) NULL,
 CONSTRAINT [PK_occlipresu] PRIMARY KEY CLUSTERED 
(
	[Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
