USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgrpofeart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgrpofeart](
	[Codigo] [varchar](10) NOT NULL,
	[NroOferta] [int] NOT NULL,
	[Agrupacion] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Serie] [varchar](1) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[PrecioProSIVA] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgrpofeart] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC,
	[NroOferta] ASC,
	[Agrupacion] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Serie] ASC,
	[Talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
