USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgrpgto] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgrpgto](
	[Grupo] [int] NOT NULL,
	[Descripcion] [varchar](40) NOT NULL,
	[CuentaConta] [varchar](15) NULL,
	[CuentaContaAsiDsc] [int] NULL,
	[CuentaGastos] [varchar](15) NULL,
	[CuentaGastosAsiDsc] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[IngresoBanco] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgrpgto] PRIMARY KEY CLUSTERED 
(
	[Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
