USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgrpcliusr] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgrpcliusr](
	[Grupo] [int] NOT NULL,
	[Usuario] [varchar](25) NOT NULL,
	[Estado] [varchar](1) NULL,
	[TipoAcceso] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgrpcliusr] PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC,
	[Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
