USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocacumov] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocacumov](
	[Fecha] [smalldatetime] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Numero] [int] NOT NULL,
	[Tabla] [varchar](25) NULL,
	[Descripcion] [varchar](60) NULL,
	[Abreviatura] [varchar](2) NULL,
	[Selected] [varchar](1) NULL,
 CONSTRAINT [PK_ocacumov] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocacumov] ADD  DEFAULT ((0)) FOR [Numero]
GO
ALTER TABLE [dbo].[ocacumov] ADD  DEFAULT ('') FOR [Tabla]
GO
ALTER TABLE [dbo].[ocacumov] ADD  DEFAULT ('') FOR [Descripcion]
GO
