USE [Herreras]
GO
/****** Objeto: Table [dbo].[ouauxbar] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ouauxbar](
	[Articulo] [varchar](20) NULL,
	[color] [varchar](40) NULL,
	[talla] [varchar](20) NULL,
	[codigobarras] [varchar](40) NULL
) ON [PRIMARY]
GO
