USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajs] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajs](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[TipoDoc] [varchar](2) NULL,
	[Ejercicio] [int] NULL,
	[Serie] [varchar](2) NULL,
	[NroDoc] [int] NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[Hora] [varchar](8) NOT NULL,
	[Vendedor] [int] NULL,
	[Cliente] [varchar](15) NULL,
	[BrutoCIva] [money] NULL,
	[BrutoSIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpDtoCIva] [money] NULL,
	[ImpDtoSIva] [money] NULL,
	[DtoPorAjusteCIva] [money] NULL,
	[DtoPorAjusteSIva] [money] NULL,
	[ValeTienda] [money] NULL,
	[ValePromocion] [money] NULL,
	[Neto] [money] NULL,
	[EmpresaFactura] [int] NULL,
	[EjercicioFactura] [int] NULL,
	[SerieFactura] [varchar](2) NULL,
	[NroFactura] [int] NULL,
	[Tarifa] [int] NULL,
	[BaseImp1] [money] NULL,
	[PorcenIva1] [float] NULL,
	[PorcenRecargo1] [float] NULL,
	[BaseImp2] [money] NULL,
	[PorcenIva2] [float] NULL,
	[PorcenRecargo2] [float] NULL,
	[BaseImp3] [money] NULL,
	[PorcenIva3] [float] NULL,
	[PorcenRecargo3] [float] NULL,
	[BaseImp4] [money] NULL,
	[PorcenIva4] [float] NULL,
	[PorcenRecargo4] [float] NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[Mesa] [varchar](3) NULL,
	[Descripcion] [varchar](40) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occajs] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
