USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocalbemp] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocalbemp](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroAlbaran] [int] NOT NULL,
	[EmpresaCli] [int] NULL,
	[AlmacenCli] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Fecha] [smalldatetime] NULL,
	[FechaValor] [smalldatetime] NULL,
	[Temporada] [varchar](5) NULL,
	[Cliente] [varchar](15) NULL,
	[Nombre] [varchar](60) NULL,
	[RazonSocial] [varchar](60) NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Pais] [varchar](15) NULL,
	[NIF] [varchar](15) NULL,
	[NroDomicilioEnvio] [int] NULL,
	[Tarifa] [int] NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[Vendedor] [int] NULL,
	[Zona] [int] NULL,
	[PorDtoComercial] [float] NULL,
	[PorDtoComercial2] [float] NULL,
	[PorProntoPago] [float] NULL,
	[PorRappel] [float] NULL,
	[PorFranquicia] [float] NULL,
	[PorPagoContado] [float] NULL,
	[TipoEfecto] [int] NULL,
	[Plazo] [int] NULL,
	[NroPlazos] [int] NULL,
	[DiasPrimerPlazo] [int] NULL,
	[DiasEntrePlazos] [int] NULL,
	[DiaFijoPago1] [int] NULL,
	[DiaFijoPago2] [int] NULL,
	[DiaFijoPago3] [int] NULL,
	[DiaNoPago1] [int] NULL,
	[MesNoPago1] [int] NULL,
	[DiaNoPago2] [int] NULL,
	[MesNoPago2] [int] NULL,
	[ControlFestivos] [varchar](1) NULL,
	[DiasRetroceso] [int] NULL,
	[FormaPago] [varchar](60) NULL,
	[MesComercial] [varchar](1) NULL,
	[Entidad] [varchar](4) NULL,
	[Oficina] [varchar](4) NULL,
	[DigitosControl] [varchar](2) NULL,
	[NroCuenta] [varchar](10) NULL,
	[IBAN] [varchar](35) NULL,
	[CuentaConta] [varchar](15) NULL,
	[GrupoCuentaConta] [int] NULL,
	[CantidadTotal] [float] NULL,
	[Observación] [text] NULL,
	[ImpBrutoLineas] [money] NULL,
	[ImpDtoLineas] [money] NULL,
	[ImpNetoLineas] [money] NULL,
	[ImpDtoComercial] [money] NULL,
	[ImpRappel] [money] NULL,
	[ImpProntoPago] [money] NULL,
	[ImpBaseComision] [money] NULL,
	[ImpComision] [money] NULL,
	[ImpPortes] [money] NULL,
	[ImpCoste] [money] NULL,
	[PorMargen] [float] NULL,
	[ImpOtrosDtos] [money] NULL,
	[ImpFranquicia] [money] NULL,
	[ImpAlbaran] [money] NULL,
	[ImpBaseImp1] [money] NULL,
	[PorIVA1] [float] NULL,
	[PorRE1] [float] NULL,
	[CuotaIVA1] [money] NULL,
	[CuotaRE1] [money] NULL,
	[ImpBaseImp2] [money] NULL,
	[PorIVA2] [float] NULL,
	[PorRE2] [float] NULL,
	[CuotaIVA2] [money] NULL,
	[CuotaRE2] [money] NULL,
	[ImpBaseImp3] [money] NULL,
	[PorIVA3] [float] NULL,
	[PorRE3] [float] NULL,
	[CuotaIVA3] [money] NULL,
	[CuotaRE3] [money] NULL,
	[ImpBaseImp4] [money] NULL,
	[PorIVA4] [float] NULL,
	[PorRE4] [float] NULL,
	[CuotaIVA4] [money] NULL,
	[CuotaRE4] [money] NULL,
	[ImpBaseImp] [money] NULL,
	[CuotaIVA] [money] NULL,
	[CuotaRE] [money] NULL,
	[TotalIVA] [money] NULL,
	[EmpresaFra] [int] NULL,
	[AlmacenFra] [int] NULL,
	[EjercicioFra] [int] NULL,
	[SerieFra] [varchar](2) NULL,
	[NroFactura] [int] NULL,
	[SerieFacturaB] [varchar](2) NULL,
	[NroFacturaB] [int] NULL,
	[Estado] [varchar](1) NULL,
	[EstadoListado] [varchar](1) NULL,
	[HayColores] [varchar](1) NULL,
	[HayTallas] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[Seleccion] [text] NULL,
	[InstanteListado] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
 CONSTRAINT [PK_ocalbemp] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroAlbaran] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
