USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgcaj] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgcaj](
	[EmpresaDoc] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[Empresa] [int] NULL,
	[Almacen] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Fecha] [smalldatetime] NULL,
	[Hora] [smalldatetime] NULL,
	[TipoMov] [varchar](2) NULL,
	[Vendedor] [int] NULL,
	[Perfil] [int] NULL,
	[BrutoCIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpDtoCIva] [money] NULL,
	[DtoPorAjusteCIva] [money] NULL,
	[NetoCIva] [money] NULL,
	[CantidadTotal] [float] NULL,
	[Estado] [varchar](1) NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgcaj] PRIMARY KEY CLUSTERED 
(
	[EmpresaDoc] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
