USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocmovdoc] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocmovdoc](
	[Empresa] [int] NOT NULL,
	[TipoDoc] [varchar](2) NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[Almacen] [int] NULL,
	[NroCaja] [int] NULL,
	[Fecha] [smalldatetime] NULL,
	[Tipo] [varchar](1) NULL,
	[Tarifa] [int] NULL,
	[Proveedor] [int] NULL,
	[Cliente] [varchar](15) NULL,
	[Vendedor] [int] NULL,
	[DocExterno] [varchar](15) NULL,
	[Concepto1] [varchar](25) NULL,
	[Concepto2] [varchar](25) NULL,
	[Concepto3] [varchar](25) NULL,
	[Observaciones] [text] NULL,
	[Total] [money] NULL,
	[Valoracion] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NroMarca] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocmovdoc] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[TipoDoc] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
