USE [Herreras]
GO
/****** Objeto: Table [dbo].[occsb] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occsb](
	[Norma] [varchar](3) NOT NULL,
	[Seccion] [int] NOT NULL,
	[NroCampo] [int] NOT NULL,
	[Descripcion] [varchar](30) NULL,
	[Longitud] [int] NULL,
	[Tipo] [varchar](1) NULL,
	[Decimales] [int] NULL,
	[Alineacion] [varchar](1) NULL,
	[Formato] [varchar](10) NULL,
	[Valor] [varchar](10) NULL,
	[Observacion] [text] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occsb] PRIMARY KEY CLUSTERED 
(
	[Norma] ASC,
	[Seccion] ASC,
	[NroCampo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
