USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocaddcoltalart] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocaddcoltalart](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[NroSesion] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[SerieTalla] [varchar](1) NULL,
	[Talla] [varchar](7) NULL,
	[Fila] [int] NULL,
	[Cantidad] [float] NULL,
	[PrecioSIva] [money] NULL,
	[PrecioCIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpNetoSIva] [money] NULL,
	[ImpNetoCIva] [money] NULL,
	[PorIva] [float] NULL,
	[PorRE] [float] NULL,
	[PrecioRebaje] [money] NULL,
	[PrecioRebajeSIva] [money] NULL,
	[PrecioCDtosSIva] [money] NULL,
	[Margen] [float] NULL,
	[PorIvaTar] [float] NULL,
	[Ajuste] [money] NULL,
	[AjusteMenos] [money] NULL,
	[PrecioSinAjuste] [money] NULL,
	[RedondearUp] [varchar](1) NULL,
	[PVP] [money] NULL,
	[PorDtoRebaja] [float] NULL,
	[PrecioRebaja] [money] NULL,
	[IncPreSer] [money] NULL,
	[ColorBas] [varchar](4) NULL,
	[DscColor] [varchar](40) NULL,
	[Localizador] [varchar](25) NULL,
	[ArchivoFoto] [varchar](100) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[ColorBas1] [varchar](4) NULL,
	[ColorBas2] [varchar](4) NULL,
	[ColorBas3] [varchar](4) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocaddcoltalart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[NroSesion] ASC,
	[Orden] ASC,
	[Articulo] ASC,
	[Color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
