USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajmas] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajmas](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[Cliente] [varchar](15) NULL,
	[Nombre] [varchar](60) NULL,
	[RazonSocial] [varchar](60) NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Pais] [varchar](15) NULL,
	[Telefono1] [varchar](15) NULL,
	[NIF] [varchar](15) NULL,
	[NroDomicilioEnvio] [int] NULL,
	[FormaEnvio] [varchar](60) NULL,
	[TipoPortes] [varchar](1) NULL,
	[Transaccion] [int] NULL,
	[TipoEfecto] [int] NULL,
	[Plazo] [int] NULL,
	[FormaPago] [varchar](60) NULL,
	[NroPlazos] [int] NULL,
	[DiasPrimerPlazo] [int] NULL,
	[DiasEntrePlazos] [int] NULL,
	[ControlFestivos] [varchar](1) NULL,
	[DiasRetroceso] [int] NULL,
	[MesComercial] [varchar](1) NULL,
	[Entidad] [varchar](4) NULL,
	[Oficina] [varchar](4) NULL,
	[DigitosControl] [varchar](2) NULL,
	[NroCuenta] [varchar](10) NULL,
	[CuentaConta] [varchar](15) NULL,
	[GrupoCuentaConta] [int] NULL,
	[Observacion] [text] NULL,
	[NombrePagador] [varchar](60) NULL,
	[DNIPagador] [varchar](15) NULL,
	[TipoDocEntrega] [varchar](2) NULL,
	[EjercicioEntrega] [int] NULL,
	[SerieEntrega] [varchar](2) NULL,
	[NroDocEntrega] [int] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Telefono2] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[CargoPagador] [varchar](25) NULL,
	[NombreBenef] [varchar](60) NULL,
	[DNIBenef] [varchar](15) NULL,
	[CargoBenef] [varchar](25) NULL,
	[PoblacionCobro] [varchar](25) NULL,
	[IBAN] [varchar](35) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occajmas] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
