USE [Herreras]
GO
/****** Objeto: Table [dbo].[occamcli] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occamcli](
	[InstanteModif] [datetime] NOT NULL,
	[ClienteAntiguo] [varchar](15) NOT NULL,
	[ClienteNuevo] [varchar](15) NOT NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occamcli] PRIMARY KEY CLUSTERED 
(
	[InstanteModif] ASC,
	[ClienteAntiguo] ASC,
	[ClienteNuevo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
