USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartp] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartp](
	[Articulo] [varchar](15) NOT NULL,
	[Temporada] [varchar](5) NULL,
	[DescripcionCorta] [varchar](40) NULL,
	[DescripcionLarga] [varchar](60) NULL,
	[Proveedor] [int] NULL,
	[Modelo] [varchar](25) NULL,
	[TipoIva] [int] NULL,
	[Estado] [varchar](1) NULL,
	[Familia] [varchar](15) NULL,
	[NroTallaje] [int] NULL,
	[Marca] [varchar](40) NULL,
	[AplicarRebaja] [varchar](1) NULL,
	[PorComision] [float] NULL,
	[ImpComision] [money] NULL,
	[Tipo] [varchar](1) NULL,
	[AcumularStock] [varchar](1) NULL,
	[CantidadCaja] [float] NULL,
	[Material] [int] NULL,
	[Piso] [int] NULL,
	[Tacon] [int] NULL,
	[Horma] [varchar](25) NULL,
	[DscTacon] [varchar](25) NULL,
	[MaterialExterior] [int] NULL,
	[MaterialForro] [int] NULL,
	[MaterialAplique] [int] NULL,
	[ArchivoFoto] [varchar](100) NULL,
	[ArchivoAMovie] [varchar](100) NULL,
	[Observacion] [ntext] NULL,
	[ArticuloAntiguo] [varchar](15) NULL,
	[ArticuloNuevo] [varchar](15) NULL,
	[Traspasable] [varchar](1) NULL,
	[Empeine] [varchar](1) NULL,
	[Forro] [varchar](1) NULL,
	[Suela] [varchar](1) NULL,
	[HayColores] [varchar](1) NULL,
	[Deposito] [varchar](1) NULL,
	[Propiedad1] [int] NULL,
	[Propiedad2] [int] NULL,
	[IncPreSer] [money] NULL,
	[Puntos] [int] NULL,
	[PuntosRebaja] [int] NULL,
	[DescontarPuntos] [varchar](1) NULL,
	[InstanteModifFoto] [datetime] NULL,
	[InstanteAlta] [datetime] NULL,
	[InstanteBaja] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteCierre] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NroMarca] [int] NULL,
	[Linea] [int] NULL,
	[NroDecimales] [int] NULL,
	[UnidadPesoVolumen] [varchar](1) NULL,
	[Cociente] [int] NULL,
	[Expresion] [varchar](60) NULL,
	[Volumen] [float] NULL,
	[Peso] [float] NULL,
	[CodigoIntrastat] [varchar](15) NULL,
	[MasaNeta] [float] NULL,
	[ImprimirEquiv] [varchar](1) NULL,
	[OrigenUPV] [varchar](1) NULL,
	[TempColor] [varchar](1) NULL,
	[GenerarPuntos] [varchar](1) NULL,
	[HayTallas] [varchar](1) NULL,
	[AgruparPrecios] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[SurtidoOpt] [int] NULL,
	[FechaInicioEnvWEB] [smalldatetime] NULL,
	[FechaFinEnvWEB] [smalldatetime] NULL,
	[FechaInicioNewWEB] [smalldatetime] NULL,
	[FechaFinNewWEB] [smalldatetime] NULL,
	[IncPreSerPVP] [money] NULL,
	[Amazon] [varchar](1) NULL,
 CONSTRAINT [PK_ocartp] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocartp] ADD  CONSTRAINT [DF_ocartp_Amazon]  DEFAULT ('N') FOR [Amazon]
GO
