USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocaddcoltaltar] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocaddcoltaltar](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[NroSesion] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[TarifaPVP] [int] NOT NULL,
	[SerieTalla] [varchar](1) NOT NULL,
	[PrecioSIva] [money] NULL,
	[Margen] [float] NULL,
	[Ajuste] [money] NULL,
	[AjusteMenos] [money] NULL,
	[Precio] [money] NULL,
	[MargenReal] [float] NULL,
	[Modelo] [varchar](25) NULL,
	[ColorBas] [varchar](4) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocaddcoltaltar] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[NroSesion] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[TarifaPVP] ASC,
	[SerieTalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
