USE [Herreras]
GO
/****** Objeto: Table [dbo].[occoecli] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occoecli](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroCob] [int] NOT NULL,
	[TipoDoc] [varchar](2) NULL,
	[Cliente] [varchar](15) NULL,
	[Fecha] [smalldatetime] NULL,
	[Cobrador] [int] NULL,
	[CuentaBanco] [varchar](15) NULL,
	[NombrePagador] [varchar](60) NULL,
	[CargoPagador] [varchar](60) NULL,
	[DNIPagador] [varchar](15) NULL,
	[NombreBenef] [varchar](60) NULL,
	[CargoBenef] [varchar](60) NULL,
	[PoblacionCobro] [varchar](50) NULL,
	[DNIBenef] [varchar](15) NULL,
	[EmpresaCaja] [int] NULL,
	[AlmacenCaja] [int] NULL,
	[Caja] [int] NULL,
	[Operacion] [int] NULL,
	[Tipo] [varchar](1) NULL,
	[Tarjeta] [int] NULL,
	[Documento] [varchar](60) NULL,
	[NroEfectos] [int] NULL,
	[Importe] [money] NULL,
	[Observacion] [text] NULL,
	[PorComision] [float] NULL,
	[ImpGastos] [money] NULL,
	[ImpComision] [money] NULL,
	[InstanteConta] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[ImpBaseComision] [money] NULL,
 CONSTRAINT [PK_occoecli] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroCob] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
