USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocparm] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocparm](
	[Perfil] [varchar](25) NOT NULL,
	[Seccion] [varchar](50) NOT NULL,
	[Tipo] [varchar](1) NOT NULL,
	[Clave] [varchar](30) NOT NULL,
	[BValor] [image] NULL,
	[Valor] [varchar](500) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[DelegacionModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocparm] PRIMARY KEY CLUSTERED 
(
	[Perfil] ASC,
	[Seccion] ASC,
	[Tipo] ASC,
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
