USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartpaux] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartpaux](
	[Articulo] [varchar](15) NOT NULL,
	[Id] [int] NOT NULL,
	[Atributo1] [varchar](60) NULL,
	[Atributo2] [varchar](60) NULL,
	[Atributo3] [varchar](60) NULL,
	[Atributo4] [varchar](60) NULL,
	[Atributo5] [varchar](60) NULL,
	[Atributo6] [varchar](60) NULL,
	[Atributo7] [varchar](60) NULL,
	[Atributo8] [varchar](60) NULL,
	[Atributo9] [varchar](60) NULL,
	[Atributo10] [varchar](60) NULL,
 CONSTRAINT [PK_ocartpaux] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
