USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocemp] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocemp](
	[Empresa] [int] NOT NULL,
	[RazonSocial] [varchar](60) NULL,
	[Nombre] [varchar](60) NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Web] [varchar](60) NULL,
	[NIF] [varchar](15) NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[PorIVA] [float] NULL,
	[PorRE] [float] NULL,
	[TipoIVACompra] [int] NULL,
	[ValorarStockSIVA] [varchar](1) NULL,
	[Cliente] [varchar](15) NULL,
	[CodCedente] [varchar](15) NULL,
	[Logotipo] [image] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[SerieFacEmp] [varchar](2) NULL,
	[TiposIva] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[IBAN] [varchar](35) NULL,
	[BIC] [varchar](11) NULL,
 CONSTRAINT [PK_ocemp] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
