USE [Herreras]
GO
/****** Objeto: Table [dbo].[occomvtadet] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occomvtadet](
	[Codigo] [int] NOT NULL,
	[Importe] [money] NOT NULL,
	[PorCom] [float] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occomvtadet] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC,
	[Importe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
