USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgperfil] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgperfil](
	[Perfil] [int] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[Vendedor] [int] NULL,
	[Empresa] [int] NULL,
	[Almacen] [int] NULL,
	[TipoMov] [varchar](2) NULL,
	[PedirPVP] [varchar](1) NULL,
	[PedirPorDto] [varchar](1) NULL,
	[PedirDtoLineal] [varchar](1) NULL,
	[PedirPrecioCoste] [varchar](1) NULL,
	[PedirFechaPrueba] [varchar](1) NULL,
	[PedirFechaRecogida] [varchar](1) NULL,
	[PedirNombre] [varchar](1) NULL,
	[PedirCliente] [varchar](1) NULL,
	[PedirObs] [varchar](1) NULL,
	[PedirNroDoc] [varchar](1) NULL,
	[ImprimirCliente] [varchar](1) NULL,
	[ImprimirEmpleado] [varchar](1) NULL,
	[ImprimirPrenda] [varchar](1) NULL,
	[Stocks] [int] NULL,
	[Left] [int] NULL,
	[Width] [int] NULL,
	[Top] [int] NULL,
	[Height] [int] NULL,
	[WVen] [int] NULL,
	[WOrd] [int] NULL,
	[WArr] [int] NULL,
	[WDsc] [int] NULL,
	[WArt] [int] NULL,
	[WCol] [int] NULL,
	[WTal] [int] NULL,
	[WPre] [int] NULL,
	[WDto] [int] NULL,
	[WTot] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgperfil] PRIMARY KEY CLUSTERED 
(
	[Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
