USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocmailcli] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocmailcli](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[TipoDoc] [varchar](2) NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroMail] [int] NOT NULL,
	[Cliente] [varchar](15) NOT NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [smalldatetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocmailcli] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Ejercicio] ASC,
	[TipoDoc] ASC,
	[Serie] ASC,
	[NroMail] ASC,
	[Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocmailcli] ADD  CONSTRAINT [DF_ocmailcli_Cliente]  DEFAULT ('') FOR [Cliente]
GO
ALTER TABLE [dbo].[ocmailcli] ADD  CONSTRAINT [DF_ocmailcli_EmpresaModif]  DEFAULT ((0)) FOR [EmpresaModif]
GO
ALTER TABLE [dbo].[ocmailcli] ADD  CONSTRAINT [DF_ocmailcli_AlmacenModif]  DEFAULT ((0)) FOR [AlmacenModif]
GO
ALTER TABLE [dbo].[ocmailcli] ADD  CONSTRAINT [DF_ocmailcli_InstanteModif]  DEFAULT ('01/01/1900 00:00:00') FOR [InstanteModif]
GO
ALTER TABLE [dbo].[ocmailcli] ADD  CONSTRAINT [DF_ocmailcli_NoTrigger]  DEFAULT ('S') FOR [NoTrigger]
GO
