USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocseract] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocseract](
	[TipoDoc] [varchar](2) NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[SerieCIva] [varchar](2) NULL,
	[SerieSIva] [varchar](2) NULL,
	[SerieCIvaRctva] [varchar](2) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[SerieCIvaOffLine] [varchar](2) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocseract] PRIMARY KEY CLUSTERED 
(
	[TipoDoc] ASC,
	[Empresa] ASC,
	[Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
