USE [Herreras]
GO
/****** Objeto: Table [dbo].[oclista] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oclista](
	[NroInforme] [int] NOT NULL,
	[Nombre] [varchar](60) NOT NULL,
	[Report] [varchar](20) NULL,
	[FontName] [varchar](30) NULL,
	[FontSize] [int] NULL,
	[Sql] [ntext] NULL,
	[Orientacion] [varchar](1) NULL,
	[Totales] [ntext] NULL,
	[Alias] [varchar](15) NULL,
	[TipoDb] [int] NULL,
	[GrabarSql] [varchar](1) NULL,
	[InstanteCreacionSql] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_oclista] PRIMARY KEY CLUSTERED 
(
	[NroInforme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
