USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocaddcoltal] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocaddcoltal](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[NroSesion] [int] NOT NULL,
	[TipoDoc] [varchar](2) NULL,
	[Ejercicio] [int] NULL,
	[Serie] [varchar](2) NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[Fecha] [smalldatetime] NULL,
	[Tarifa] [int] NULL,
	[TarifaPVP] [int] NULL,
	[CantidadTotal] [float] NULL,
	[ImpBrutoLineas] [money] NULL,
	[ImpDtoLineas] [money] NULL,
	[ImpNetoLineas] [money] NULL,
	[ImpDoc] [money] NULL,
	[ImpBaseImp1] [money] NULL,
	[PorIVA1] [float] NULL,
	[PorRE1] [float] NULL,
	[CuotaIVA1] [money] NULL,
	[CuotaRE1] [money] NULL,
	[ImpBaseImp2] [money] NULL,
	[PorIVA2] [float] NULL,
	[PorRE2] [float] NULL,
	[CuotaIVA2] [money] NULL,
	[CuotaRE2] [money] NULL,
	[ImpBaseImp3] [money] NULL,
	[PorIVA3] [float] NULL,
	[PorRE3] [float] NULL,
	[CuotaIVA3] [money] NULL,
	[CuotaRE3] [money] NULL,
	[ImpBaseImp4] [money] NULL,
	[PorIVA4] [float] NULL,
	[PorRE4] [float] NULL,
	[CuotaIVA4] [money] NULL,
	[CuotaRE4] [money] NULL,
	[ImpBaseImp] [money] NULL,
	[CuotaIVA] [money] NULL,
	[CuotaRE] [money] NULL,
	[TotalIVA] [money] NULL,
	[Estado] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NroTallaje] [int] NULL,
	[HayColores] [varchar](1) NULL,
	[HayTallas] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocaddcoltal] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[NroSesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
