USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocalmubiacu] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocalmubiacu](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Ubicacion] [varchar](25) NOT NULL,
	[UniEnt] [float] NULL,
	[UniSal] [float] NULL,
	[UniStk] [float] NULL,
	[InstantePrimEnt] [datetime] NULL,
	[InstanteUltEnt] [datetime] NULL,
	[InstantePrimSal] [datetime] NULL,
	[InstanteUltSal] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
 CONSTRAINT [PK_ocalmubiacu] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC,
	[Empresa] ASC,
	[Almacen] ASC,
	[Ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
