USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgendocart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgendocart](
	[Sesion] [int] NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[DscCorta] [varchar](40) NULL,
	[ColorBas] [int] NULL,
	[Cantidad] [float] NULL,
	[Precio] [money] NULL,
	[PrecioVal] [money] NULL,
	[Valorado] [varchar](1) NULL,
	[Proveedor] [int] NULL,
	[UnidadesStock] [float] NULL,
	[PrecioStock] [money] NULL,
	[EjercicioPed] [int] NULL,
	[SeriePed] [varchar](2) NULL,
	[NroPedido] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgendocart] PRIMARY KEY CLUSTERED 
(
	[Sesion] ASC,
	[Empresa] ASC,
	[Almacen] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
