USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgarr] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgarr](
	[Orden] [int] NOT NULL,
	[Arreglo] [int] NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Descripcion] [varchar](60) NULL,
	[CodigoBarras] [varchar](15) NULL,
	[Cliente] [varchar](15) NULL,
	[FechaEmision] [smalldatetime] NULL,
	[FechaPrueba] [smalldatetime] NULL,
	[FechaRecogida] [smalldatetime] NULL,
	[HoraPrueba] [smalldatetime] NULL,
	[HoraRecogida] [smalldatetime] NULL,
	[Empresa] [int] NULL,
	[Almacen] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Ejercicio] [int] NULL,
	[Serie] [varchar](2) NULL,
	[NroDoc] [int] NULL,
	[Caja] [int] NULL,
	[Operacion] [int] NULL,
	[FechaCaja] [smalldatetime] NULL,
	[Nombre] [varchar](60) NULL,
	[Observacion] [text] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[PVP] [money] NULL,
	[PorDto] [float] NULL,
	[ImpDtoLineal] [money] NULL,
	[Neto] [money] NULL,
	[TarifaPVP] [int] NULL,
 CONSTRAINT [PK_ocgarr] PRIMARY KEY CLUSTERED 
(
	[Orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
