USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocdiv] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocdiv](
	[Divisa] [varchar](3) NOT NULL,
	[Nombre] [varchar](15) NOT NULL,
	[Simbolo] [varchar](3) NOT NULL,
	[CantidadDivisas] [float] NULL,
	[CantidadActual] [money] NULL,
	[Factor] [float] NULL,
	[Decimales] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
	[DecimalesPrecio] [int] NULL,
 CONSTRAINT [PK_ocdiv] PRIMARY KEY CLUSTERED 
(
	[Divisa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
