USE [Herreras]
GO
/****** Objeto: Table [dbo].[OcTempReb] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OcTempReb](
	[Proveedor] [varchar](255) NOT NULL,
	[Articulo] [varchar](255) NULL,
	[DescLarga] [nvarchar](1020) NULL,
	[F4] [nvarchar](1020) NULL,
	[PVP] [float] NULL,
	[Precio] [float] NULL,
	[DTO] [float] NULL
) ON [PRIMARY]
GO
