USE [Herreras]
GO
/****** Objeto: Table [dbo].[oclog] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oclog](
	[Perfil] [varchar](30) NOT NULL,
	[Numero] [int] NOT NULL,
	[spid] [int] NOT NULL,
	[LoginName] [varchar](60) NULL,
	[Msg] [varchar](255) NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_oclog] PRIMARY KEY CLUSTERED 
(
	[Perfil] ASC,
	[spid] ASC,
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
