USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocproartcol] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocproartcol](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Descripcion] [varchar](40) NOT NULL,
	[ColorBasico] [varchar](4) NOT NULL,
	[Deposito] [varchar](1) NULL,
	[Activo] [varchar](1) NULL,
	[ArchivoFoto] [varchar](100) NULL,
	[Material] [int] NULL,
	[Piso] [int] NULL,
	[Temporada] [varchar](5) NULL,
	[NoTrigger] [varchar](1) NULL,
	[GrupoPrecio] [varchar](1) NULL,
	[ColorBas1] [varchar](4) NULL,
	[ColorBas2] [varchar](4) NULL,
	[ColorBas3] [varchar](4) NULL,
	[Localizador] [varchar](25) NULL,
	[SurtidoOpt] [int] NULL,
	[InstanteAlta] [datetime] NULL,
	[FechaCaducidad] [smalldatetime] NULL,
 CONSTRAINT [PK_ocproartcol] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
