USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocsuropttal] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocsuropttal](
	[Talla] [varchar](7) NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[SurtidoOpt] [int] NOT NULL,
	[Prioridad] [int] NOT NULL,
	[CantidadMin] [varchar](3) NULL,
	[CantidadMax] [varchar](3) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocsuropttal] PRIMARY KEY CLUSTERED 
(
	[SurtidoOpt] ASC,
	[Prioridad] ASC,
	[Empresa] ASC,
	[Almacen] ASC,
	[Talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocsuropttal] ADD  DEFAULT ((0)) FOR [SurtidoOpt]
GO
ALTER TABLE [dbo].[ocsuropttal] ADD  DEFAULT ((0)) FOR [Prioridad]
GO
