USE [Herreras]
GO
/****** Objeto: Table [dbo].[occtdarttal] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occtdarttal](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Cantidad] [float] NULL,
	[Surtido] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occtdarttal] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
