USE [Herreras]
GO
/****** Objeto: Table [dbo].[octarea] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octarea](
	[Fecha] [smalldatetime] NOT NULL,
	[Activo] [varchar](1) NOT NULL,
	[Realizado] [varchar](1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_octarea] PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[octarea] ADD  DEFAULT ('') FOR [Nombre]
GO
