USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpedcentmp] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpedcentmp](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Fila] [int] NOT NULL,
	[Modelo] [varchar](25) NULL,
	[OrdenTalla] [int] NULL,
	[Descripcion] [varchar](60) NULL,
	[Cantidad] [float] NULL,
	[FiltradoAlm] [varchar](1) NULL,
	[FiltradoCen] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[InstanteCreacion] [datetime] NULL,
 CONSTRAINT [PK_ocpedcentmp] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC,
	[Fila] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
