USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocalmrep] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocalmrep](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[EmpresaDes] [int] NOT NULL,
	[AlmacenDes] [int] NOT NULL,
	[DestinoRepos] [varchar](1) NULL,
	[DestinoDistri] [varchar](1) NULL,
	[PorPrioridadDes] [float] NULL,
	[StockMaxArtDes] [float] NULL,
	[StockMaxColDes] [float] NULL,
	[StockMaxTalDes] [float] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocalmrep] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[EmpresaDes] ASC,
	[AlmacenDes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
