USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpedproalmagr] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpedproalmagr](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroPedido] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[EmpresaDes] [int] NOT NULL,
	[AlmacenDes] [int] NOT NULL,
	[Almacen] [int] NULL,
	[Tipo] [int] NULL,
	[SerieTalla] [varchar](1) NULL,
	[Fecha] [smalldatetime] NULL,
	[CantidadPedida] [float] NULL,
	[CantidadRecibida] [float] NULL,
	[CantidadATraspasar] [float] NULL,
	[UltCtdRecibida] [float] NULL,
	[PorIva] [float] NULL,
	[PorRE] [float] NULL,
	[TipoIva] [int] NULL,
	[PrecioSIva] [money] NULL,
	[PrecioCIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpNetoSIva] [money] NULL,
	[PrecioRebaje] [money] NULL,
	[PrecioRebajeSIva] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
 CONSTRAINT [PK_ocpedproalmagr] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroPedido] ASC,
	[Id] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC,
	[EmpresaDes] ASC,
	[AlmacenDes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
