USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocanaalmacen] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocanaalmacen](
	[Empresa] [int] NULL,
	[NombreEmpresa] [varchar](128) NULL,
	[Almacen] [int] NULL,
	[NombreAlmacen] [varchar](128) NULL,
	[Fecha] [smalldatetime] NULL,
	[Proveedor] [int] NULL,
	[NombrePro] [varchar](128) NULL,
	[Temporada] [varchar](7) NULL,
	[NombreTem] [varchar](60) NULL,
	[Modelo] [varchar](40) NULL,
	[Articulo] [varchar](20) NULL,
	[DscCorta] [varchar](60) NULL,
	[Marca] [int] NULL,
	[NombreMarca] [varchar](60) NULL,
	[CodigoNivel] [varchar](5) NULL,
	[Familia] [varchar](120) NULL,
	[CodigoSubNivel] [varchar](5) NULL,
	[SubFamilia] [varchar](120) NULL,
	[Color] [varchar](40) NULL,
	[DscColorBas] [varchar](60) NULL,
	[Talla] [varchar](17) NULL,
	[UdsTrasEnt] [float] NULL,
	[PorcenUdsTrasEnt] [float] NULL,
	[UdsTrasSal] [float] NULL,
	[PorcenUdsTrasSal] [float] NULL,
	[UdsPed] [float] NULL,
	[PorcenUdsPed] [float] NULL,
	[UdsPedServ] [float] NULL,
	[PorcenUdsPedServ] [float] NULL,
	[UdsPedPte] [float] NULL,
	[PorcenUdsPedPte] [float] NULL,
	[UdsAlbCli] [float] NULL,
	[PorcenUdsAlbCli] [float] NULL,
	[UdsVarInv] [float] NULL,
	[PorcenUdsVarInv] [float] NULL,
	[ImporteUdsTrasEnt] [money] NULL,
	[ImporteUdsTrasSal] [money] NULL,
	[ImporteUdsPedServ] [money] NULL,
	[ImporteUdsPedPte] [money] NULL,
	[ImporteUdsAlbCli] [money] NULL,
	[ImporteUdsVarInv] [money] NULL
) ON [PRIMARY]
GO
