USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocalmubi] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocalmubi](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Ubicacion] [varchar](25) NOT NULL,
	[Abreviatura] [varchar](15) NULL,
	[Descripcion] [varchar](60) NULL,
	[CodigoBarrasE] [varchar](15) NULL,
	[CodigoBarrasS] [varchar](15) NULL,
	[IP] [varchar](30) NULL,
	[Row] [int] NULL,
	[Col] [int] NULL,
	[Estado] [varchar](1) NULL,
	[Orden] [varchar](3) NULL,
	[Color] [int] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocalmubi] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
