USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocimpcli] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocimpcli](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroImp] [int] NOT NULL,
	[TipoDoc] [varchar](2) NULL,
	[Cliente] [varchar](15) NULL,
	[NroEfeOld] [int] NULL,
	[NroEfeNew] [int] NULL,
	[ImpEfeOld] [money] NULL,
	[ImpGastos] [money] NULL,
	[ImpEfeNew] [money] NULL,
	[Fecha] [smalldatetime] NULL,
	[FechaValor] [smalldatetime] NULL,
	[Observacion] [ntext] NULL,
	[TipoEfecto] [int] NULL,
	[NroPlazos] [int] NULL,
	[DiasPrimerPlazo] [int] NULL,
	[DiasEntrePlazos] [int] NULL,
	[DiaFijoPago1] [int] NULL,
	[DiaFijoPago2] [int] NULL,
	[DiaFijoPago3] [int] NULL,
	[DiaNoPago1] [int] NULL,
	[MesNoPago1] [int] NULL,
	[DiaNoPago2] [int] NULL,
	[MesNoPago2] [int] NULL,
	[DiasRetroceso] [int] NULL,
	[MesComercial] [varchar](1) NULL,
	[RazonSocial] [varchar](60) NULL,
	[Nombre] [varchar](60) NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Entidad] [varchar](4) NULL,
	[Oficina] [varchar](4) NULL,
	[DigitosControl] [varchar](2) NULL,
	[NroCuenta] [varchar](10) NULL,
	[IBAN] [varchar](35) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[ImpBaseComOld] [money] NULL,
	[ImpBaseComNew] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocimpcli] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroImp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
