USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocbanrem] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocbanrem](
	[CuentaBanco] [varchar](15) NOT NULL,
	[Entidad] [varchar](4) NULL,
	[Oficina] [varchar](4) NULL,
	[DigitosControl] [varchar](2) NULL,
	[NroCuenta] [varchar](10) NULL,
	[IBAN] [varchar](35) NULL,
	[Nombre] [varchar](60) NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Sufijo] [varchar](3) NULL,
	[CuentaBancoCobroAsiDsc] [int] NULL,
	[CuentaBancoDesAsiDsc] [int] NULL,
	[CuentaCobroAsiDsc] [int] NULL,
	[CuentaEfeCobradosAsiDsc] [int] NULL,
	[CuentaGesCobroImpAsiDsc] [int] NULL,
	[CuentaDeudasDesAsiDsc] [int] NULL,
	[Remesa] [int] NULL,
	[NroEfeTotCobro] [int] NULL,
	[NroEfeUltCobro] [int] NULL,
	[ImpEfeTotCobro] [int] NULL,
	[ImpEfeUltCobro] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
 CONSTRAINT [PK_ocbanrem] PRIMARY KEY CLUSTERED 
(
	[CuentaBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
