USE [Herreras]
GO
/****** Objeto: Table [dbo].[oclistapar] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oclistapar](
	[NroInforme] [int] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Tipo] [int] NULL,
	[Valor] [varchar](45) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_oclistapar] PRIMARY KEY CLUSTERED 
(
	[NroInforme] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
