USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocproart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocproart](
	[Articulo] [varchar](15) NOT NULL,
	[Temporada] [varchar](5) NULL,
	[DescripcionCorta] [varchar](40) NULL,
	[DescripcionLarga] [varchar](60) NULL,
	[Proveedor] [int] NULL,
	[Modelo] [varchar](25) NULL,
	[TipoIva] [int] NULL,
	[Estado] [varchar](1) NULL,
	[Familia] [varchar](15) NULL,
	[NroTallaje] [int] NULL,
	[Marca] [varchar](60) NULL,
	[AplicarRebaja] [varchar](1) NULL,
	[PorComision] [float] NULL,
	[Tipo] [varchar](1) NULL,
	[CantidadCaja] [float] NULL,
	[Material] [int] NULL,
	[Piso] [int] NULL,
	[Tacon] [int] NULL,
	[DscTacon] [varchar](25) NULL,
	[Horma] [varchar](25) NULL,
	[ArchivoFoto] [varchar](100) NULL,
	[ArchivoAMovie] [varchar](100) NULL,
	[Observacion] [text] NULL,
	[ArticuloAntiguo] [varchar](15) NULL,
	[ArticuloNuevo] [varchar](15) NULL,
	[Traspasable] [varchar](1) NULL,
	[MaterialExterior] [int] NULL,
	[MaterialForro] [int] NULL,
	[MaterialAplique] [int] NULL,
	[Empeine] [varchar](1) NULL,
	[Forro] [varchar](1) NULL,
	[Suela] [varchar](1) NULL,
	[Deposito] [varchar](1) NULL,
	[HayColores] [varchar](1) NULL,
	[InstanteModifFoto] [datetime] NULL,
	[InstanteAlta] [datetime] NULL,
	[InstanteBaja] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteCierre] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NroMarca] [int] NULL,
	[TempColor] [varchar](1) NULL,
	[HayTallas] [varchar](1) NULL,
	[SurtidoOpt] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocproart] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
