USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocproce] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocproce](
	[NroProce] [int] NOT NULL,
	[Nombre] [varchar](60) NOT NULL,
	[Sql] [ntext] NULL,
	[Separador] [varchar](1) NULL,
	[Alias] [varchar](15) NULL,
	[TipoDb] [int] NULL,
	[GrabarSql] [varchar](1) NULL,
	[Debug] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocproce] PRIMARY KEY CLUSTERED 
(
	[NroProce] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
