USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartcol] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartcol](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Descripcion] [varchar](60) NULL,
	[Localizador] [varchar](25) NULL,
	[Deposito] [varchar](1) NULL,
	[ColorBasico] [varchar](4) NULL,
	[Activo] [varchar](1) NULL,
	[ArchivoFoto] [varchar](100) NULL,
	[FechaCaducidad] [smalldatetime] NULL,
	[Material] [int] NULL,
	[Piso] [int] NULL,
	[Temporada] [varchar](5) NULL,
	[NoTrigger] [varchar](1) NULL,
	[GrupoPrecio] [varchar](1) NULL,
	[ColorPro] [varchar](25) NULL,
	[ColorBas1] [varchar](4) NULL,
	[ColorBas2] [varchar](4) NULL,
	[ColorBas3] [varchar](4) NULL,
	[SurtidoOpt] [int] NULL,
	[InstanteAlta] [datetime] NULL,
	[FechaInicioEnvWEB] [smalldatetime] NULL,
	[FechaFinEnvWEB] [smalldatetime] NULL,
	[StockMinEnvWEB] [float] NULL,
	[TarifaWEB] [int] NULL,
	[CantidadMinSer] [float] NULL,
 CONSTRAINT [PK_ocartcol] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
