USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocrecac] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocrecac](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Contador] [int] NOT NULL,
	[InstanteTraspaso] [datetime] NOT NULL,
	[DesdeInstante] [datetime] NULL,
	[CajArrNew] [int] NULL,
	[CajMas] [int] NULL,
	[DocDat] [int] NULL,
	[OpeCaja] [int] NULL,
	[OpeCajaArt] [int] NULL,
	[OpeCajaDel] [int] NULL,
	[OpeCajaArtDel] [int] NULL,
	[CajArr] [int] NULL,
	[CajArrDet] [int] NULL,
	[MovAlmacen] [int] NULL,
	[Clientes] [int] NULL,
	[SaldosClientes] [int] NULL,
	[Facturas] [int] NULL,
	[Pedidos] [int] NULL,
	[PedidosArt] [int] NULL,
	[PedAlm] [int] NULL,
	[RepPro] [int] NULL,
	[RepProArt] [int] NULL,
	[MovDoc] [int] NULL,
	[RecepDatos] [int] NULL,
	[AlbaranesEntrada] [int] NULL,
	[AlbaranesEntradaArt] [int] NULL,
	[Articulos] [int] NULL,
	[CambiosCodigo] [int] NULL,
	[CamCli] [int] NULL,
	[ArtReb] [int] NULL,
	[TarifasArticulos] [int] NULL,
	[OfertasArticulos] [int] NULL,
	[DefNiveles] [int] NULL,
	[Niveles] [int] NULL,
	[ContadoresNiveles] [int] NULL,
	[Proveedores] [int] NULL,
	[Vendedores] [int] NULL,
	[GrpCol] [int] NULL,
	[GrpMat] [int] NULL,
	[ColoresBas] [int] NULL,
	[Tallajes] [int] NULL,
	[Borrados] [int] NULL,
	[Acumulados] [int] NULL,
	[Series] [int] NULL,
	[SerAct] [int] NULL,
	[Fotos] [int] NULL,
	[Vales] [int] NULL,
	[Temporadas] [int] NULL,
	[Materiales] [int] NULL,
	[Pisos] [int] NULL,
	[Tacones] [int] NULL,
	[Arqueos] [int] NULL,
	[CliOfe] [int] NULL,
	[ProOfe] [int] NULL,
	[CliDom] [int] NULL,
	[PerFac] [int] NULL,
	[TipEfe] [int] NULL,
	[Zonas] [int] NULL,
	[ArtPro] [int] NULL,
	[PedCli] [int] NULL,
	[PedCliArt] [int] NULL,
	[AlbCli] [int] NULL,
	[AlbCliArt] [int] NULL,
	[FacCli] [int] NULL,
	[FacCliArt] [int] NULL,
	[FacPro] [int] NULL,
	[FacProArt] [int] NULL,
	[Inv] [int] NULL,
	[InvArt] [int] NULL,
	[ProArt] [int] NULL,
	[ProArtTar] [int] NULL,
	[ProPed] [int] NULL,
	[ProPedArt] [int] NULL,
	[Surtidos] [int] NULL,
	[Aso] [int] NULL,
	[AsoArt] [int] NULL,
	[PedCen] [int] NULL,
	[PedCenArt] [int] NULL,
	[BanRem] [int] NULL,
	[EfeCli] [int] NULL,
	[EfePro] [int] NULL,
	[CobCli] [int] NULL,
	[CobPro] [int] NULL,
	[RemCli] [int] NULL,
	[RemPro] [int] NULL,
	[ImpCli] [int] NULL,
	[ImpPro] [int] NULL,
	[ConCli] [int] NULL,
	[ConPro] [int] NULL,
	[Msg] [int] NULL,
	[Control] [int] NULL,
	[ProTra] [int] NULL,
	[ProTraArt] [int] NULL,
	[ProTraAlm] [int] NULL,
	[ProTraArtCol] [int] NULL,
	[NivNro] [int] NULL,
	[NivPto] [int] NULL,
	[Gen] [int] NULL,
	[GenArt] [int] NULL,
	[GenAlm] [int] NULL,
	[GenCodBar] [int] NULL,
	[GenArtTar] [int] NULL,
	[CliMed] [int] NULL,
	[CliMedDocPC] [int] NULL,
	[CliMedDocPT] [int] NULL,
	[Marcas] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocrecac] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Contador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
