USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocnewped] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocnewped](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[TipoDoc] [varchar](2) NULL,
	[Vendedor] [int] NULL,
	[FechaPedido] [smalldatetime] NULL,
	[FechaServicio] [smalldatetime] NULL,
	[FechaTope] [smalldatetime] NULL,
	[Temporada] [varchar](5) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[DesdeFecha] [smalldatetime] NULL,
	[HastaFecha] [smalldatetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocnewped] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
