USE [Herreras]
GO
/****** Objeto: Table [dbo].[OcAmazon] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OcAmazon](
	[item_sku] [varchar](80) NOT NULL,
	[external_product_id] [varchar](20) NULL,
	[external_product_id_type] [varchar](4) NULL,
	[item_name] [varchar](200) NULL,
	[brand_name] [varchar](90) NULL,
	[manufacturer] [varchar](60) NULL,
	[product_description] [varchar](1000) NULL,
	[product_type] [varchar](50) NULL,
	[part_number] [varchar](40) NULL,
	[_update] [varchar](15) NULL,
	[standard_price] [money] NULL,
	[currency] [varchar](3) NULL,
	[quantity] [float] NULL,
	[bullet_point1] [varchar](500) NULL,
	[bullet_point2] [varchar](500) NULL,
	[bullet_point3] [varchar](500) NULL,
	[bullet_point4] [varchar](500) NULL,
	[bullet_point5] [varchar](500) NULL,
	[generic_keyword1] [varchar](100) NULL,
	[generic_keyword2] [varchar](100) NULL,
	[generic_keyword3] [varchar](100) NULL,
	[generic_keyword4] [varchar](100) NULL,
	[generic_keyword5] [varchar](100) NULL,
	[target_audience1] [varchar](500) NULL,
	[target_audience2] [varchar](500) NULL,
	[target_audience3] [varchar](500) NULL,
	[target_audience4] [varchar](500) NULL,
	[target_audience5] [varchar](500) NULL,
	[parent_child] [varchar](15) NULL,
	[parent_sku] [varchar](20) NULL,
	[relationship_type] [varchar](15) NULL,
	[variation_theme] [varchar](20) NULL,
	[size_name] [varchar](15) NULL,
	[size_map] [varchar](15) NULL,
	[color_name] [varchar](50) NULL,
	[color_map] [varchar](50) NULL,
	[department_name] [varchar](150) NULL,
	[collection_name] [varchar](80) NULL,
	[season] [varchar](80) NULL,
	[sale_price] [money] NULL,
	[sale_from_date] [datetime] NULL,
	[sale_end_date] [datetime] NULL,
	[outer_material_type] [varchar](80) NULL,
	[closure_type] [varchar](80) NULL,
 CONSTRAINT [PK_OcAmazon] PRIMARY KEY CLUSTERED 
(
	[item_sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OcAmazon] ADD  CONSTRAINT [DF_OcAmazon_external_product_id_type]  DEFAULT ('EAN') FOR [external_product_id_type]
GO
ALTER TABLE [dbo].[OcAmazon] ADD  CONSTRAINT [DF_OcAmazon_currency]  DEFAULT ('EUR') FOR [currency]
GO
ALTER TABLE [dbo].[OcAmazon] ADD  CONSTRAINT [DF_OcAmazon_variation_theme]  DEFAULT ('Size/Color') FOR [variation_theme]
GO
ALTER TABLE [dbo].[OcAmazon] ADD  CONSTRAINT [DF_OcAmazon_sale_from_date]  DEFAULT (((1)/(1))/(2000)) FOR [sale_from_date]
GO
ALTER TABLE [dbo].[OcAmazon] ADD  CONSTRAINT [DF_OcAmazon_sale_end_date]  DEFAULT (((1)/(1))/(2100)) FOR [sale_end_date]
GO
