USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocsuropt] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocsuropt](
	[NroTallaje] [int] NULL,
	[Tipo] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
	[Descripcion] [varchar](60) NULL,
	[Observacion] [text] NULL,
	[CodigoBarras] [varchar](15) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[SurtidoOpt] [int] NOT NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocsuropt] PRIMARY KEY CLUSTERED 
(
	[SurtidoOpt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocsuropt] ADD  DEFAULT ((0)) FOR [SurtidoOpt]
GO
