USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgcajarr] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgcajarr](
	[EmpresaDoc] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[NroLinea] [int] NOT NULL,
	[Orden] [int] NULL,
	[Arreglo] [int] NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Vendedor] [int] NULL,
	[Cliente] [varchar](15) NULL,
	[Empresa] [int] NULL,
	[Almacen] [int] NULL,
	[Fecha] [smalldatetime] NULL,
	[Hora] [smalldatetime] NULL,
	[TarifaCoste] [int] NULL,
	[TarifaPVP] [int] NULL,
	[Unidades] [float] NULL,
	[PVP] [money] NULL,
	[PrecioCoste] [money] NULL,
	[BrutoCIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpDtoCIva] [money] NULL,
	[ImpDtoLinealCIva] [money] NULL,
	[NetoParcialCIva] [money] NULL,
	[ProrrateoDtoOpeCIva] [money] NULL,
	[NetoCIva] [money] NULL,
	[NumeroGMovArr] [int] NULL,
	[SituacionActual] [int] NULL,
	[Descripcion] [varchar](60) NULL,
	[StatusPVPManual] [varchar](1) NULL,
	[StatusCosteManual] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
	[EmpresaLiq] [int] NULL,
	[EjercicioLiq] [int] NULL,
	[SerieLiq] [varchar](2) NULL,
	[NroLiq] [int] NULL,
	[FechaLiq] [smalldatetime] NULL,
	[FechaCancel] [smalldatetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgcajarr] PRIMARY KEY CLUSTERED 
(
	[EmpresaDoc] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC,
	[NroLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
