USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgrpctapro] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgrpctapro](
	[Grupo] [int] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[CuentaCompras] [varchar](15) NULL,
	[CuentaComprasAsiDsc] [int] NULL,
	[CuentaProntoPago] [varchar](15) NULL,
	[CuentaFinanciacion] [varchar](15) NULL,
	[CuentaRappel] [varchar](15) NULL,
	[CuentaRetencion] [varchar](15) NULL,
	[CuentaPortes] [varchar](15) NULL,
	[CuentaAnticipos] [varchar](15) NULL,
	[CuentaIVADeduIntraCom] [varchar](15) NULL,
	[CuentaIVADevenIntraCom] [varchar](15) NULL,
	[CuentaEfectosAPagar] [varchar](15) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgrpctapro] PRIMARY KEY CLUSTERED 
(
	[Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
