USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpropval] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpropval](
	[Codigo] [int] NOT NULL,
	[Numero] [int] NOT NULL,
	[NameForm] [varchar](25) NULL,
	[NameCmp] [varchar](25) NULL,
	[FieldName] [varchar](25) NULL,
	[Disabled] [varchar](1) NULL,
	[Propiedad] [varchar](50) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocpropval] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC,
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
