USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocnivcusto] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocnivcusto](
	[FamiliaCU] [varchar](15) NOT NULL,
	[FamiliaOC] [varchar](15) NULL,
	[NroTallaje1] [int] NULL,
	[NroTallaje2] [int] NULL,
	[NroTallaje3] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocnivcusto] PRIMARY KEY CLUSTERED 
(
	[FamiliaCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
