USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocescanmat] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocescanmat](
	[NroEscan] [int] NOT NULL,
	[ArticuloMat] [varchar](15) NOT NULL,
	[ColorMat] [varchar](25) NOT NULL,
	[SerieTallaMat] [varchar](1) NOT NULL,
	[Cantidad] [float] NULL,
	[PrecioSIva] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocescanmat] PRIMARY KEY CLUSTERED 
(
	[NroEscan] ASC,
	[ArticuloMat] ASC,
	[ColorMat] ASC,
	[SerieTallaMat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
