USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocofeaso] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocofeaso](
	[Numero] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Tarifa] [int] NOT NULL,
	[Serie] [varchar](1) NOT NULL,
	[Cantidad] [int] NULL,
	[Precio] [money] NULL,
	[PrecioCosteSIva] [money] NULL,
 CONSTRAINT [PK_ocofeaso] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC,
	[Articulo] ASC,
	[Tarifa] ASC,
	[Serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
