USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajp] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajp](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[EmpresaDoc] [int] NULL,
	[Ejercicio] [int] NULL,
	[Serie] [varchar](2) NULL,
	[NroDoc] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Fecha] [smalldatetime] NULL,
	[FechaOpe] [smalldatetime] NULL,
	[Hora] [smalldatetime] NULL,
	[Tipo] [varchar](1) NULL,
	[Vendedor] [int] NULL,
	[Cliente] [varchar](15) NULL,
	[BrutoCIva] [money] NULL,
	[BrutoSIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpDtoCIva] [money] NULL,
	[ImpDtoSIva] [money] NULL,
	[PuntosConsumidos] [int] NULL,
	[PuntosObtenidos] [int] NULL,
	[FactorPtos] [float] NULL,
	[ImpPuntosCIva] [money] NULL,
	[ImpPuntosSIva] [money] NULL,
	[DtoPorAjusteCIva] [money] NULL,
	[DtoPorAjusteSIva] [money] NULL,
	[NetoCIva] [money] NULL,
	[NetoSIva] [money] NULL,
	[ACuenta] [money] NULL,
	[Efectivo] [money] NULL,
	[Tarjeta] [money] NULL,
	[TipoTarjeta] [int] NULL,
	[CantidadTotal] [float] NULL,
	[Descripcion] [varchar](60) NULL,
	[Tarifa] [int] NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[BaseImp1] [money] NULL,
	[PorcenIva1] [float] NULL,
	[PorcenRecargo1] [float] NULL,
	[BaseImp2] [money] NULL,
	[PorcenIva2] [float] NULL,
	[PorcenRecargo2] [float] NULL,
	[BaseImp3] [money] NULL,
	[PorcenIva3] [float] NULL,
	[PorcenRecargo3] [float] NULL,
	[BaseImp4] [money] NULL,
	[PorcenIva4] [float] NULL,
	[PorcenRecargo4] [float] NULL,
	[OperacionCpda] [int] NULL,
	[Observacion] [text] NULL,
	[TipoDocOriP] [varchar](2) NULL,
	[TipoOpeOriP] [varchar](1) NULL,
	[EmpresaCpdaOriOpeP] [int] NULL,
	[AlmacenCpdaOriOpeP] [int] NULL,
	[DevOpe] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[CuotaIVA1] [money] NULL,
	[CuotaRE1] [money] NULL,
	[CuotaIVA2] [money] NULL,
	[CuotaRE2] [money] NULL,
	[CuotaIVA3] [money] NULL,
	[CuotaRE3] [money] NULL,
	[CuotaIVA4] [money] NULL,
	[CuotaRE4] [money] NULL,
 CONSTRAINT [PK_occajp] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
