USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajas] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajas](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[EmpresaUbicacion] [int] NULL,
	[AlmacenUbicacion] [int] NULL,
	[CuentaClienteContado] [varchar](15) NULL,
	[CuentaClienteCdoAsiDsc] [int] NULL,
	[CuentaVentas] [varchar](15) NULL,
	[CuentaVentasAsiDsc] [int] NULL,
	[CuentaCaja] [varchar](15) NULL,
	[CuentaCajaAsiDsc] [int] NULL,
	[CuentaBanco] [varchar](15) NULL,
	[CuentaBancoAsiDsc] [int] NULL,
	[CuentaVales] [varchar](15) NULL,
	[CuentaValesAsiDsc] [int] NULL,
	[CuentaDescuadre] [varchar](15) NULL,
	[CuentaDescuadreAsiDsc] [int] NULL,
	[Canal] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Orden] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[Nombre] [varchar](40) NULL,
 CONSTRAINT [PK_occajas] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
