USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocmodarr] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocmodarr](
	[Modista] [int] NOT NULL,
	[Arreglo] [int] NOT NULL,
	[PrecioCoste] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocmodarr] PRIMARY KEY CLUSTERED 
(
	[Modista] ASC,
	[Arreglo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
