USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocarttalweb] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocarttalweb](
	[Articulo] [varchar](20) NOT NULL,
	[Talla] [varchar](10) NOT NULL,
	[color] [varchar](50) NOT NULL,
	[stock] [int] NULL,
 CONSTRAINT [PK_ocarttalweb] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Talla] ASC,
	[color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
