USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartacpweb] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartacpweb](
	[Articulo] [varchar](21) NOT NULL,
	[Talla] [varchar](4) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_ocartacpweb] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Talla] ASC,
	[Color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
