USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocarqueonew] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocarqueonew](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[Hora] [varchar](8) NULL,
	[SerieB] [varchar](2) NULL,
	[SerieA] [varchar](2) NULL,
	[NroDocIniB] [int] NULL,
	[NroDocFinB] [int] NULL,
	[NroDocIniA] [int] NULL,
	[NroDocFinA] [int] NULL,
	[NroVentaB] [int] NULL,
	[NroVentaA] [int] NULL,
	[NroVentas] [int] NULL,
	[Vendedor] [int] NULL,
	[ImpLineasCdo] [money] NULL,
	[ImpDtoLineasCdo] [money] NULL,
	[ImpBrutoCdo] [money] NULL,
	[ImpDtoCdo] [money] NULL,
	[ImpValePro] [money] NULL,
	[ImpValeRcgdo] [money] NULL,
	[ImpValeEmitido] [money] NULL,
	[ImpTraspaso] [money] NULL,
	[ImpAlbaranCdo] [money] NULL,
	[ImpEncargo] [money] NULL,
	[ImpEfectivo] [money] NULL,
	[ImpEntregado] [money] NULL,
	[ImpTarjeta] [money] NULL,
	[ImpRecaudado] [money] NULL,
	[ImpNetoCdo] [money] NULL,
	[ImpPendiente] [money] NULL,
	[PorIva1] [float] NULL,
	[PorRe1] [float] NULL,
	[ImpBaseImp1] [money] NULL,
	[ImpCuotaIVA1] [money] NULL,
	[PorIva2] [float] NULL,
	[PorRe2] [float] NULL,
	[ImpBaseImp2] [money] NULL,
	[ImpCuotaIVA2] [money] NULL,
	[PorIva3] [float] NULL,
	[PorRe3] [float] NULL,
	[ImpBaseImp3] [money] NULL,
	[ImpCuotaIVA3] [money] NULL,
	[PorIva4] [float] NULL,
	[PorRe4] [float] NULL,
	[ImpBaseImp4] [money] NULL,
	[ImpCuotaIVA4] [money] NULL,
	[ImpEfeEntrada] [money] NULL,
	[ImpEfeSalida] [money] NULL,
	[ImpIngresoBanco] [money] NULL,
	[ImpCobroCli] [money] NULL,
	[IngresoBanco] [money] NULL,
	[Banco] [int] NULL,
	[Descripcion] [varchar](60) NULL,
	[ImpDeposito] [money] NULL,
	[FechaImpEfeAnt] [smalldatetime] NULL,
	[ImpEfeAnt] [money] NULL,
	[ImpEfeTeo] [money] NULL,
	[ImpEfeTeoMasTar] [money] NULL,
	[ImpEfeCdo] [money] NULL,
	[ImpDescuadre] [money] NULL,
	[ImpDescuadreTarjeta] [money] NULL,
	[ImpRetirado] [money] NULL,
	[ImpEfeFin] [money] NULL,
	[Estado] [varchar](1) NULL,
	[EmpresaFactura] [int] NULL,
	[AlmacenFactura] [int] NULL,
	[EjercicioFactura] [int] NULL,
	[SerieFactura] [varchar](2) NULL,
	[NroFactura] [int] NULL,
	[VentaB] [money] NULL,
	[VentaA] [money] NULL,
	[PorVentaB] [float] NULL,
	[VentaAcuB] [money] NULL,
	[VentaAcuA] [money] NULL,
	[PorVentaAcuB] [float] NULL,
	[PorVentaA] [float] NULL,
	[PorVentaAcuA] [float] NULL,
	[PuntosConsumidos] [int] NULL,
	[PuntosObtenidos] [int] NULL,
	[ImpPuntos] [money] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Observacion] [text] NULL,
	[ImpBaseImp1N] [money] NULL,
	[ImpBaseImp2N] [money] NULL,
	[ImpBaseImp3N] [money] NULL,
	[PorIva1N] [float] NULL,
	[PorIva2N] [float] NULL,
	[PorIva3N] [float] NULL,
	[ImpCuotaIVA1N] [money] NULL,
	[ImpCuotaIVA2N] [money] NULL,
	[ImpCuotaIVA3N] [money] NULL,
	[EmpresaFraN] [int] NULL,
	[EjercicioFraN] [int] NULL,
	[SerieFraN] [varchar](2) NULL,
	[NroFacturaN] [int] NULL,
	[ImpBaseImp1R] [money] NULL,
	[ImpBaseImp2R] [money] NULL,
	[ImpBaseImp3R] [money] NULL,
	[PorIva1R] [float] NULL,
	[PorIva2R] [float] NULL,
	[PorIva3R] [float] NULL,
	[ImpCuotaIVA1R] [money] NULL,
	[ImpCuotaIVA2R] [money] NULL,
	[ImpCuotaIVA3R] [money] NULL,
	[PorRe1R] [float] NULL,
	[PorRe2R] [float] NULL,
	[PorRe3R] [float] NULL,
	[ImpCuotaRE1R] [money] NULL,
	[ImpCuotaRE2R] [money] NULL,
	[ImpCuotaRE3R] [money] NULL,
	[EmpresaFraR] [int] NULL,
	[EjercicioFraR] [int] NULL,
	[SerieFraR] [varchar](2) NULL,
	[NroFacturaR] [int] NULL,
	[ImpBaseImp1E] [money] NULL,
	[EmpresaFraE] [int] NULL,
	[EjercicioFraE] [int] NULL,
	[SerieFraE] [varchar](2) NULL,
	[NroFacturaE] [int] NULL,
	[ImpBaseImp1B] [money] NULL,
	[EmpresaFraB] [int] NULL,
	[EjercicioFraB] [int] NULL,
	[SerieFraB] [varchar](2) NULL,
	[NroFacturaB] [int] NULL,
 CONSTRAINT [PK_ocarqueonew] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
