USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgrpctacli] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgrpctacli](
	[Grupo] [int] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[CuentaVentas] [varchar](15) NULL,
	[CuentaProntoPago] [varchar](15) NULL,
	[CuentaFinanciacion] [varchar](15) NULL,
	[CuentaRappel] [varchar](15) NULL,
	[CuentaRetencion] [varchar](15) NULL,
	[CuentaPortes] [varchar](15) NULL,
	[CuentaVentasAsiDsc] [int] NULL,
	[CuentaEfectosACobrar] [varchar](15) NULL,
	[CuentaEfeACobrarAsiDsc] [int] NULL,
	[CuentaGestionCobro] [varchar](15) NULL,
	[CuentaGesCobroAsiDsc] [int] NULL,
	[CuentaDescontados] [varchar](15) NULL,
	[CuentaDescontadosAsiDsc] [int] NULL,
	[CuentaDeudasDescontados] [varchar](15) NULL,
	[CuentaDeudasDesAsiDsc] [int] NULL,
	[CuentaImpagados] [varchar](15) NULL,
	[CuentaImpagadosAsiDsc] [int] NULL,
	[CuentaDudosoCobro] [varchar](15) NULL,
	[CuentaDudosoCobroAsiDsc] [int] NULL,
	[CuentaImpagadoNegAsiDsc] [int] NULL,
	[CuentaComision] [varchar](15) NULL,
	[CuentaAnticipos] [varchar](15) NULL,
	[CuentaAnticiposAsiDsc] [int] NULL,
	[CuentaIVAEntIntraCom] [varchar](15) NULL,
	[CuentaIVAEntCanCeuMel] [varchar](15) NULL,
	[CuentaIVAExport] [varchar](15) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgrpctacli] PRIMARY KEY CLUSTERED 
(
	[Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
