USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocsched] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocsched](
	[Vendedor] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Inicio] [datetime] NULL,
	[Final] [datetime] NULL,
	[Caption] [varchar](100) NULL,
	[Tipo] [int] NULL,
	[Descripcion] [text] NULL,
	[AlarmaPlay] [varchar](1) NULL,
	[AlarmaAdvance] [int] NULL,
	[AlarmaActiva] [varchar](1) NULL,
	[AlarmaFile] [varchar](25) NULL,
	[ImageIndex] [int] NULL,
	[RecurInfo] [int] NULL,
	[RecurId] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocsched] PRIMARY KEY CLUSTERED 
(
	[Vendedor] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocsched] ADD  CONSTRAINT [DF_ocsched_Vendedor]  DEFAULT ((0)) FOR [Vendedor]
GO
