USE [Herreras]
GO
/****** Objeto: Table [dbo].[oclogdel] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oclogdel](
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Tabla] [varchar](25) NULL,
	[SystemUser] [varchar](25) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[Numero] [int] NOT NULL,
	[Computer] [varchar](25) NULL,
	[Usuario] [varchar](25) NULL,
	[Perfil] [varchar](25) NULL,
	[Vendedor] [int] NULL,
	[Datos] [text] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_oclogdel] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[oclogdel] ADD  DEFAULT ((0)) FOR [Numero]
GO
