USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartalmori] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartalmori](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Estado] [varchar](1) NULL,
	[StockMinArt] [float] NULL,
	[StockMinCol] [float] NULL,
	[StockMinTal] [float] NULL,
	[Prioridad] [float] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocartalmori] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC,
	[Empresa] ASC,
	[Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
