USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocliqven] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocliqven](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroLiq] [int] NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[Almacen] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Tipo] [int] NULL,
	[Origen] [int] NULL,
	[Vendedor] [int] NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[Proveedor] [int] NULL,
	[CantidadTotal] [float] NULL,
	[CuotaIVA] [money] NULL,
	[CuotaRE] [money] NULL,
	[TotalIVA] [money] NULL,
	[PorIVA] [float] NULL,
	[PorRE] [float] NULL,
	[EmpresaFra] [int] NULL,
	[EjercicioFra] [int] NULL,
	[SerieFra] [varchar](2) NULL,
	[NroFactura] [int] NULL,
	[CodigoComVta] [int] NULL,
	[CodigoComDto] [int] NULL,
	[Observacion] [text] NULL,
	[Estado] [varchar](1) NULL,
	[EstadoListado] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[TipoIva] [int] NULL,
	[PorDtoDoc] [float] NULL,
	[ImpLiquidoDoc] [money] NULL,
	[PorDtoComercial] [money] NULL,
	[ImpDtoComercial] [money] NULL,
	[ImpOtrosDtos] [money] NULL,
	[PorRetencion] [float] NULL,
	[ImpRetencion] [money] NULL,
	[ImpLiquido] [money] NULL,
	[PorComCod] [float] NULL,
	[IvaInc] [varchar](1) NULL,
	[EmpresaLiq] [int] NULL,
	[SerieLiq] [varchar](2) NULL,
	[EjercicioLiq] [int] NULL,
	[NroLiqLiq] [int] NULL,
	[FechaLiq] [smalldatetime] NULL,
	[SupervisorCom] [int] NULL,
	[ImpBrutoSIva] [money] NULL,
	[ImpBrutoCIva] [money] NULL,
	[ImpNetoSIva] [money] NULL,
	[ImpNetoCIva] [money] NULL,
	[ImpBaseComSIva] [money] NULL,
	[ImpBaseComCIva] [money] NULL,
	[ImpComLinSIva] [money] NULL,
	[ImpComLinCIva] [money] NULL,
	[PorComDoc] [float] NULL,
	[ImpComPorSIva] [money] NULL,
	[ImpComPorCIva] [money] NULL,
	[ImpComBrutoSIva] [money] NULL,
	[AlmacenFra] [int] NULL,
	[PorComVen] [float] NULL,
	[PorComArt] [float] NULL,
	[ImpComSIva] [money] NULL,
	[ImpComCIva] [money] NULL,
 CONSTRAINT [PK_ocliqven] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroLiq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
