USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpedcen] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpedcen](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroPedido] [int] NOT NULL,
	[Almacen] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[EmpresaCentral] [int] NULL,
	[AlmacenCentral] [int] NULL,
	[Vendedor] [int] NULL,
	[DesdeFecha] [smalldatetime] NULL,
	[DesdeHora] [smalldatetime] NULL,
	[Fecha] [smalldatetime] NULL,
	[Hora] [smalldatetime] NULL,
	[Borrar] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
	[EstadoListado] [varchar](1) NULL,
	[CantidadTotal] [float] NULL,
	[Observacion] [text] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocpedcen] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
