USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocarttap] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocarttap](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Tarifa] [int] NOT NULL,
	[Serie] [varchar](1) NOT NULL,
	[Margen] [float] NULL,
	[PorIva] [float] NULL,
	[Ajuste] [money] NULL,
	[AjusteMenos] [money] NULL,
	[PrecioSalida] [money] NULL,
	[PorDtoRebaja] [float] NULL,
	[PrecioRebaja] [money] NULL,
	[RedondearUp] [varchar](1) NULL,
	[ImpComision] [money] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteImprEtiqueta] [datetime] NULL,
	[InstanteImprRebaja] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[IgualPrecioCol] [varchar](1) NULL,
	[GrupoPrecios] [int] NULL,
	[ColorPro] [varchar](25) NULL,
 CONSTRAINT [PK_ocarttap] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC,
	[Tarifa] ASC,
	[Serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
