USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajarr] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajarr](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[NroArreglo] [int] NOT NULL,
	[Modista] [int] NULL,
	[FechaEmision] [smalldatetime] NULL,
	[FechaRecogida] [smalldatetime] NULL,
	[HoraRecogida] [smalldatetime] NULL,
	[Vendedor] [int] NULL,
	[Cliente] [varchar](15) NULL,
	[Observacion] [varchar](60) NULL,
	[Nombre] [varchar](60) NULL,
	[Neto] [money] NULL,
	[Coste] [money] NULL,
	[EstadoCobro] [varchar](1) NULL,
	[EmpresaCobro] [int] NULL,
	[AlmacenCobro] [int] NULL,
	[CajaCobro] [int] NULL,
	[OperacionCobro] [int] NULL,
	[FechaCobro] [smalldatetime] NULL,
	[FechaRetirado] [smalldatetime] NULL,
	[FechaLiquidado] [smalldatetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occajarr] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC,
	[NroArreglo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
