USE [Herreras]
GO
/****** Objeto: Table [dbo].[occonst] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occonst](
	[Numero] [varchar](4) NOT NULL,
	[Constante] [varchar](60) NOT NULL,
	[Valor] [varchar](100) NOT NULL,
 CONSTRAINT [PK_occonst] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
