USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgarracu] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgarracu](
	[Orden] [int] NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Unidades] [float] NULL,
	[ImporteCoste] [money] NULL,
	[ImportePVP] [money] NULL,
	[Resultados] [money] NULL,
	[Fecha] [smalldatetime] NULL,
	[Hora] [smalldatetime] NULL,
	[FechaSalida] [smalldatetime] NULL,
	[HoraSalida] [smalldatetime] NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgarracu] PRIMARY KEY CLUSTERED 
(
	[Orden] ASC,
	[Empresa] ASC,
	[Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
