USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocproofe] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocproofe](
	[Numero] [int] NOT NULL,
	[Proveedor] [int] NULL,
	[Tarifa] [int] NULL,
	[Serie] [varchar](1) NOT NULL,
	[Codigo] [varchar](15) NOT NULL,
	[FechaFinal] [smalldatetime] NOT NULL,
	[FechaInicial] [smalldatetime] NOT NULL,
	[Descripcion] [varchar](40) NULL,
	[Cantidad] [float] NULL,
	[Precio] [money] NULL,
	[Descuento] [float] NULL,
	[Estado] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocproofe] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
