USE [Herreras]
GO
/****** Objeto: Table [dbo].[octipiva] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octipiva](
	[TipoIva] [int] NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[PorIVA] [float] NOT NULL,
	[Descripcion] [varchar](40) NULL,
	[PorRe] [float] NULL,
	[ColumnaInformes] [int] NULL,
	[CuentaIvaSoportado] [varchar](15) NULL,
	[CuentaIvaRESoportado] [varchar](15) NULL,
	[CuentaIvaRepercutido] [varchar](15) NULL,
	[CuentaIvaRERepercutido] [varchar](15) NULL,
	[CuentaIvaRERepercutidoSP] [varchar](15) NULL,
	[CuentaHPAcreedoraRESP] [varchar](15) NULL,
	[CuentaIvaRESoportadoSP] [varchar](15) NULL,
	[CuentaHPDeudoraRESP] [varchar](15) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_octipiva] PRIMARY KEY CLUSTERED 
(
	[TipoIva] ASC,
	[Fecha] DESC,
	[PorIVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[octipiva] ADD  CONSTRAINT [DF__octipiva__Fecha__20045DC3]  DEFAULT ((0)) FOR [Fecha]
GO
