USE [Herreras]
GO
/****** Objeto: Table [dbo].[octipdoc] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octipdoc](
	[TipoDoc] [varchar](2) NOT NULL,
	[Descripcion] [varchar](60) NULL,
	[Tipo] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Tabla] [varchar](25) NULL,
	[NroDocName] [varchar](20) NULL,
 CONSTRAINT [PK_octipdoc] PRIMARY KEY CLUSTERED 
(
	[TipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
