USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocliqvendoc] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocliqvendoc](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroLiq] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Descripcion] [varchar](60) NULL,
	[ImpComSIva] [money] NULL,
	[ImpComCIva] [money] NULL,
	[EmpresaDoc] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[EjercicioDoc] [int] NULL,
	[SerieDoc] [varchar](2) NULL,
	[NroDoc] [int] NULL,
	[FechaDoc] [smalldatetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[ClienteDoc] [varchar](15) NULL,
	[PorDtoDoc] [float] NULL,
	[ImpLiquidoDoc] [money] NULL,
	[ImpBaseComSIva] [money] NULL,
	[ImpBaseComCIva] [money] NULL,
	[ImpComLinSIva] [money] NULL,
	[ImpComLinCIva] [money] NULL,
	[AlmacenDoc] [int] NULL,
	[VendedorDoc] [int] NULL,
	[ImpBrutoSIva] [money] NULL,
	[ImpBrutoCIva] [money] NULL,
	[ImpNetoSIva] [money] NULL,
	[ImpNetoCIva] [money] NULL,
	[PorComDoc] [float] NULL,
	[CajaDoc] [int] NULL,
	[OperacionDoc] [int] NULL,
	[NroEfectoDoc] [int] NULL,
	[NroLineaDoc] [int] NULL,
	[PorComVen] [float] NULL,
	[PorComArt] [float] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocliqvendoc] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroLiq] ASC,
	[Orden] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
