USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpreprotra] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpreprotra](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[Vendedor] [int] NULL,
	[Almacen] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[CantidadTotal] [float] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[DesdeFecha] [smalldatetime] NULL,
	[DesdeHora] [smalldatetime] NULL,
	[Fecha] [smalldatetime] NULL,
	[Hora] [smalldatetime] NULL,
	[Observacion] [text] NULL,
	[EmpresaOri] [int] NULL,
	[AlmacenOri] [int] NULL,
	[EmpresaDes] [int] NULL,
	[AlmacenDes] [int] NULL,
	[EmpresaProTra] [int] NULL,
	[EjercicioProTra] [int] NULL,
	[SerieProTra] [varchar](2) NULL,
	[NroProTra] [int] NULL,
 CONSTRAINT [PK_ocpreprotra] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
