USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocdocreldet] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocdocreldet](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[EmpresaOri] [int] NULL,
	[TipoDocOri] [varchar](2) NULL,
	[EjercicioOri] [int] NULL,
	[SerieOri] [varchar](2) NULL,
	[NroDocOri] [int] NULL,
	[CajaOri] [int] NULL,
	[IdOri] [int] NULL,
	[EmpresaDes] [int] NULL,
	[TipoDocDes] [varchar](2) NULL,
	[EjercicioDes] [int] NULL,
	[SerieDes] [int] NULL,
	[NroDocDes] [int] NULL,
	[CajaDes] [int] NULL,
	[IdDes] [int] NULL,
	[UniProc] [int] NULL,
	[UniAProc] [int] NULL,
	[TipoDocProc] [varchar](2) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocdocreldet] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
