USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocdocobs] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocdocobs](
	[Empresa] [int] NOT NULL,
	[TipoDoc] [varchar](2) NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Observacion] [text] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Fila] [int] NOT NULL,
	[ClienteSer] [varchar](15) NULL,
	[EmpresaDoc] [int] NULL,
	[TipoDocDoc] [varchar](2) NULL,
	[EjercicioDoc] [int] NULL,
	[SerieDoc] [int] NULL,
	[NroDocDoc] [int] NULL,
	[CajaDoc] [int] NULL,
	[FilaDoc] [int] NULL,
	[FechaDoc1] [smalldatetime] NULL,
	[FechaDoc2] [smalldatetime] NULL,
 CONSTRAINT [PK_ocdocobs] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[TipoDoc] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC,
	[Caja] ASC,
	[Fila] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocdocobs] ADD  DEFAULT ((0)) FOR [Fila]
GO
