USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpid] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpid](
	[PID] [smallint] NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Usuario] [varchar](30) NULL,
	[Perfil] [varchar](30) NULL,
 CONSTRAINT [PK_ocpid] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
