USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocarttem] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocarttem](
	[Articulo] [varchar](15) NOT NULL,
	[Temporada] [varchar](5) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[UnidadesStock] [float] NULL,
	[ImporteStock] [money] NULL,
	[ImporteStockSIva] [money] NULL,
	[UnidadesEntradas] [float] NULL,
	[ImporteEntradas] [money] NULL,
	[ImporteEntradasSIva] [money] NULL,
	[UnidadesSalidas] [float] NULL,
	[ImporteSalidas] [money] NULL,
	[UnidadesRebaja] [float] NULL,
	[ImporteRebaja] [money] NULL,
	[CosteSalidas] [money] NULL,
	[CosteSalidasSIva] [money] NULL,
	[Resultados] [money] NULL,
	[FechaPrimEntrada] [smalldatetime] NULL,
	[FechaUltEntrada] [smalldatetime] NULL,
	[FechaUltSalida] [smalldatetime] NULL,
	[FechaPrimPedido] [smalldatetime] NULL,
	[FechaUltPedido] [smalldatetime] NULL,
	[PrecioPedidoSIva] [float] NULL,
	[UnidadesPedidas] [float] NULL,
	[UnidadesPtesRecibir] [float] NULL,
	[UnidadesPtesServir] [float] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocarttem] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Temporada] ASC,
	[Color] ASC,
	[Talla] ASC,
	[Empresa] ASC,
	[Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
