USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocmovarp] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocmovarp](
	[Numero] [int] NOT NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Fecha] [smalldatetime] NULL,
	[Tipo] [varchar](1) NULL,
	[TipoArt] [varchar](1) NULL,
	[Empresa] [int] NULL,
	[Almacen] [int] NULL,
	[EmpresaCpda] [int] NULL,
	[AlmacenCpda] [int] NULL,
	[Cantidad] [float] NULL,
	[PrecioTarifaSIva] [money] NULL,
	[Precio] [money] NULL,
	[Importe] [money] NULL,
	[ImporteSIva] [money] NULL,
	[PorIvas] [float] NULL,
	[EmpresaDoc] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Ejercicio] [int] NULL,
	[Serie] [varchar](2) NULL,
	[NroDoc] [int] NULL,
	[Cliente] [varchar](15) NULL,
	[NroCaja] [int] NULL,
	[Vendedor] [int] NULL,
	[DocExterno] [varchar](15) NULL,
	[Observaciones] [varchar](60) NULL,
	[PrecioCoste] [money] NULL,
	[PrecioMedio] [money] NULL,
	[PrecioMedioSIva] [money] NULL,
	[ImpComision] [money] NULL,
	[StatusOferta] [varchar](1) NULL,
	[StatusRebaja] [varchar](1) NULL,
	[StatusPrecioManual] [varchar](1) NULL,
	[StatusDeposito] [varchar](1) NULL,
	[Invalido] [varchar](1) NULL,
	[Acumulado] [varchar](1) NULL,
	[TipoOpe] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[EmpresaOri] [int] NULL,
	[AlmacenOri] [int] NULL,
	[EmpresaDes] [int] NULL,
	[AlmacenDes] [int] NULL,
	[TipoMov] [varchar](2) NULL,
	[UnidadesStock] [float] NULL,
	[FechaOpe] [smalldatetime] NULL,
	[NumeroAcu] [int] NULL,
	[InstanteModifMov] [datetime] NULL,
	[IndIVA] [varchar](1) NULL,
 CONSTRAINT [PK_ocmovarp] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
