USE [Herreras]
GO
/****** Objeto: Table [dbo].[oclisdoc] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oclisdoc](
	[TipoDoc] [varchar](2) NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[Almacen] [int] NULL,
	[Proveedor] [int] NULL,
	[Cliente] [varchar](15) NULL,
	[Imprimir] [varchar](1) NULL,
	[InstanteCreacion] [datetime] NULL,
	[Fecha] [smalldatetime] NULL,
	[ClientePresu] [varchar](15) NULL,
	[Vendedor] [int] NULL,
	[NroMarca] [int] NULL,
	[EmpresaDoc] [int] NOT NULL,
	[Caja] [int] NULL,
	[Operacion] [int] NULL,
	[Perfil] [varchar](25) NULL,
	[Cantidad] [float] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_oclisdoc] PRIMARY KEY CLUSTERED 
(
	[EmpresaDoc] ASC,
	[TipoDoc] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[oclisdoc] ADD  DEFAULT ((0)) FOR [EmpresaDoc]
GO
