USE [Herreras]
GO
/****** Objeto: Table [dbo].[octar] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octar](
	[Tarifa] [int] NOT NULL,
	[Descripcion] [varchar](40) NOT NULL,
	[Divisa] [varchar](3) NULL,
	[IvaIncluido] [varchar](1) NULL,
	[EurosPorPunto] [money] NULL,
	[AplicarIva] [varchar](1) NULL,
	[FechaInicialRebaja] [smalldatetime] NULL,
	[FechaFinalRebaja] [smalldatetime] NULL,
	[AjustePrecio] [varchar](1) NULL,
	[TipoMargen] [varchar](1) NULL,
	[MargenDefecto] [float] NULL,
	[AjusteDefecto] [money] NULL,
	[AjusteMenos] [money] NULL,
	[PorDtoRebajaDefecto] [float] NULL,
	[PorIVASop] [float] NULL,
	[EnviarTiendas] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[FechaAlta] [smalldatetime] NULL,
	[FechaBaja] [smalldatetime] NULL,
	[Tipo] [varchar](1) NULL,
	[Formula] [text] NULL,
 CONSTRAINT [PK_octar] PRIMARY KEY CLUSTERED 
(
	[Tarifa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
