USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocanacompras] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocanacompras](
	[Empresa] [int] NULL,
	[NombreEmpresa] [varchar](128) NULL,
	[Almacen] [int] NULL,
	[NombreAlmacen] [varchar](128) NULL,
	[Fecha] [smalldatetime] NULL,
	[Proveedor] [int] NULL,
	[NombrePro] [varchar](128) NULL,
	[Temporada] [varchar](7) NULL,
	[NombreTem] [varchar](60) NULL,
	[Modelo] [varchar](40) NULL,
	[Articulo] [varchar](20) NULL,
	[DscCorta] [varchar](60) NULL,
	[Marca] [int] NULL,
	[NombreMarca] [varchar](60) NULL,
	[CodigoNivel] [varchar](5) NULL,
	[Familia] [varchar](120) NULL,
	[CodigoSubNivel] [varchar](5) NULL,
	[SubFamilia] [varchar](120) NULL,
	[Color] [varchar](40) NULL,
	[DscColorBas] [varchar](60) NULL,
	[Talla] [varchar](17) NULL,
	[UdsPedidas] [float] NULL,
	[PorcenUdsPedidas] [float] NULL,
	[UdsRecibidas] [float] NULL,
	[PorcenUdsRecibidas] [float] NULL,
	[CantidadAlbaran] [float] NULL,
	[PorcenCantidadAlbaran] [float] NULL,
	[ImporteEntradas] [money] NULL,
	[ImportePedidas] [money] NULL,
	[ImporteRecibidas] [money] NULL,
	[UdsDevolucion] [float] NULL,
	[ImporteDevolucion] [money] NULL
) ON [PRIMARY]
GO
