USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocarticulosweb] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocarticulosweb](
	[Articulo] [varchar](18) NOT NULL,
	[Temporada] [varchar](20) NOT NULL,
	[Familia] [varchar](30) NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[Precio] [float] NOT NULL,
	[Foto] [varchar](100) NOT NULL,
	[FamiliaDesc] [varchar](50) NULL,
 CONSTRAINT [PK_ocarticulosweb] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
