USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocinv] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocinv](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroInventario] [int] NOT NULL,
	[Almacen] [int] NULL,
	[Fecha] [smalldatetime] NULL,
	[ArticulosBaja] [varchar](1) NULL,
	[Observaciones] [ntext] NULL,
	[Estado] [varchar](1) NULL,
	[LecturaMasCantidad] [varchar](1) NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
	[TipoDoc] [varchar](2) NULL,
	[EjercicioImp] [int] NULL,
	[SerieImp] [varchar](2) NULL,
	[NroInventarioImp] [int] NULL,
	[FechaImp] [smalldatetime] NULL,
	[RegAuto] [varchar](1) NULL,
 CONSTRAINT [PK_ocinv] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
