USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocescan] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocescan](
	[NroEscan] [int] NOT NULL,
	[Descripcion] [varchar](60) NULL,
	[ArticuloOri] [varchar](15) NULL,
	[ColorOri] [varchar](25) NULL,
	[SerieTallaOri] [varchar](1) NULL,
	[CodigoBarras] [varchar](20) NULL,
	[Patron] [varchar](25) NULL,
	[PorCoeFab1] [float] NULL,
	[PorCoeFab2] [float] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[ObsFab] [text] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocescan] PRIMARY KEY CLUSTERED 
(
	[NroEscan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
