USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocasoalm] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocasoalm](
	[Asociacion] [int] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[Estado] [varchar](1) NULL,
	[Prioridad] [float] NULL,
	[EsReferencia] [varchar](1) NULL,
	[Grupo] [int] NULL,
	[Tarifa] [int] NULL,
	[Columna] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocasoalm] PRIMARY KEY CLUSTERED 
(
	[Asociacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
