USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgenart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgenart](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[NroSesion] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Serie] [varchar](1) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[AlmacenDoc] [int] NOT NULL,
	[Fila] [int] NULL,
	[DscLarga] [varchar](60) NULL,
	[DscCorta] [varchar](40) NULL,
	[Cantidad] [float] NULL,
	[PrecioSIva] [money] NULL,
	[PrecioCIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpNetoSIva] [money] NULL,
	[ImpNetoCIva] [money] NULL,
	[PorIva] [float] NULL,
	[PorRE] [float] NULL,
	[PrecioRebaje] [money] NULL,
	[PrecioRebajeSIva] [money] NULL,
	[PrecioCDtosSIva] [money] NULL,
	[Margen] [float] NULL,
	[PorIvaTar] [float] NULL,
	[Ajuste] [money] NULL,
	[AjusteMenos] [money] NULL,
	[PrecioSinAjuste] [money] NULL,
	[RedondearUp] [varchar](1) NULL,
	[PVP] [money] NULL,
	[PorDtoRebaja] [float] NULL,
	[PrecioRebaja] [money] NULL,
	[IncPreSer] [money] NULL,
	[Proveedor] [int] NULL,
	[Modelo] [varchar](25) NULL,
	[ColorBas] [varchar](4) NOT NULL,
	[NroTallaje] [int] NULL,
	[Temporada] [varchar](5) NULL,
	[Marca] [varchar](40) NULL,
	[Familia] [varchar](15) NULL,
	[TipoArt] [varchar](1) NULL,
	[Observacion] [ntext] NULL,
	[DscColor] [varchar](40) NULL,
	[Localizador] [varchar](25) NULL,
	[Deposito] [varchar](1) NULL,
	[Tacon] [int] NULL,
	[Piso] [int] NULL,
	[Material] [int] NULL,
	[Horma] [varchar](25) NULL,
	[DscTacon] [varchar](25) NULL,
	[TipoIVA] [int] NULL,
	[Puntos] [int] NULL,
	[MaterialExterior] [int] NULL,
	[MaterialForro] [int] NULL,
	[MaterialAplique] [int] NULL,
	[AplicarRebaja] [varchar](1) NULL,
	[ArchivoFoto] [varchar](100) NULL,
	[ArchivoAMovie] [varchar](100) NULL,
	[ArticuloAntiguo] [varchar](15) NULL,
	[Propiedad1] [int] NULL,
	[Propiedad2] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NroMarca] [int] NULL,
	[TempColor] [varchar](1) NULL,
	[GrupoPrecio] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[ColorBas1] [varchar](4) NULL,
	[ColorBas2] [varchar](4) NULL,
	[ColorBas3] [varchar](4) NULL,
	[ColorPro] [varchar](25) NULL,
	[IncPreSerPVP] [money] NULL,
 CONSTRAINT [PK_ocgenart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[NroSesion] ASC,
	[Orden] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Serie] ASC,
	[Talla] ASC,
	[AlmacenDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
