USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocprotra] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocprotra](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[TipoDoc] [varchar](2) NULL,
	[Vendedor] [int] NULL,
	[Fecha] [smalldatetime] NULL,
	[CantidadTotal] [float] NULL,
	[CantidadTraOri] [float] NULL,
	[CantidadTraDes] [float] NULL,
	[CantidadATraOri] [float] NULL,
	[CantidadATraDes] [float] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[DesdeFecha] [smalldatetime] NULL,
	[DesdeHora] [smalldatetime] NULL,
	[Hora] [smalldatetime] NULL,
	[CantidadAnulada] [float] NULL,
	[CantidadAAnular] [float] NULL,
	[PrecioSivaOri] [money] NULL,
	[PrecioCIvaOri] [money] NULL,
	[PrecioSIvaDes] [money] NULL,
	[PrecioCIvaDes] [money] NULL,
	[Observacion] [text] NULL,
	[EmpresaPX] [int] NULL,
	[EjercicioPX] [int] NULL,
	[SeriePX] [varchar](2) NULL,
	[NroDocPX] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocprotra] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
