USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpropedpta] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpropedpta](
	[Proveedor] [int] NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Contador] [int] NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[Stock] [float] NULL,
	[Pedido] [float] NULL,
	[Confirmado] [float] NULL,
	[PteConfirmar] [float] NULL,
	[Cantidad] [float] NULL,
	[PrecioSIva] [money] NULL,
	[NetoSIva] [money] NULL,
	[Col] [int] NULL,
	[Row] [int] NULL,
	[ColorBas] [int] NULL,
	[EmpresaDes] [int] NULL,
	[AlmacenDes] [int] NULL,
	[EmpresaOri] [int] NULL,
	[EjercicioOri] [int] NULL,
	[SerieOri] [varchar](2) NULL,
	[NroPedidoOri] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocpropedpta] PRIMARY KEY CLUSTERED 
(
	[Proveedor] ASC,
	[Empresa] ASC,
	[Almacen] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC,
	[Contador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
