USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpropedartpta] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpropedartpta](
	[EmpresaOri] [int] NOT NULL,
	[EjercicioOri] [int] NOT NULL,
	[SerieOri] [varchar](2) NOT NULL,
	[NroPedidoOri] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Contador] [int] NOT NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocpropedartpta] PRIMARY KEY CLUSTERED 
(
	[EmpresaOri] ASC,
	[EjercicioOri] ASC,
	[SerieOri] ASC,
	[NroPedidoOri] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Contador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
