USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgrptalnew] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgrptalnew](
	[NroTallaje] [int] NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Columna] [int] NOT NULL,
	[Articulo] [varchar](15) NULL,
	[SerieTalla] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgrptalnew] PRIMARY KEY CLUSTERED 
(
	[NroTallaje] ASC,
	[Talla] ASC,
	[Columna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
