USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgencodbar] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgencodbar](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[NroSesion] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Orden] [int] NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[CodigoBarras] [varchar](20) NOT NULL,
	[Modelo] [varchar](25) NULL,
	[ColorBas] [varchar](4) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgencodbar] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[NroSesion] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Orden] ASC,
	[Talla] ASC,
	[CodigoBarras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
