USE [Herreras]
GO
/****** Objeto: Table [dbo].[oc_ucajuser] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oc_ucajuser](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[SessionID] [int] NOT NULL,
	[FechaAsignacion] [datetime] NULL,
	[Activo] [bit] NULL,
	[Paso] [varbinary](256) NULL,
	[EquipoCliente] [varchar](100) NULL,
	[IpCliente] [varchar](50) NULL,
	[puerto] [int] NULL,
	[NombreOrdenador] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[oc_ucajuser] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[oc_ucajuser] ADD  DEFAULT ((1)) FOR [Activo]
GO
