USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartacp] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartacp](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[UnidadesStock] [float] NULL,
	[ImporteStock] [money] NULL,
	[ImporteStockSIva] [money] NULL,
	[UnidadesEntradas] [float] NULL,
	[ImporteEntradas] [money] NULL,
	[ImporteEntradasSIva] [money] NULL,
	[UnidadesAE] [float] NULL,
	[ImporteAE] [money] NULL,
	[UnidadesIN] [float] NULL,
	[ImporteIN] [money] NULL,
	[UnidadesTR] [float] NULL,
	[ImporteTR] [money] NULL,
	[UnidadesRP] [float] NULL,
	[ImporteRP] [money] NULL,
	[UnidadesSalidas] [float] NULL,
	[ImporteSalidas] [money] NULL,
	[UnidadesRebaja] [float] NULL,
	[ImporteRebaja] [money] NULL,
	[PrecioMedio] [money] NULL,
	[PrecioMedioSIva] [money] NULL,
	[PrecioUltEntrada] [money] NULL,
	[PrecioUltSalida] [money] NULL,
	[PrecioCoste] [money] NULL,
	[CosteSalidas] [money] NULL,
	[CosteSalidasSIva] [money] NULL,
	[Resultados] [money] NULL,
	[FechaPrimEntrada] [smalldatetime] NULL,
	[FechaUltEntrada] [smalldatetime] NULL,
	[FechaUltSalida] [smalldatetime] NULL,
	[FechaPrimPedido] [smalldatetime] NULL,
	[FechaUltPedido] [smalldatetime] NULL,
	[PrecioPedidoSIva] [money] NULL,
	[PrecioPedidoCIva] [money] NULL,
	[UnidadesPedidas] [float] NULL,
	[UnidadesPtesRecibir] [float] NULL,
	[ImportePteRecibirSIva] [money] NULL,
	[ImportePteRecibirCIva] [money] NULL,
	[UnidadesPtesServir] [float] NULL,
	[ImportePteServirSIva] [money] NULL,
	[ImportePteServirCIva] [money] NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[Invalido] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[UnidadesPedidasCli] [float] NULL,
	[UnidadesLock] [float] NULL,
	[ImporteLockSIva] [money] NULL,
	[ImporteLockCIva] [money] NULL,
	[ImporteLock] [money] NULL,
	[UnidadesTrans] [float] NULL,
	[FechaPrimSalida] [smalldatetime] NULL,
	[UnidadesPB] [float] NULL,
	[UnidadesPBPteEnv] [float] NULL,
	[UnidadesPBPteRec] [float] NULL,
	[UnidadesPBAnuladas] [float] NULL,
	[UnidadesPX] [float] NULL,
	[UnidadesPXPteEnv] [float] NULL,
	[UnidadesPXPteRec] [float] NULL,
	[UnidadesPR] [float] NULL,
	[UnidadesPRPteEnv] [float] NULL,
	[UnidadesPRPteRec] [float] NULL,
	[UnidadesPreticket] [float] NULL,
	[InstanteModifAcu] [datetime] NULL,
	[NumeroAcu] [int] NULL,
	[UnidadesRecibidas] [float] NULL,
 CONSTRAINT [PK_ocartacp] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC,
	[Empresa] ASC,
	[Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
