USE [Herreras]
GO
/****** Objeto: Table [dbo].[occli] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occli](
	[Cliente] [varchar](15) NOT NULL,
	[RazonSocial] [varchar](60) NULL,
	[Nombre] [varchar](60) NULL,
	[Direccion1] [varchar](128) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](50) NULL,
	[Pais] [varchar](15) NULL,
	[NIF] [varchar](15) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[TelefonoMovil] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Email] [varchar](60) NULL,
	[WEB] [varchar](60) NULL,
	[Sexo] [varchar](1) NULL,
	[EstadoCivil] [varchar](1) NULL,
	[Tratamiento] [varchar](5) NULL,
	[Descuento] [float] NULL,
	[Tipo] [varchar](1) NULL,
	[EmpresaTraspaso] [int] NULL,
	[AlmacenTraspaso] [int] NULL,
	[Cumpleanos] [smalldatetime] NULL,
	[PersonaContacto] [varchar](60) NULL,
	[Vendedor] [int] NULL,
	[PorComision] [float] NULL,
	[Zona] [int] NULL,
	[ReferenciaProveedor] [varchar](15) NULL,
	[NroDomicilioEnvio] [int] NULL,
	[FormaEnvio] [varchar](60) NULL,
	[TipoPortes] [varchar](1) NULL,
	[Transaccion] [int] NULL,
	[PeriodicidadFacturas] [int] NULL,
	[AgruparAlbaranes] [varchar](1) NULL,
	[CopiasAlbaran] [int] NULL,
	[CopiasFactura] [int] NULL,
	[Tarifa] [int] NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[PorDtoComercial] [float] NULL,
	[PorDtoComercial2] [float] NULL,
	[PorProntoPago] [float] NULL,
	[PorRappel] [float] NULL,
	[PorFinanciacion] [float] NULL,
	[PorRetencion] [float] NULL,
	[PorFranquicia] [float] NULL,
	[PorPagoContado] [float] NULL,
	[PorPagoAplazado] [float] NULL,
	[Divisa] [varchar](3) NULL,
	[Plazo] [int] NULL,
	[FormaPago] [varchar](60) NULL,
	[NroPlazos] [int] NULL,
	[DiasPrimerPlazo] [int] NULL,
	[DiasEntrePlazos] [int] NULL,
	[DiaFijoPago1] [int] NULL,
	[DiaFijoPago2] [int] NULL,
	[DiaFijoPago3] [int] NULL,
	[DiaNoPago1] [int] NULL,
	[MesNoPago1] [int] NULL,
	[DiaNoPago2] [int] NULL,
	[MesNoPago2] [int] NULL,
	[ControlFestivos] [varchar](1) NULL,
	[DiasRetroceso] [int] NULL,
	[MesComercial] [varchar](1) NULL,
	[TipoEfecto] [int] NULL,
	[Entidad] [varchar](4) NULL,
	[Oficina] [varchar](4) NULL,
	[DigitosControl] [varchar](2) NULL,
	[NroCuenta] [varchar](10) NULL,
	[IBAN] [varchar](35) NULL,
	[Agencia] [int] NULL,
	[EmpresaPedido] [int] NULL,
	[AlmacenPedido] [int] NULL,
	[EjercicioPedido] [int] NULL,
	[SeriePedido] [varchar](2) NULL,
	[NroPedido] [int] NULL,
	[FechaPedido] [smalldatetime] NULL,
	[ImportePedido] [money] NULL,
	[EmpresaAlta] [int] NULL,
	[AlmacenAlta] [int] NULL,
	[EmpresaAlbaran] [int] NULL,
	[AlmacenAlbaran] [int] NULL,
	[EjercicioAlbaran] [int] NULL,
	[SerieAlbaran] [varchar](2) NULL,
	[NroAlbaran] [int] NULL,
	[FechaAlbaran] [smalldatetime] NULL,
	[ImporteAlbaran] [money] NULL,
	[PedidosPtes] [money] NULL,
	[AlbaranesPtes] [money] NULL,
	[FacturasPtes] [money] NULL,
	[RecibosPtes] [money] NULL,
	[CuentaConta] [varchar](15) NULL,
	[CuentaContaAsiDsc] [int] NULL,
	[GrupoCuentaConta] [int] NULL,
	[Observacion] [text] NULL,
	[ObsAlbaran] [text] NULL,
	[ObsFactura] [text] NULL,
	[Actividad] [varchar](15) NULL,
	[EstadoListado] [varchar](1) NULL,
	[Grupo] [int] NULL,
	[TipoTarifaVenta] [int] NULL,
	[MargenVenta] [float] NULL,
	[MovimientosVenta] [varchar](1) NULL,
	[AplicarOfertas] [varchar](1) NULL,
	[FechaAlta] [smalldatetime] NULL,
	[FechaBaja] [smalldatetime] NULL,
	[Estado] [varchar](1) NULL,
	[CodigoBarras] [varchar](20) NULL,
	[HayColores] [varchar](1) NULL,
	[NroTallaje] [int] NULL,
	[Filtro1] [varchar](1) NULL,
	[Filtro2] [varchar](1) NULL,
	[Filtro3] [varchar](1) NULL,
	[Filtro4] [varchar](1) NULL,
	[Filtro5] [varchar](1) NULL,
	[Filtro6] [varchar](1) NULL,
	[ImpDebe] [money] NULL,
	[ImpHaber] [money] NULL,
	[ImpSaldo] [money] NULL,
	[ArchivoFoto] [varchar](100) NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteModifFoto] [datetime] NULL,
	[HayTallas] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[PorDtoVta] [float] NULL,
	[PorDtoMaxPosible] [float] NULL,
	[HayFechaSerArt] [varchar](1) NULL,
	[ObsPedido] [text] NULL,
	[FactorPto] [int] NULL,
	[VinculoGrupo] [varchar](40) NULL,
	[IP] [varchar](20) NULL,
	[TarifaDto] [int] NULL,
	[ImpConceptos] [money] NULL,
	[FechaInicioCto] [smalldatetime] NULL,
	[FechaFinCto] [smalldatetime] NULL,
	[SoporteEnvases] [varchar](1) NULL,
	[BIC] [varchar](11) NULL,
	[CORE] [varchar](35) NULL,
	[CORE2] [varchar](35) NULL,
	[B2B] [varchar](35) NULL,
	[FechaFirmaCORE] [smalldatetime] NULL,
	[FechaFirmaCORE1] [smalldatetime] NULL,
	[FechaFirmaB2B] [smalldatetime] NULL,
 CONSTRAINT [PK_occli] PRIMARY KEY CLUSTERED 
(
	[Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
