USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocprodia] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocprodia](
	[Fecha] [smalldatetime] NOT NULL,
	[Proveedor] [int] NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[UniEntA] [float] NULL,
	[ImpEntA] [money] NULL,
	[ImpEntSIvaA] [money] NULL,
	[UniVtaA] [float] NULL,
	[ImpBrutoVtaA] [money] NULL,
	[ImpNetoVtaA] [money] NULL,
	[UniEntB] [float] NULL,
	[ImpEntB] [money] NULL,
	[ImpEntSIvaB] [money] NULL,
	[UniVtaB] [float] NULL,
	[ImpBrutoVtaB] [money] NULL,
	[ImpNetoVtaB] [money] NULL,
	[ImpCom] [money] NULL,
	[CteSal] [money] NULL,
	[CteSalSIva] [money] NULL,
	[UniReb] [float] NULL,
	[ImpReb] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
	[UniEntAcuA] [float] NULL,
	[ImpEntAcuA] [money] NULL,
	[ImpEntSIvaAcuA] [money] NULL,
	[UniVtaAcuA] [float] NULL,
	[ImpBrutoVtaAcuA] [money] NULL,
	[ImpNetoVtaAcuA] [money] NULL,
	[UniEntAcuB] [float] NULL,
	[ImpEntAcuB] [money] NULL,
	[ImpEntSIvaAcuB] [money] NULL,
	[UniVtaAcuB] [float] NULL,
	[ImpBrutoVtaAcuB] [money] NULL,
	[ImpNetoVtaAcuB] [money] NULL,
	[CteSalAcu] [money] NULL,
	[CteSalSIvaAcu] [money] NULL,
	[UniRebAcu] [float] NULL,
	[ImpRebAcu] [money] NULL,
	[ImpComAcu] [money] NULL,
 CONSTRAINT [PK_ocprodia] PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC,
	[Proveedor] ASC,
	[Empresa] ASC,
	[Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
