USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocmodinst] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocmodinst](
	[NroModulo] [varchar](50) NOT NULL,
	[Version] [varchar](15) NOT NULL,
	[BaseDatos] [varchar](25) NOT NULL,
	[Clave] [varchar](50) NULL,
 CONSTRAINT [PK_ocmodinst] PRIMARY KEY CLUSTERED 
(
	[Version] ASC,
	[BaseDatos] ASC,
	[NroModulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
