USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocopeven] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocopeven](
	[TipoDoc] [varchar](2) NOT NULL,
	[TipoOpeVenta] [varchar](1) NOT NULL,
	[Descripcion] [varchar](40) NOT NULL,
	[NroCopiasTicket] [int] NULL,
	[SalidaDoc] [varchar](1) NULL,
	[DesglosarIva] [varchar](1) NULL,
	[ResumenIva] [varchar](1) NULL,
	[FormatoFra] [varchar](1) NULL,
	[TextoCab] [ntext] NULL,
	[TextoPie] [ntext] NULL,
	[UsarDriver] [varchar](1) NULL,
	[Formato] [varchar](20) NULL,
	[VerPantalla] [varchar](1) NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocopeven] PRIMARY KEY CLUSTERED 
(
	[TipoDoc] ASC,
	[TipoOpeVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
