USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocniv1] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocniv1](
	[Codigo] [varchar](15) NOT NULL,
	[Nivel] [int] NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Margen] [float] NULL,
	[Ajuste] [money] NULL,
	[AjusteMenos] [money] NULL,
	[GenerarPuntos] [varchar](1) NULL,
	[DescontarPuntos] [varchar](1) NULL,
	[NivelVarios] [varchar](1) NULL,
	[Color] [int] NULL,
	[SurtidoOpt] [int] NULL,
	[Estado] [varchar](1) NULL,
	[Agrupacion] [varchar](3) NULL,
	[NoTrigger] [varchar](1) NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[IncPreSer] [money] NULL,
	[IncPreSerPVP] [money] NULL,
 CONSTRAINT [PK_ocniv1] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
