USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocprotraalm] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocprotraalm](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[EmpresaOri] [int] NOT NULL,
	[AlmacenOri] [int] NOT NULL,
	[EmpresaDes] [int] NOT NULL,
	[AlmacenDes] [int] NOT NULL,
	[CantidadTotal] [float] NULL,
	[CantidadTraOri] [float] NULL,
	[CantidadTraDes] [float] NULL,
	[CantidadATraOri] [float] NULL,
	[CantidadATraDes] [float] NULL,
	[EmpresaTraOri] [int] NULL,
	[TipoDocTraOri] [varchar](2) NULL,
	[EjercicioTraOri] [int] NULL,
	[SerieTraOri] [varchar](2) NULL,
	[NroDocTraOri] [int] NULL,
	[FechaTraOri] [smalldatetime] NULL,
	[VendedorTraOri] [int] NULL,
	[CajaTraOri] [int] NULL,
	[OperacionTraOri] [int] NULL,
	[EmpresaTraDes] [int] NULL,
	[TipoDocTraDes] [varchar](2) NULL,
	[EjercicioTraDes] [int] NULL,
	[SerieTraDes] [varchar](2) NULL,
	[NroDocTraDes] [int] NULL,
	[FechaTraDes] [smalldatetime] NULL,
	[CajaTraDes] [int] NULL,
	[OperacionTraDes] [int] NULL,
	[VendedorTraDes] [int] NULL,
	[AlmacenTrans] [int] NULL,
	[AlmacenTraOri] [int] NULL,
	[AlmacenTraDes] [int] NULL,
	[FechaProTra] [smalldatetime] NULL,
	[CantidadAnulada] [float] NULL,
	[CantidadAAnular] [float] NULL,
	[PrecioSIvaOri] [money] NULL,
	[PrecioCIvaOri] [money] NULL,
	[PrecioSIvaDes] [money] NULL,
	[PrecioCIvaDes] [money] NULL,
	[EmpresaDocTraOri] [int] NULL,
	[EmpresaDocTraDes] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
 CONSTRAINT [PK_ocprotraalm] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC,
	[EmpresaOri] ASC,
	[AlmacenOri] ASC,
	[EmpresaDes] ASC,
	[AlmacenDes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
