USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgrupo] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgrupo](
	[Grupo] [int] NOT NULL,
	[Nombre] [varchar](25) NULL,
	[PermisosMenu] [text] NULL,
	[PermisosSolapa] [text] NULL,
	[PermisosProce] [text] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[DelegacionModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[PermisosCampo] [text] NULL,
 CONSTRAINT [PK_ocgrupo] PRIMARY KEY CLUSTERED 
(
	[Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
