USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajr] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajr](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[Hora] [varchar](8) NULL,
	[Cantidad] [float] NULL,
	[Bruto] [money] NULL,
	[ImpDto] [money] NULL,
	[Neto] [money] NULL,
	[PorRed] [float] NULL,
	[Estado] [varchar](1) NULL,
	[CantidadNew] [float] NULL,
	[BrutoNew] [money] NULL,
	[ImpDtoNew] [money] NULL,
	[NetoNew] [money] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Ejercicio] [int] NULL,
	[Serie] [varchar](2) NULL,
	[NroDoc] [int] NULL,
	[BaseImp1] [money] NULL,
	[PorIva1] [float] NULL,
	[CuotaIva1] [money] NULL,
	[PorRE1] [float] NULL,
	[CuotaRE1] [money] NULL,
	[BaseImp2] [money] NULL,
	[PorIva2] [float] NULL,
	[CuotaIva2] [money] NULL,
	[PorRE2] [float] NULL,
	[CuotaRE2] [money] NULL,
	[BaseImp3] [money] NULL,
	[PorIva3] [float] NULL,
	[CuotaIva3] [money] NULL,
	[PorRE3] [float] NULL,
	[CuotaRE3] [money] NULL,
	[BaseImp4] [money] NULL,
	[PorIva4] [float] NULL,
	[CuotaIva4] [money] NULL,
	[PorRE4] [float] NULL,
	[CuotaRE4] [money] NULL,
	[Cliente] [varchar](15) NULL,
	[Tarifa] [int] NULL,
	[Tipo] [varchar](1) NULL,
	[Vendedor] [int] NULL,
	[TipoTarjeta] [int] NULL,
	[Tarjeta] [money] NULL,
	[ValeTienda] [money] NULL,
	[ValeEmitido] [money] NULL,
	[Filtrado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occajr] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
