USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocofeasp] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocofeasp](
	[Codigo] [varchar](15) NOT NULL,
	[Tarifa] [int] NOT NULL,
	[Serie] [varchar](1) NOT NULL,
	[FechaFinal] [smalldatetime] NOT NULL,
	[ArticuloAsociado] [varchar](15) NOT NULL,
	[Cantidad] [int] NULL,
	[Precio] [money] NOT NULL,
	[PrecioEntrada] [money] NULL,
 CONSTRAINT [PK_ocofeasp] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC,
	[Tarifa] ASC,
	[Serie] ASC,
	[FechaFinal] ASC,
	[ArticuloAsociado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
