USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocdicc] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocdicc](
	[TableName] [varchar](25) NOT NULL,
	[FieldName] [varchar](25) NOT NULL,
	[Caption] [varchar](50) NULL,
	[ClassName] [varchar](25) NULL,
	[ViewNameQy] [varchar](25) NULL,
	[TableNameQy] [varchar](25) NULL,
	[FieldNameQy] [varchar](25) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[FieldType] [int] NULL,
	[DelegacionModif] [int] NULL,
	[WhereQy] [text] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocdicc] PRIMARY KEY CLUSTERED 
(
	[TableName] ASC,
	[FieldName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
