USE [Herreras]
GO
/****** Objeto: Table [dbo].[occliftrpto] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occliftrpto](
	[FactorPto] [int] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[FactorTem] [float] NULL,
	[FactorReb] [float] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occliftrpto] PRIMARY KEY CLUSTERED 
(
	[FactorPto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
