USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocpedrecart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocpedrecart](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[NroRegistro] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[NroLinea] [int] NOT NULL,
	[Serie] [varchar](1) NOT NULL,
	[NroFactura] [int] NULL,
	[Cantidad] [float] NULL,
	[CantidadIncidencia] [float] NULL,
	[TipoIncidencia] [varchar](1) NULL,
	[Precio] [money] NULL,
	[Importe] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocpedrecart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[NroRegistro] ASC,
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC,
	[NroLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
