USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocetiform] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocetiform](
	[NroFormato] [int] NOT NULL,
	[NombreFormato] [varchar](40) NULL,
	[ImpresoraFormato] [varchar](120) NULL,
 CONSTRAINT [PK_ocetiform] PRIMARY KEY CLUSTERED 
(
	[NroFormato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
