USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartser] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartser](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Serie] [varchar](1) NOT NULL,
	[PrecioSIva] [money] NULL,
	[PorDtos] [float] NULL,
	[PrecioCDtosSIva] [money] NULL,
	[CosteCifrado] [varchar](13) NULL,
	[Descripcion] [varchar](15) NULL,
	[ImpCosteFab] [money] NULL,
	[CantidadFab] [float] NULL,
	[PorCoeFab1] [float] NULL,
	[PorCoeFab2] [float] NULL,
	[ImpCosteFabTot] [money] NULL,
	[Patron] [varchar](25) NULL,
	[ObsFab] [text] NULL,
	[NroEscan] [int] NULL,
	[IncPreSer] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
	[ColorPro] [varchar](25) NULL,
	[GrupoPrecios] [int] NULL,
	[PrecioUnidadSIva] [money] NULL,
	[IncPreSerPVP] [money] NULL,
 CONSTRAINT [PK_ocartser] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC,
	[Serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
