USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajt] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajt](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[Cliente] [varchar](15) NULL,
	[Tarifa] [int] NULL,
	[Recogido] [varchar](1) NULL,
	[Tipo] [varchar](1) NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[FechaOpe] [smalldatetime] NOT NULL,
	[Hora] [varchar](8) NOT NULL,
	[Vendedor] [int] NULL,
	[TipoTarjeta] [int] NULL,
	[Tarjeta] [money] NULL,
	[ValeTienda] [money] NULL,
	[ValeEmitido] [money] NULL,
	[Neto] [money] NULL,
	[NetoCIva] [money] NULL,
	[NewNetoCIva] [money] NULL,
	[NetoSIva] [money] NULL,
	[NewNetoSIva] [money] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Ejercicio] [int] NULL,
	[Serie] [varchar](2) NULL,
	[NroDoc] [int] NULL,
	[BaseImp1] [money] NULL,
	[PorcenIva1] [float] NULL,
	[PorcenRecargo1] [float] NULL,
	[BaseImp2] [money] NULL,
	[PorcenIva2] [float] NULL,
	[PorcenRecargo2] [float] NULL,
	[BaseImp3] [money] NULL,
	[PorcenIva3] [float] NULL,
	[PorcenRecargo3] [float] NULL,
	[BaseImp4] [money] NULL,
	[PorcenIva4] [float] NULL,
	[PorcenRecargo4] [float] NULL,
	[Descripcion] [varchar](60) NULL,
	[OperacionOri] [int] NULL,
	[BrutoCIva] [money] NULL,
	[EmpresaDoc] [int] NULL,
	[CuotaIva1] [money] NULL,
	[CuotaRE1] [money] NULL,
	[CuotaIva2] [money] NULL,
	[CuotaRE2] [money] NULL,
	[CuotaIva3] [money] NULL,
	[CuotaRE3] [money] NULL,
	[CuotaIva4] [money] NULL,
	[CuotaRE4] [money] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occajt] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
