USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajvaledto] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajvaledto](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[NroVale] [int] NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[FechaInicio] [smalldatetime] NULL,
	[FechaCaducidad] [smalldatetime] NULL,
	[Vendedor] [int] NULL,
	[ImporteCIva] [money] NULL,
	[EmpresaRcgdo] [int] NULL,
	[AlmacenRcgdo] [int] NULL,
	[CajaRcgdo] [int] NULL,
	[OperacionRcgdo] [int] NULL,
	[FechaRcgdo] [smalldatetime] NULL,
	[VendedorRcgdo] [int] NULL,
	[CodigoBarras] [varchar](20) NULL,
	[Descripcion] [varchar](60) NULL,
	[Niveles] [text] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occajvaledto] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC,
	[NroVale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
