USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocartbap] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocartbap](
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Cantidad] [float] NOT NULL,
	[CodigoBarras] [varchar](20) NOT NULL,
	[InstanteAlta] [datetime] NOT NULL,
	[Orden] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[ColorPro] [varchar](25) NULL,
	[UsoInterno] [varchar](1) NULL,
 CONSTRAINT [PK_ocartbap] PRIMARY KEY CLUSTERED 
(
	[Articulo] ASC,
	[Color] ASC,
	[Talla] ASC,
	[Cantidad] ASC,
	[CodigoBarras] ASC,
	[InstanteAlta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
