USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajd] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajd](
	[Identificador] [int] NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[EmpresaDoc] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Ejercicio] [int] NULL,
	[Serie] [varchar](2) NULL,
	[NroDoc] [int] NULL,
	[Tipo] [varchar](1) NULL,
	[TipoMov] [varchar](2) NULL,
	[Fecha] [smalldatetime] NULL,
	[FechaOpe] [smalldatetime] NULL,
	[Hora] [varchar](8) NULL,
	[Vendedor] [int] NULL,
	[Cliente] [varchar](15) NULL,
	[BrutoCIva] [money] NULL,
	[BrutoSIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpDtoCIva] [money] NULL,
	[ImpDtoSIva] [money] NULL,
	[PuntosConsumidos] [int] NULL,
	[PuntosObtenidos] [int] NULL,
	[FactorPtos] [float] NULL,
	[ImpPuntosCIva] [money] NULL,
	[ImpPuntosSIva] [money] NULL,
	[DtoPorAjusteCIva] [money] NULL,
	[DtoPorAjusteSIva] [money] NULL,
	[Neto] [money] NULL,
	[ValeTienda] [money] NULL,
	[ValeEmitido] [money] NULL,
	[Albaran] [money] NULL,
	[Traspaso] [money] NULL,
	[Deposito] [money] NULL,
	[Encargo] [money] NULL,
	[Recaudado] [money] NULL,
	[Pendiente] [money] NULL,
	[Efectivo] [money] NULL,
	[Euros] [money] NULL,
	[Tarjeta] [money] NULL,
	[ValePromocion] [money] NULL,
	[CambioEur] [money] NULL,
	[CantidadTotal] [float] NULL,
	[Descripcion] [varchar](60) NULL,
	[EmpresaFactura] [int] NULL,
	[AlmacenFactura] [int] NULL,
	[EjercicioFactura] [int] NULL,
	[SerieFactura] [varchar](2) NULL,
	[NroFactura] [int] NULL,
	[FechaCobro] [smalldatetime] NULL,
	[TipoTarjeta] [int] NULL,
	[Banco] [int] NULL,
	[Tarifa] [int] NULL,
	[BaseImp1] [money] NULL,
	[PorcenIva1] [float] NULL,
	[PorcenRecargo1] [float] NULL,
	[BaseImp2] [money] NULL,
	[PorcenIva2] [float] NULL,
	[PorcenRecargo2] [float] NULL,
	[BaseImp3] [money] NULL,
	[PorcenIva3] [float] NULL,
	[PorcenRecargo3] [float] NULL,
	[BaseImp4] [money] NULL,
	[PorcenIva4] [float] NULL,
	[PorcenRecargo4] [float] NULL,
	[Canal] [varchar](1) NULL,
	[OpeCanal] [int] NULL,
	[EnDeposito] [varchar](1) NULL,
	[PorComTarjeta] [float] NULL,
	[PorComVendedor] [float] NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[EmpresaCpda] [int] NULL,
	[AlmacenCpda] [int] NULL,
	[MovimientosVenta] [varchar](2) NULL,
	[EstadoArreglo] [varchar](1) NULL,
	[OperacionCpda] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[EmpresaOri] [int] NULL,
	[AlmacenOri] [int] NULL,
	[EmpresaDes] [int] NULL,
	[AlmacenDes] [int] NULL,
	[EmpresaPed] [int] NULL,
	[EjercicioPed] [int] NULL,
	[SeriePed] [varchar](2) NULL,
	[NroPedido] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[EmpresaProTra] [int] NULL,
	[EjercicioProTra] [int] NULL,
	[SerieProTra] [varchar](2) NULL,
	[NroProTra] [int] NULL,
	[EmpresaCtaCli] [int] NULL,
	[AlmacenCtaCli] [int] NULL,
	[CajaCtaCli] [int] NULL,
	[OperacionCtaCli] [int] NULL,
	[HayPretickets] [varchar](1) NULL,
	[EsRegalo] [varchar](1) NULL,
	[OpeIUD] [varchar](3) NULL,
	[CuotaIVA1] [money] NULL,
	[CuotaRE1] [money] NULL,
	[CuotaIVA2] [money] NULL,
	[CuotaRE2] [money] NULL,
	[CuotaIVA3] [money] NULL,
	[CuotaRE3] [money] NULL,
	[CuotaIVA4] [money] NULL,
	[CuotaRE4] [money] NULL,
 CONSTRAINT [PK_occajd] PRIMARY KEY CLUSTERED 
(
	[Identificador] ASC,
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
