USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocrealtime] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocrealtime](
	[Cantidad] [float] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Empresa] [int] NULL,
	[Almacen] [int] NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Vendedor] [int] NULL,
	[Numero] [int] NOT NULL,
	[Instante] [datetime] NULL,
	[OrdenAlm] [varchar](1) NULL,
	[ImpBruVta] [money] NULL,
	[ImpNetVta] [money] NULL,
	[UniEnt] [float] NULL,
	[UniVta] [float] NULL,
	[ImpVta] [money] NULL,
 CONSTRAINT [PK_ocrealtime] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ocrealtime] ADD  DEFAULT ((0)) FOR [Numero]
GO
