USE [Herreras]
GO
/****** Objeto: Table [dbo].[occlimeddoc] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occlimeddoc](
	[Empresa] [int] NOT NULL,
	[TipoDoc] [varchar](2) NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[Codigo] [int] NOT NULL,
	[Medida] [float] NULL,
	[Cliente] [varchar](15) NULL,
	[Descripcion] [varchar](60) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occlimeddoc] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[TipoDoc] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC,
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
