USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocmoddoc] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocmoddoc](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroDoc] [int] NOT NULL,
	[Almacen] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Fecha] [smalldatetime] NULL,
	[Temporada] [varchar](5) NULL,
	[Cliente] [varchar](15) NULL,
	[Nombre] [varchar](60) NULL,
	[Proveedor] [int] NULL,
	[RazonSocial] [varchar](60) NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Pais] [varchar](15) NULL,
	[NIF] [varchar](15) NULL,
	[Tarifa] [int] NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[Vendedor] [int] NULL,
	[Operador] [int] NULL,
	[PorComision] [float] NULL,
	[PorDtoComercial] [float] NULL,
	[PorDtoComercial2] [float] NULL,
	[Transaccion] [int] NULL,
	[Observacion] [text] NULL,
	[CantidadTotal] [float] NULL,
	[ImpBrutoLineas] [money] NULL,
	[ImpDtoLineas] [money] NULL,
	[ImpNetoLineas] [money] NULL,
	[ImpDtoComercial] [money] NULL,
	[ImpBaseComision] [money] NULL,
	[ImpComision] [money] NULL,
	[ImpCoste] [money] NULL,
	[PorMargen] [float] NULL,
	[ImpDoc] [money] NULL,
	[ImpBaseImp1] [money] NULL,
	[PorIVA1] [float] NULL,
	[PorRE1] [float] NULL,
	[CuotaIVA1] [money] NULL,
	[CuotaRE1] [money] NULL,
	[ImpBaseImp2] [money] NULL,
	[PorIVA2] [float] NULL,
	[PorRE2] [float] NULL,
	[CuotaIVA2] [money] NULL,
	[CuotaRE2] [money] NULL,
	[ImpBaseImp3] [money] NULL,
	[PorIVA3] [float] NULL,
	[PorRE3] [float] NULL,
	[CuotaIVA3] [money] NULL,
	[CuotaRE3] [money] NULL,
	[ImpBaseImp4] [money] NULL,
	[PorIVA4] [float] NULL,
	[PorRE4] [float] NULL,
	[CuotaIVA4] [money] NULL,
	[CuotaRE4] [money] NULL,
	[ImpBaseImp] [money] NULL,
	[CuotaIVA] [money] NULL,
	[CuotaRE] [money] NULL,
	[TotalIVA] [money] NULL,
	[EmpresaOri] [int] NULL,
	[TipoDocOri] [varchar](2) NULL,
	[EjercicioOri] [int] NULL,
	[SerieOri] [varchar](2) NULL,
	[NroDocOri] [int] NULL,
	[CajaOri] [int] NULL,
	[FechaOri] [smalldatetime] NULL,
	[HayColores] [varchar](1) NULL,
	[HayTallas] [varchar](1) NULL,
	[HayFechaSerArt] [varchar](1) NULL,
	[EstadoListado] [varchar](1) NULL,
	[DocExterno] [varchar](20) NULL,
	[NoTrigger] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Bultos] [int] NULL,
 CONSTRAINT [PK_ocmoddoc] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
