USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocgalm] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocgalm](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Nombre] [varchar](60) NOT NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Abreviatura] [varchar](10) NULL,
	[Activo] [varchar](1) NULL,
	[Orden] [varchar](1) NULL,
	[FinFases] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocgalm] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
