USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocrempro] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocrempro](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroRemesa] [int] NOT NULL,
	[Almacen] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Tipo] [varchar](1) NULL,
	[Norma] [varchar](5) NULL,
	[CuentaBanco] [varchar](15) NULL,
	[NroEfectos] [int] NULL,
	[ImpRemesa] [money] NULL,
	[ImpMaximo] [money] NULL,
	[ImpGastos] [money] NULL,
	[ImpComision] [money] NULL,
	[ImpIntereses] [money] NULL,
	[FechaValor] [smalldatetime] NULL,
	[FechaRem] [smalldatetime] NULL,
	[FechaCargo] [smalldatetime] NULL,
	[PorComision] [float] NULL,
	[Observacion] [ntext] NULL,
	[ArchivoRemesa] [varchar](100) NULL,
	[SonAnticipos] [varchar](1) NULL,
	[InstanteConta] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocrempro] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroRemesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
