USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocprocar] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocprocar](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroCarta] [int] NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[Vendedor] [int] NULL,
	[Almacen] [int] NULL,
	[TipoDoc] [varchar](2) NULL,
	[Proveedor] [int] NULL,
	[Nombre] [varchar](60) NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Pais] [varchar](15) NULL,
	[Asunto] [varchar](80) NULL,
	[Texto] [ntext] NULL,
	[ArchivoOrigen] [varchar](20) NULL,
	[ArchivoDestino] [varchar](20) NULL,
	[Estado] [varchar](1) NULL,
	[EstadoListado] [varchar](1) NULL,
	[InstanteListado] [datetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NroMarca] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Temporada] [varchar](5) NULL,
	[Marca] [varchar](40) NULL,
 CONSTRAINT [PK_ocprocar] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroCarta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
