USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocalbempart] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocalbempart](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroAlbaran] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Almacen] [int] NULL,
	[Descripcion] [varchar](60) NULL,
	[Cantidad] [float] NULL,
	[PrecioCosteSIva] [money] NULL,
	[PrecioSIva] [money] NULL,
	[PrecioCIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpNetoCIva] [money] NULL,
	[ImpNetoSIva] [money] NULL,
	[PrecioRebaje] [money] NULL,
	[PrecioRebajeSIva] [money] NULL,
	[PorIVA] [float] NULL,
	[PorRE] [float] NULL,
	[TipoArt] [varchar](1) NULL,
	[StatusPrecioManual] [varchar](1) NULL,
	[StatusRebaja] [varchar](1) NULL,
	[StatusOferta] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
 CONSTRAINT [PK_ocalbempart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroAlbaran] ASC,
	[Orden] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
