USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocalmubimovart] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocalmubimovart](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroAlmUbiMov] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Fila] [int] NOT NULL,
	[Id] [int] NULL,
	[Instante] [datetime] NULL,
	[Articulo] [varchar](15) NULL,
	[Color] [varchar](25) NULL,
	[Talla] [varchar](7) NULL,
	[Descripcion] [varchar](60) NULL,
	[Cantidad] [float] NULL,
	[Ubicacion] [varchar](25) NULL,
	[CodBar] [varchar](15) NULL,
	[Direccion] [varchar](1) NULL,
	[Almacen] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[InstanteAlmUbi] [datetime] NULL,
	[CodBarAlmUbi] [varchar](15) NULL,
 CONSTRAINT [PK_ocalmubimovart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroAlmUbiMov] ASC,
	[Orden] ASC,
	[Fila] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
