USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocfacproart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocfacproart](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroFactura] [int] NOT NULL,
	[Fila] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Almacen] [int] NULL,
	[Descripcion] [varchar](60) NULL,
	[Cantidad] [float] NULL,
	[PrecioSIva] [money] NULL,
	[PrecioCIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpNetoCIva] [money] NULL,
	[ImpNetoSIva] [money] NULL,
	[PrecioRebaje] [money] NULL,
	[PrecioRebajeSIva] [money] NULL,
	[PorIVA] [float] NULL,
	[PorRE] [float] NULL,
	[EmpresaAlbaran] [int] NULL,
	[AlmacenAlbaran] [int] NULL,
	[EjercicioAlbaran] [int] NULL,
	[SerieAlbaran] [varchar](2) NULL,
	[NroAlbaran] [int] NULL,
	[FechaAlbaran] [smalldatetime] NULL,
	[StatusPrecioManual] [varchar](1) NULL,
	[StatusOferta] [varchar](1) NULL,
	[NumeroMovArt] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[TipoDocAlbaran] [varchar](2) NULL,
	[IdAlb] [int] NULL,
 CONSTRAINT [PK_ocfacproart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroFactura] ASC,
	[Fila] ASC,
	[Orden] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
