USE [Herreras]
GO
/****** Objeto: Table [dbo].[occliacualm] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occliacualm](
	[Cliente] [varchar](15) NOT NULL,
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[FechaUltVenta] [smalldatetime] NULL,
	[FechaUltCobro] [smalldatetime] NULL,
	[Saldo] [money] NULL,
	[SaldoPuntos] [int] NULL,
	[FechaPuntos] [smalldatetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_occliacualm] PRIMARY KEY CLUSTERED 
(
	[Cliente] ASC,
	[Empresa] ASC,
	[Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
