USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocalm] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocalm](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Abreviatura] [varchar](10) NULL,
	[NIF] [varchar](15) NULL,
	[Activo] [varchar](1) NULL,
	[Reponer] [varchar](1) NULL,
	[OrigenRepos] [varchar](1) NULL,
	[DestinoRepos] [varchar](1) NULL,
	[Deposito] [varchar](1) NULL,
	[DepositoPro] [varchar](1) NULL,
	[PorStock] [float] NULL,
	[Orden] [varchar](1) NULL,
	[Transito] [varchar](1) NULL,
	[AlmacenTransito] [int] NULL,
	[GrupoAlmacen] [int] NULL,
	[Cliente] [varchar](15) NULL,
	[ClienteFraCdo] [varchar](15) NULL,
	[SerieFraCdo] [varchar](2) NULL,
	[Tarifa] [int] NULL,
	[IP] [varchar](60) NULL,
	[PorcentajeVentaN] [float] NULL,
	[Observacion] [text] NULL,
	[Logotipo] [image] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[Auxiliar] [varchar](1) NULL,
	[EmpresaDepPro] [int] NULL,
	[AlmacenDepPro] [int] NULL,
	[Taras] [varchar](1) NULL,
	[PrioridadOri] [varchar](1) NULL,
	[Lock] [varchar](1) NULL,
	[AlmacenLock] [int] NULL,
	[Regulador] [varchar](1) NULL,
	[PrioridadDes] [varchar](1) NULL,
	[StockMinArtOri] [float] NULL,
	[StockMinColOri] [float] NULL,
	[StockMinTalOri] [float] NULL,
	[AplicarRebaja] [varchar](1) NULL,
	[SerieAlmCol] [int] NULL,
	[IncAlmCol] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[FechaAlta] [smalldatetime] NULL,
	[FechaBaja] [smalldatetime] NULL,
	[GrupoEst] [varchar](1) NULL,
 CONSTRAINT [PK_ocalm] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
