USE [Herreras]
GO
/****** Objeto: Table [dbo].[octarreg] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octarreg](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[NroTarjeta] [int] NOT NULL,
	[CodigoBarras] [varchar](20) NOT NULL,
	[ImporteTarjeta] [money] NULL,
	[ImporteActual] [money] NULL,
	[Estado] [varchar](1) NULL,
	[FechaCaducidad] [smalldatetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [smalldatetime] NULL,
 CONSTRAINT [PK_octarreg] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[NroTarjeta] ASC,
	[CodigoBarras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
