USE [Herreras]
GO
/****** Objeto: Table [dbo].[octiposiva] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octiposiva](
	[Descripcion] [varchar](40) NOT NULL,
	[InstanteModif] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[TipoIva] [int] NOT NULL,
	[ColumnaInformes] [int] NULL,
	[InstanteTraspaso] [datetime] NULL,
 CONSTRAINT [PK_octiposiva] PRIMARY KEY CLUSTERED 
(
	[TipoIva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[octiposiva] ADD  CONSTRAINT [DF__octiposiv__TipoI__4DBF7024]  DEFAULT ((0)) FOR [TipoIva]
GO
