USE [Herreras]
GO
/****** Objeto: Table [dbo].[occonpzo] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occonpzo](
	[Plazo] [int] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[NroPlazos] [int] NULL,
	[DiasPrimerPlazo] [int] NULL,
	[DiasEntrePlazos] [int] NULL,
	[DiasRetroceso] [int] NULL,
	[MesComercial] [varchar](1) NULL,
	[ControlFestivos] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
 CONSTRAINT [PK_occonpzo] PRIMARY KEY CLUSTERED 
(
	[Plazo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
