USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocven] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocven](
	[Vendedor] [int] NOT NULL,
	[Nombre] [varchar](60) NOT NULL,
	[Direccion1] [varchar](60) NULL,
	[Direccion2] [varchar](60) NULL,
	[CodPostal] [varchar](10) NULL,
	[CodProv] [varchar](5) NULL,
	[CodMuni] [varchar](7) NULL,
	[Poblacion] [varchar](30) NULL,
	[Provincia] [varchar](25) NULL,
	[NIF] [varchar](15) NULL,
	[Telefono1] [varchar](15) NULL,
	[Telefono2] [varchar](15) NULL,
	[TelefonoMovil] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Pais] [varchar](15) NULL,
	[Email] [varchar](60) NULL,
	[SeguridadSocial] [varchar](15) NULL,
	[SerieVenta] [varchar](2) NULL,
	[NombreTicket] [varchar](1) NULL,
	[Abreviatura] [varchar](15) NULL,
	[Cargo] [varchar](25) NULL,
	[TarifaCosteArr] [int] NULL,
	[TarifaPVPArr] [int] NULL,
	[Proveedor] [int] NULL,
	[IndicadorIVA] [varchar](1) NULL,
	[Entidad] [varchar](4) NULL,
	[Oficina] [varchar](4) NULL,
	[DigitosControl] [varchar](2) NULL,
	[NroCuenta] [varchar](10) NULL,
	[IBAN] [varchar](35) NULL,
	[FechaNac] [smalldatetime] NULL,
	[FechaAlta] [smalldatetime] NULL,
	[FechaBaja] [smalldatetime] NULL,
	[ArchivoFoto] [varchar](100) NULL,
	[Observacion] [text] NULL,
	[Password] [varchar](20) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[VendedorVarios] [varchar](1) NULL,
	[PorComMay] [float] NULL,
	[CodigoComVtaMay] [int] NULL,
	[CodigoComDtoMay] [int] NULL,
	[BaseComCIvaMay] [varchar](1) NULL,
	[PorComCdo] [float] NULL,
	[CodigoComVtaCdo] [int] NULL,
	[CodigoComDtoCdo] [int] NULL,
	[BaseComCIvaCdo] [varchar](1) NULL,
	[TipoIva] [int] NULL,
	[SupervisorCom] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[Estado] [varchar](1) NULL,
 CONSTRAINT [PK_ocven] PRIMARY KEY CLUSTERED 
(
	[Vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
