USE [Herreras]
GO
/****** Objeto: Table [dbo].[octem] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[octem](
	[Temporada] [varchar](5) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[FechaInicial] [smalldatetime] NULL,
	[FechaFinal] [smalldatetime] NULL,
	[AplicarRebaja] [varchar](1) NULL,
	[Abreviatura] [varchar](10) NULL,
	[ActualCompras] [varchar](1) NULL,
	[ActualVentas] [varchar](1) NULL,
	[EsContinuidad] [varchar](1) NULL,
	[FechaIni1] [smalldatetime] NULL,
	[FechaFin1] [smalldatetime] NULL,
	[FechaIni2] [smalldatetime] NULL,
	[FechaFin2] [smalldatetime] NULL,
	[FechaIni3] [smalldatetime] NULL,
	[FechaFin3] [smalldatetime] NULL,
	[FechaIni4] [smalldatetime] NULL,
	[FechaFin4] [smalldatetime] NULL,
	[FechaIni5] [smalldatetime] NULL,
	[FechaFin5] [smalldatetime] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[FechaInicialVta] [smalldatetime] NULL,
	[FechaFinalVta] [smalldatetime] NULL,
	[SurtidoOpt] [int] NULL,
	[Estado] [varchar](1) NULL,
	[NoTrigger] [varchar](1) NULL,
	[FechaInicialEnt] [smalldatetime] NULL,
	[FechaFinalEnt] [smalldatetime] NULL,
 CONSTRAINT [PK_octem] PRIMARY KEY CLUSTERED 
(
	[Temporada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
