USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocprecliart] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocprecliart](
	[Empresa] [int] NOT NULL,
	[Ejercicio] [int] NOT NULL,
	[Serie] [varchar](2) NOT NULL,
	[NroPresu] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[Almacen] [int] NULL,
	[Descripcion] [ntext] NULL,
	[TipoArt] [varchar](1) NULL,
	[Fecha] [smalldatetime] NULL,
	[Cantidad] [float] NULL,
	[PrecioSIva] [money] NULL,
	[PrecioCIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpNetoSIva] [money] NULL,
	[ImpNetoCIva] [money] NULL,
	[PrecioRebaje] [money] NULL,
	[PrecioRebajeSIva] [money] NULL,
	[PrecioCosteSIva] [money] NULL,
	[PorIva] [float] NULL,
	[PorRE] [float] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[FechaSer] [smalldatetime] NULL,
	[CantidadLock] [float] NULL,
 CONSTRAINT [PK_ocprecliart] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Ejercicio] ASC,
	[Serie] ASC,
	[NroPresu] ASC,
	[Orden] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
