USE [Herreras]
GO
/****** Objeto: Table [dbo].[occajarp] Fecha de script: 20/05/2026 5:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occajarp](
	[Empresa] [int] NOT NULL,
	[Almacen] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Operacion] [int] NOT NULL,
	[NroLinea] [int] NOT NULL,
	[Articulo] [varchar](15) NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Talla] [varchar](7) NOT NULL,
	[TipoMov] [varchar](2) NULL,
	[Vendedor] [int] NULL,
	[Cantidad] [float] NULL,
	[CantidadOferta] [float] NULL,
	[PrecioCIva] [money] NULL,
	[PrecioSIva] [money] NULL,
	[PrecioOferta] [money] NOT NULL,
	[PrecioTarifaSIva] [money] NULL,
	[PrecioCosteSIva] [money] NULL,
	[PrecioMedio] [money] NULL,
	[PrecioMedioSIva] [money] NULL,
	[BrutoCIva] [money] NULL,
	[BrutoSIva] [money] NULL,
	[PorDto] [float] NULL,
	[ImpDtoCIva] [money] NULL,
	[ImpDtoSIva] [money] NULL,
	[ImpDtoLinealCIva] [money] NULL,
	[ImpDtoLinealSIva] [money] NULL,
	[NetoParcialCIva] [money] NULL,
	[NetoParcialSIva] [money] NULL,
	[ProrrateoDtoOpeCIva] [money] NULL,
	[ProrrateoDtoOpeSIva] [money] NULL,
	[ProrrateoDtoPtosSIva] [money] NULL,
	[ProrrateoDtoPtosCIva] [money] NULL,
	[NetoCIva] [money] NULL,
	[NetoSIva] [money] NULL,
	[PorIva] [float] NULL,
	[PorRecargo] [float] NULL,
	[BaseImponible] [money] NULL,
	[NumeroMovArt] [int] NULL,
	[NumeroMovArtCpda] [int] NULL,
	[Descripcion] [varchar](30) NULL,
	[PteFacturar] [varchar](1) NULL,
	[Facturado] [varchar](1) NULL,
	[PuntosConsumidos] [float] NULL,
	[PuntosObtenidos] [float] NULL,
	[StatusPrecioManual] [varchar](1) NULL,
	[StatusOferta] [varchar](1) NULL,
	[StatusRebaja] [varchar](1) NULL,
	[StatusPteCobro] [varchar](1) NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[IdPed] [int] NULL,
	[NoTrigger] [varchar](1) NULL,
	[EmpresaLiq] [int] NULL,
	[EjercicioLiq] [int] NULL,
	[SerieLiq] [varchar](2) NULL,
	[NroLiq] [int] NULL,
	[FechaLiq] [smalldatetime] NULL,
	[PrecioCosteCIva] [money] NULL,
	[EmpresaPed] [int] NULL,
	[EjercicioPed] [int] NULL,
	[SeriePed] [varchar](2) NULL,
	[NroPedido] [int] NULL,
	[FactorPtos] [float] NULL,
	[EmpresaCtaCli] [int] NULL,
	[AlmacenCtaCli] [int] NULL,
	[CajaCtaCli] [int] NULL,
	[OperacionCtaCli] [int] NULL,
	[PorComArt] [float] NULL,
	[PorComVen] [float] NULL,
	[ImpComArt] [money] NULL,
	[FechaArt] [smalldatetime] NULL,
 CONSTRAINT [PK_occajarp] PRIMARY KEY CLUSTERED 
(
	[Empresa] ASC,
	[Almacen] ASC,
	[Caja] ASC,
	[Operacion] ASC,
	[NroLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
