USE [Herreras]
GO
/****** Objeto: Table [dbo].[ocdtotipcli] Fecha de script: 20/05/2026 5:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocdtotipcli](
	[Tipo] [varchar](1) NOT NULL,
	[Nivel] [varchar](15) NOT NULL,
	[Descripcion] [varchar](40) NULL,
	[PorDto] [float] NULL,
	[Estado] [varchar](1) NULL,
	[EmpresaModif] [int] NULL,
	[AlmacenModif] [int] NULL,
	[InstanteModif] [datetime] NULL,
	[InstanteTraspaso] [datetime] NULL,
	[NoTrigger] [varchar](1) NULL,
 CONSTRAINT [PK_ocdtotipcli] PRIMARY KEY CLUSTERED 
(
	[Tipo] ASC,
	[Nivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
